.headline-bg {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 500px;
    background: #BE2724 url('../images/pattern.png');
}
.story-section {
    padding-top: 90px;
    position: relative;
    z-index: 10;
}
.story-section .title {
    font-size: 36px;
    margin-bottom: 60px;
    margin-top: 0;
    color: #fff;
    font-weight: 300;
	text-transform:capitalize;
}
.story-section .story-container-inner {
    max-width: 1000px;
    margin: 0 auto;
    background: #fff;
    padding: 30px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    text-align: left;
}
.story-section .about {
    padding: 30px;
}
.story-section .about p {
    margin-bottom: 15px;
    line-height: 1.5;
	font-size:16px;
}
.story-section .team {
    display: none;
    max-width: 900px;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
}
.story-section .team .title {
    color: #444444;
    font-size: 28px;
	text-transform:capitalize;
}
.story-section .team .member {
    margin-bottom: 30px;
}
.story-section .team .member .member-inner {
    background: #253340;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    position: relative;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    text-align: center;
}
.story-section .team .member .profile {
    background: #253340;
    color: #fff;
    text-align: center;
}
.story-section .team .member .member-inner img {
    margin: 0 auto;
}
.story-section .team .member .profile .info {
    padding: 15px 0;
}
.story-section .team .member .social {
    width: 100%;
    top: 50%;
    position: absolute;
    visibility: hidden;
}
.story-section .team .member .member-inner:hover .social {
    visibility: visible;
}
.story-section .team .member .social-list {
    display: inline-block;
    margin: 0 auto;
}
.story-section .team .member .social-list a {
    color: #fff;
    background: #253340;
    display: inline-block;
    width: 40px;
    height: 40px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.story-section .team .member .social-list a .fa {
    padding-top: 10px;
    font-size: 18px;
}
.contact-other-section .title {
    font-size: 36px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 30px;
	text-transform:capitalize;
}
.section .intro {
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 60px;
    text-align: center;
    color: #999999;
    font-size: 18px;
}
.contact-other-section .other-info li {
    margin-bottom: 21px;
    padding: 15px;
    position: relative;
    color: #666666;
    text-align: left;
    padding-left: 90px;
    -webkit-box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05);
    border: 1px solid #eeeeee;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.contact-other-section .other-info li .fa {
    position: absolute;
    left: 0;
    top: 0;
    background: #d7251d;
    color: #fff;
    width: 60px;
    height: 100%;
    font-size: 20px;
    padding-top: 15px;
    text-align: center;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-topleft: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.contact-other-section .other-info li a {
    color: #666666;
}
.contact-other-section .other-info li a:hover {
    color: #d7251d;
	text-decoration:underline;
}
.contact-other-section .other-info li .fa.fa-map-marker {
    font-size: 22px;
    /*padding-top: 45px;*/
}
.map-section {
    padding-top: 80px;
    padding-bottom: 80px;
}
.map-section .title {
    font-size: 36px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 30px;
	text-transform:capitalize;
}
.map-section .gmap-wrapper {
    padding: 10px;
    border: 1px solid #eeeeee;
    -webkit-box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.map-section .gmap {
    height: 250px;
    text-align: left;
    font-weight: normal;
}
.map-section .gmap iframe{
	width:100%;
	height:100%;
}
@media (min-width: 992px){
	.story-section {
		padding-top: 170px;
	}
}
@media (min-width: 768px){
	.story-section {
		padding-top: 90px;
	}
}