#page-title {
    position: relative;
    /*padding: 50px 0;*/
    padding-top: 23px;
    background:#BE2724 url('../images/pattern.png');
    border-bottom: 1px solid #EEE;
}
nav#settings.navbar.navbar-default{
		background:#BE2724 url('../images/pattern.png');
}
#page-title .container {
    position: relative;
}
#page-title h1 {
    padding: 0;
    margin: 0;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
    font-size: 28px;
    text-transform: uppercase;
}
.breadcrumb {
    position: absolute !important;
    width: auto !important;
    top: 50% !important;
    left: auto !important;
    right: 15px !important;
    margin: -10px 0 0 0 !important;
    background-color: transparent !important;
    padding: 0 !important;
    font-size: 12px;
}
.breadcrumb a {
    color: #555;
}
#content {
    position: relative;
    overflow: hidden;
    background-color: #FFF;
}
.content-wrap {
    position: relative;
    /*padding: 40px 0;*/
	overflow:visible !important;
}
#content .container {
    position: relative;
}
.content-wrap .card-body{
	min-height:300px;
}
.updateProfile label{
	/*font-family: "Dosis", Arial, sans-serif;*/
    font-size: 12px;
    font-weight: 400;
    /*letter-spacing: 4px;*/
    text-transform: uppercase;
    /*color: #111;*/
    /*display: block;*/
    margin-bottom: 15px;
}
.updateProfile form .form-group input, .updateProfile form .form-group select {
    /*width: 100%;*/
    padding-left: 10px;
    /*height: 40px;*/
    font-weight: 300;
    font-size: 14px;
	/*border-radius:0;*/
}
textarea{
	/*border-radius:0 !important;*/
	font-weight: 300;
    font-size: 14px !important;
}
.card-body .nav-tabs > li > a{
	color:#111;
}
div.addstaff{
	text-align: center;
}
.csvcol{
    margin-top: 10px;
}