<style>
	.row{
		margin-top: 15px;
	}
	.col-xs-4{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
	nav.navbar.navbar-default.navbar-fixed-top{
        /*border-bottom: 1px solid #e7e7e7 !important;*/
    }
    span.matcherror{
    	color: red;
    	display: block;
    	text-align: center;
    }
    body{
    	background: url('images/bg.png');
    }
</style>
<div ng-include="'includes/header.html'"></div>

<div class="container-fluid">
	<div class="row">
		<!--<section id="page-title">
		    <div class="container clearfix">
		        <div class="row">
		            <div class="col-md-12 col-sm-12 form-group">
		                <h1 class="text-center">Reset Password</h1>
		            </div>
		        </div>
		    </div>
		</section>-->
		<div class="col-xs-4 col-xs-offset-4">
			<!--<h1 class="text-center">Hello World!!</h1>-->
			<p class="text-center" style="margin-bottom:10px;">You have come to the right place to reset a forgotten password.</p>
			<form name="forgotForm" ng-submit="reset(user)">
				<div class="form-group">
					<label for="password1">Please Enter New Password</label>
					<input type="password" class="form-control" id="password1" name="pass1" placeholder="Please Enter New Password" ng-model="user.user_password" required/>
				</div>
				<div class="form-group">
					<label for="password2">Confrim Password</label>
					<input type="password" class="form-control" id="password2" name="pass2" placeholder="Confirm Password" ng-model="user.confirm_password" ng-pattern="user.user_password" required/>
				</div>
				<div class="form-group">
					<span class="matcherror" ng-show="forgotForm.user.confirm_password.$error.pattern">The passwords you entered don't match</span>
				</div>
				<button type="submit" class="btn btn-danger btn-block" ng-disabled="forgotForm.$invalid" >
					<span id="reset-password">Reset Password</span>
					<img id="spinner-reset" class="spinner" src="images/spinner.gif" width="30">
				</button>
			</form>
		</div>
	</div>
</div>
