<style>
    .updateProfile label.error{
        color: #be2626 !important;
    }
    button{
    	border-radius: 5px;
    }
    button.submit-btn.btn-blue{
    	font-size: 20px;
    }
    nav.navbar.navbar-default.navbar-fixed-top{
        border-bottom: 1px solid black !important;
    }
</style>
<div id="page" class="page">
    <div ng-include="'includes/header.html'"></div>
    <section id="page-title">
        <div class="container clearfix">
            <div class="row">
                <div class="col-md-12 col-sm-12 form-group">
                    <h1 class="text-center">Reset Password</h1>
                </div>
            </div>
        </div>
    </section>
    <section id="content">
        <div class="content-wrap">
            <div class="container padding-top-20 updateProfile">
                <form method="post" id="reset-login">
                    <div class="row form-group">
                        <!--<div class="col-md-3 form-group">
                        </div>-->
                        <div class="col-md-offset-4 col-md-4 form-group">
                            <label>Email</label>
                            <input type="email" placeholder="Enter Email" name="user_email" ng-model="client.user_email" required class="form-control" style="border-radius:5px;">
                        </div>
                        <!--<div class="col-md-3 form-group">
                        </div>-->
                    </div>
                    <div class="row form-group">
                        <!--<div class="col-md-3 form-group">
                        </div>-->
                        <div class="col-md-offset-4 col-md-4 form-group">
                            <label>Password</label>
                            <input type="password" placeholder="Enter Password" name="user_password" ng-model="client.user_password" required class="form-control" style="border-radius:5px;">
                        </div>
                        <!--<div class="col-md-3 form-group">
                        </div>-->
                    </div>
                    <div class="row form-group">
                        <!--<div class="col-md-3 form-group">
                        </div>-->
                        <div class="col-md-offset-4 col-md-4 form-group">
                            <button class="submit-btn btn-blue" name="signup" ng-click="login(client)">
                                <span>Login To Continue</span>
                                <img id="spinner-login" class="spinner" src="images/spinner.gif" width="30">
                            </button>
                        </div>
                        <div class="col-md-3 form-group">
                        </div>
                    </div>
                </form>

                <form method="post" id="reset-password" style="display: none;">
                    <div class="row form-group">
                        <!--<div class="col-md-3 form-group">
                        </div>-->
                        <div class="col-md-4 col-md-offset-4 form-group">
                            <label>Current Password</label>
                            <input type="password" style="border-radius:5px;"placeholder="Enter Current Password" name="user_password" required class="form-control">
                        </div>
                        <!--<div class="col-md-3 form-group">
                        </div>-->
                    </div>
                    <div class="row form-group">
                        <!--<div class="col-md-3 form-group">
                        </div>-->
                        <div class="col-md-4 col-md-offset-4 form-group">
                            <label>New Password</label>
                            <input type="password" style="border-radius:5px;"placeholder="Enter New Password" name="new_password" id="new_password" required ng-model="user.user_password" class="form-control">
                        </div>
                        <!--<div class="col-md-3 form-group">
                        </div>-->
                    </div>
                    <div class="row form-group">
                        <!--<div class="col-md-3 form-group">
                        </div>-->
                        <div class="col-md-4 col-md-offset-4 form-group">
                            <label>Confirm Password</label>
                            <input type="password" style="border-radius:5px;"placeholder="Confirm New Password" name="confirm_password" id="confirm_password" required ng-model="user.confirm_password" class="form-control">
                        </div>
                        <!--<div class="col-md-3 form-group">
                        </div>-->
                    </div>
                    <div class="row form-group">
                        <!--<div class="col-md-3 form-group">
                        </div>-->
                        <div class="col-md-4 col-md-offset-4 form-group">
                            <button class="submit-btn btn-blue" name="signup" ng-click="resetPassword(user)">
                                <span>Reset Password</span>
                                <img id="spinner-reset" class="spinner" src="images/spinner.gif" width="30">
                            </button>
                        </div>
                        <!--<div class="col-md-3 form-group">
                        </div>-->
                    </div>
                </form>
            </div>
        </div>
    </section>
    <div ng-include="'includes/footer.html'"></div>
</div>
<!-- Range Slider -->
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/application.js"></script>
<script src="js/owl.carousel.js"></script>