<style type="text/css">
    #customer_details.flip-content td:last-child, #customer_details.flip-content th:last-child{border-bottom: none !important;}
</style>
<!-- BEGIN HEADER -->
<div data-ng-include="'includes/header2.html'" class="page-header md-shadow-z-1-i navbar navbar-fixed-top"></div>
<!-- END HEADER -->
<div class="clearfix">
</div>
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <div data-ng-include="'includes/sidebar.html'" data-ng-controller="SidebarCtrl" class="page-sidebar-wrapper"></div>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content fade-in-up">
            <!-- BEGIN PAGE HEADER-->
            <h3 class="page-title">
                Borrow | Details <!--<small>reports & statistics</small>-->
            </h3>
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <i class="fa fa-home"></i>
                        <a href="#/admin/dashboard">Home</a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <a href="#/admin/borrow_history">Borrow Histories</a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <a href="javascript:;">Borrow | Details</a>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="portlet light">
                        <div class="col-lg-6">
                            <div class="row">
                                <div id="profile_info">
                                    <div id="customer_photo" class="col-sm-4 no-pad-r">
                                        <img src="images/photo.png" class="img-responsive" alt=""/>
                                    </div>
                                    <div class="portlet-body flip-scroll col-sm-8">
                                        <table  id="customer_details" class="table table-condensed flip-content">
                                            <thead class="flip-content">
                                            <tr>
                                                <th>Firstname</th>
                                                <th>Lastname</th>
                                                <th>Middlename</th>
                                                <th>Phone No</th>
                                                <th>Company</th>
                                                <th>Email</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td ng-bind="profile.firstname | chkNull"></td>
                                                <td ng-bind="profile.lastname | chkNull"></td>
                                                <td ng-bind="profile.middlename | chkNull"></td>
                                                <td ng-bind="profile.phone_number | chkNull"></td>
                                                <td ng-bind="profile.company_name | chkNull"></td>
                                                <td ng-bind="profile.email | chkNull"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div id="spinner_profile" class="profile_loader" style="display:none;">
                                    <img src="images/loading.gif" alt="Loading">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div id="payment_info">
                                <!--<div class="caption">
                                    <i class="fa fa-shopping-cart"></i>&nbsp;Serial #A24178SD9S22SU... | <span class="hidden-480" ng-bind="loan.date_of_request"></span>
                                </div>-->
                                <div class="row">
                                    <div class="col-lg-6 text-center">
                                        <!--<hr>-->
                                        <!--<h3 class="font-grey-mint" style="padding-top:40px;"><strong>AMOUNT:</strong></h3>
                                        <h2><span>{{loan.loan_amount | currency: "₦"}}</span> </h2>-->
                                    </div>
                                    <!--<div class="col-lg-6" style="padding-left: 40px;">
                                        <div class="margin-top-50"></div>
                                        <a id="processed-button" href="javascript:;" class="btn btn-xl btn-disabled" ng-show="loan.approve != 4">
                                            Paid Off/ Cleared <i class="fa fa-5x fa-check-circle"></i>
                                        </a>
                                        <span class="staff-actions" ng-show="loan.approve_flag < 4">
                                            <p ng-if="loan.approve == 1">
                                                <div class="margin-top-20"></div>
                                                <a id="payment-button" ng-click="authenticate(loan.borrow_id,'approve')" class="btn btn-xl btn-success">
                                                    Approve <i class="fa fa-5x fa-check-circle"></i>
                                                </a>
                                            </p>
                                            <p ng-if="loan.approve == 1">
                                                <a id="print-button" class="btn btn-lg btn-danger hidden-print margin-bottom-5"  ng-click="authenticate(loan.borrow_id,'reject')">
                                                    Decline <i class="fa fa-times-circle"></i>
                                                </a>
                                            </p>
                                            <p ng-if="loan.approve ==2">
                                                <div class="margin-top-20"></div>
                                                <a id="payment-button" ng-click="authenticate(loan.borrow_id,'disburse')" class="btn btn-xl btn-success">
                                                    Disburse <i class="fa fa-5x fa-check-circle"></i>
                                                </a>
                                            </p>
                                            <p ng-if="loan.approve == 1">
                                                <a id="print-button" class="btn btn-lg btn-danger hidden-print margin-bottom-5"  ng-click="authenticate(loan.borrow_id,'repaid')">
                                                    Fully Repaid <i class="fa fa-times-circle"></i>
                                                </a>
                                            </p>
                                        </span>
                                        <img class="staff-spinner" width="100" src="images/spinner.gif" alt="requesting..." style="display: none;">
                                    </div>-->
                                </div>
                            </div>
                            <div id="spinner_payment" class="profile_loader" style="display:none;">
                                <img src="images/loading.gif" alt="Loading">
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="portlet box red-thunderbird">
                                <div class="portlet-title">
                                    <div class="caption">
                                        Loan Details
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div id="loan_info">
                                        <h6>Loan Amount: <span style="float: right;" ng-bind="loan.loan_amount"></span></h6>
                                        <h6>Amount To Pay: <span style="float: right;" ng-bind="loan.amount_to_pay"></span></h6>
                                        <h6>Status:
                                            <span ng-if="loan.approve_flag == 0">
                                                 <span style="float: right;">Initiated</span>
                                            </span>
                                            <span ng-if="loan.approve_flag == 1">
                                                 <span style="float: right;">Approved</span>
                                            </span>
                                            <span ng-if="loan.approve_flag == 2">
                                                 <span style="float: right;">Awaiting Disbursement</span>
                                            </span>
                                            <span ng-if="loan.approve_flag == 3">
                                                 <span style="float: right;">Disbursed</span>
                                            </span>
                                            <span ng-if="loan.approve_flag == 4">
                                                 <span style="float: right;">Closed</span>
                                            </span>
                                        </h6>
                                        <!--<h6>Process: 
                                            <span ng-if="loan.status_id == 1">
                                                 <span style="float: right;">Inactive</span>
                                            </span>
                                            <span ng-if="loan.status_id == 2">
                                                 <span style="float: right;">Active</span>
                                            </span>
                                        </h6>-->
                                        <h6>
                                        	Date of Request: <span style="float:right;">{{loan.date_of_request | date:'medium'}}</span>
                                        </h6>
                                        <!--<h6>Loan Tenure: <span style="float: right;">{{loan.period}}</span></h6>-->
                                        <h6>Transaction ID: <span style="float: right;">{{loan.transaction_id}}</span></h6>
                                        <h6>Reason: <span style="float:right;">{{loan.reason}}</span></h6>
                                    </div>
                                    <div id="spinner_loan" class="spinner_details" style="display:none;">
                                        <img src="images/spinner.gif" alt="Loading">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="portlet box red-thunderbird">
                                <div class="portlet-title">
                                    <div class="caption">
                                        Bank Details
                                    </div>
                                </div>
                                <div class="portlet-body" style="height:173px;">
                                    <div id="company_info" ng-if="bankDetails">
                                    	 <h6>Account Name:<span style="float: right;" ng-bind="bankDetails.account_name | chkNull"></span></h6>
                                        <h6>Bank Name:<span style="float: right;" ng-bind="bankDetails.bank_name | chkNull"></span></h6>
                                        <h6>Account Number:<span style="float: right;" ng-bind="bankDetails.account_number"></span></h6>
                                        <h6>BVN:<span style="float: right;" ng-bind="bankDetails.bvn"></span></h6>
                                    </div>
                                    <div ng-if="!bankDetails">
                                    	<h5 class="text-center" style="color:red">Bank Details Not Set</h5>
                                    </div>
                                    <div id="spinner_company" class="spinner_details" style="display:none;">
                                        <img src="images/spinner.gif" alt="Loading">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="portlet box red-thunderbird">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-basket"></i>Previous Requests | History
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="row">
                                <div class="col-lg-4">
                                    <input type="text" ng-model="search" class="form-control" placeholder="Search">
                                </div>
                            </div>
                            <div class="margin-top-10"></div>
                            <div id="request_info">
                                <table class="table table-striped table-bordered table-hover" id="editable">
                                    <thead>
                                    <tr>
                                        <th>
                                            #
                                        </th>
                                        <th ng-click="sort('firstname')">
                                            FULL NAME
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='firstname'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th ng-click="sort('company_name')">
                                            COMPANY NAME
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='company_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th ng-click="sort('loan_amount')">
                                            LOAN AMOUNT
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='loan_amount'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th ng-click="sort('amount_to_pay')">
                                            AMOUNT TO PAY
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='amount_to_pay'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th ng-click="sort('phone_number')">
                                            PHONE NUMBER
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='phone_number'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th>LOAN TENURE</th>
                                        <th ng-click="sort('approve_flag')">
                                            PROCESS
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='approve_flag'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th ng-click="sort('status_id')">
                                            STATUS
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='status_id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th>
                                            ACTION
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="odd gradeX" ng-repeat="borrow_history in borrow_histories|orderBy:sortKey:reverse|filter:search">
                                        <td ng-bind="$index + 1"></td>
                                        <td><span ng-bind="borrow_history.firstname"></span> <span ng-bind="borrow_history.middlename"></span> <span ng-bind="borrow_history.lastname"></span></td>
                                        <td ng-bind="borrow_history.company_name | chkNull"></td>
                                        <td ng-bind="borrow_history.loan_amount"></td>
                                        <td ng-bind="borrow_history.amount_to_pay"></td>
                                        <td ng-bind="borrow_history.phone_number | chkNull"></td>
                                        <td>4 months</td>
                                        <td>
                                        <span ng-if="borrow_history.approve_flag == 0">
                                            <label class="badge badge-info">Initiated</label>
                                        </span>
                                        <span ng-if="borrow_history.approve_flag == 1">
                                            <label class="badge badge-success">Approved</label>
                                        </span>
                                        <span ng-if="borrow_history.approve_flag == 2">
                                            <label class="badge badge-warning">Awaiting Disbursement</label>
                                        </span>
                                        <span ng-if="borrow_history.approve_flag == 3">
                                            <label class="badge badge-disabled">Disbursed</label>
                                        </span>
                                         <span ng-if="borrow_history.approve_flag == 4">
                                            <label class="badge badge-success">Closed</label>
                                        </span>
                                        </td>
                                        <td>
                                        <span ng-if="borrow_history.status_id == 1">
                                            <label class="badge badge-default">Inactive</label>
                                        </span>
                                        <span ng-if="borrow_history.status_id == 2">
                                            <label class="badge badge-success">Active</label>
                                        </span>
                                         <span ng-if="borrow_history.status_id == 3">
                                            <label class="badge badge-success">Completed</label>
                                        </span>
                                        </td>
                                        <td>
                                            <a href="#/admin/borrow_history/details/{{borrow_history.borrow_id}}" class="btn btn-danger btn-sm">Details</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div id="spinner_request" class="loader" style="display:none;">
                                <img src="images/loader.gif" alt="Loading">
                            </div>
                            <div class="pull-right">
                                <dir-pagination-controls max-size="10" direction-links="true" boundary-links="true"></dir-pagination-controls>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END CONTENT -->
</div>
<!-- BEGIN FOOTER -->
<div data-ng-include="'includes/footer2.html'" data-ng-controller="FooterCtrl" class="page-footer"></div>
<!-- END FOOTER -->

<!-- END PAGE LEVEL SCRIPTS -->
<script>
    jQuery(document).ready(function() {
        Metronic.init(); // init metronic core componets
        Layout.init(); // init layout
        QuickSidebar.init(); // init quick sidebar
        Demo.init(); // init demo features
        TableManaged.init();
    });
</script>
<!-- END JAVASCRIPTS -->