<style type="text/css">
    fieldset#title{
        border-top: 1px solid #aaa;
        border-bottom: none;
        border-left: none;
        border-right: none;
        display: block;
        text-align: center;
    }
    fieldset#title legend{
        padding: 5px 10px;
        width: 240px;
        border-bottom: none;
    }
    a:hover{
    	text-decoration: underline;
    	color: inherit;
    }
</style>
<!--BEGIN HEADER -->
<div data-ng-include="'includes/header2.html'" class="page-header md-shadow-z-1-i navbar navbar-fixed-top"></div>
<!-- END HEADER -->
<div class="clearfix">
</div>
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <div data-ng-include="'includes/sidebar.html'" data-ng-controller="SidebarCtrl" class="page-sidebar-wrapper"></div>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content fade-in-up">
            <!-- BEGIN PAGE HEADER-->
            <h3 class="page-title">
                Registered Companies <!--<small>reports & statistics</small>-->
            </h3>
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <i class="fa fa-home"></i>
                        <a href="#/admin/dashboard">Home</a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <a href="#/company">Companies</a>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                    <div class="portlet box red-thunderbird">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-wallet"></i>All Approved Companies
                            </div>
                            <div class="actions">
                                <a  ng-hide= "user.user_type_id == 5" href="javascript:;" class="btn btn-default btn-sm" data-toggle="modal" style="color:white;"data-target="#add_company"><i class="fa fa-plus" style="color:white;"></i> Add Company </a>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="row">
                                <!--<div class="col-lg-4">
                                    <input type="text" ng-model="search" class="form-control" placeholder="Search">
                                </div>-->
                            </div>
                            <div class="margin-top-10"></div>
                            <table class="table table-striped table-bordered table-hover" id="editable">
                                <thead>
                                <tr>
                                    <th>
                                        #
                                    </th>
                                    <!--<th ng-click="sort('company_id')">
                                        ID
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='company_id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>-->
                                    <th ng-click="sort('company_name')">
                                        NAME
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='company_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th ng-click="sort('company_info')">
                                        DESCRIPTION
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='company_info'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th ng-click="sort('company_info')">
                                        STAFF STRENGTH
                                        <!--<span class="glyphicon sort-icon" ng-show="sortKey=='company_info'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>-->
                                    </th>
                                    <th ng-hide= "user.user_type_id == 5">
                                        ACTIONS
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="odd gradeX" ng-repeat="company in companies|orderBy:sortKey:reverse|filter:{is_approved:'1'}">
                                    <td ng-bind="$index + 1"></td>
                                    <!--<td ng-bind="company.company_id"></td>-->
                                    <td><a href="#/admin/company/{{company.company_id}}/staffs">{{company.company_name}}</a></td>
                                    <td ng-bind="company.company_info | chkNull"></td>
                                    <td>{{company.company_count}}</td>
                                    <td ng-hide= "user.user_type_id == 5">
                                        <a ng-click="delete(company.company_id,$index)" class="btn btn-danger btn-sm">DELETE</a>

                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="loader" style="display:none;">
                                <img src="images/loader.gif" alt="Loading">
                            </div>
                            <div class="pull-right">
                                <dir-pagination-controls max-size="10" direction-links="true" boundary-links="true"></dir-pagination-controls>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <!-- END EXAMPLE TABLE PORTLET-->
                    <div class="portlet box red-thunderbird">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-wallet"></i>Companies Awaiting Approval 
                            </div>
                            <!--<div class="actions">
                                <a  ng-hide= "user.user_type_id == 5"href="javascript:;" class="btn btn-default btn-sm" data-toggle="modal" style="color:white;"data-target="#add_company"><i class="fa fa-plus" style="color:white;"></i> Add Company </a>
                            </div>-->
                        </div>
                        <div class="portlet-body">
                            <div class="row">
                                <!--<div class="col-lg-4">
                                    <input type="text" ng-model="search" class="form-control" placeholder="Search">
                                </div>-->
                            </div>
                            <div class="margin-top-10"></div>
                            <table class="table table-striped table-bordered table-hover" id="editable">
                                <thead>
                                <tr>
                                    <th>
                                        #
                                    </th>
                                    <!--<th ng-click="sort('company_id')">
                                        ID
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='company_id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>-->
                                    <th ng-click="sort('company_name')">
                                        NAME
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='company_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th ng-click="sort('company_info')">
                                        DESCRIPTION
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='company_info'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <!--<th ng-click="sort('company_info')">
                                        STAFF STRENGTH-->
                                        <!--<span class="glyphicon sort-icon" ng-show="sortKey=='company_info'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>-->
                                    <!--</th>-->
                                    <th ng-hide= "user.user_type_id == 5">
                                        ACTIONS
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="odd gradeX" ng-repeat="compan in waiting_companies|orderBy:sortKey:reverse|filter:{is_approved:'0'}">
                                    <td ng-bind="$index + 1"></td>
                                    <!--<td ng-bind="company.company_id"></td>-->
                                    <td><a href="#/admin/company/{{compan.company_id}}/staffs">{{compan.company_name}}</a></td>
                                    <td ng-bind="compan.company_info | chkNull"></td>
                                    <!--<td>{{company.company_count}}</td>-->
                                    <td ng-hide= "user.user_type_id == 5">
                                        <a ng-click="approve(compan.company_id,$index)" class="btn btn-success btn-sm">APPROVE</a>
                                        <a ng-click="decline(compan.company_id,$index)" class="btn btn-danger btn-sm">DECLINE</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="loader" style="display:none;">
                                <img src="images/loader.gif" alt="Loading">
                            </div>
                            <div class="pull-right">
                                <dir-pagination-controls max-size="10" direction-links="true" boundary-links="true"></dir-pagination-controls>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END CONTENT -->
    <!-- BEGIN MODAL VIEWS -->
    <div class="modal fade" id="add_company" tabindex="-1" role="add_company" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Add New Company</h4>
                </div>
                <div class="modal-body">
                    <div class="col-lg-12">
                        <form role="form">
                            <div class="form-body">
                                <div id="error-company" class="alert alert-danger" style="display: none;">
                                    <button class="close" data-close="alert" style="margin-right:10px;"></button>
                                    <span ng-bind="company_error"></span>
                                </div>
                                <div class="form-group">
                                    <label for="form_control_1">Company Name<span style="color:red;">*</span></label>
                                    <input id="form_control_1" type="text" class="form-control" name="company_name" ng-model="company.company_name">
                                </div>
                                <div class="form-group">
                                    <label for="form_control_3">Company Address <span style="color:red;">*</span></label>
                                    <input type="text" class="form-control" name="company_address" ng-model="company.company_address">
                                </div>
                                <div class="form-group">
                                    <label for="form_control_2">Company Information <span style="color:red;">*</span></label>
                                    <textarea id="form_control_2" class="form-control" name="company_info" ng-model="company.company_info" placeholder="What does the company do?">
                                    </textarea>
                                </div>
                                
                                <!--<h4>ADD Admin Details</h4>-->
                                <fieldset id ="title">
                                    <legend>ADMIN DETAILS</legend>
                                </fieldset>
                                <div class="form-group">
                                    <label for="form_control_4">First Name</label>
                                    <input id= "form_control_5" type="text" class="form-control" name="admin_name" ng-model="company.firstname">
                                </div>
                                <div class="form-group">
                                    <label for="form_control_4">Last Name</label>
                                    <input id= "form_control_5" type="text" class="form-control" name="admin_name" ng-model="company.lastname">
                                </div>
                                <div class="form-group">
                                    <label for="form_control_4">Phone Number<span style="color:red;">*</span></label>
                                    <input id= "form_control_5" type="text" class="form-control" name="admin_name" ng-model="company.phone_number">
                                </div>
                                <div class="form-group">
                                    <label for="form_control_4">Email <span style="color:red;">*</span></label>
                                    <input id= "form_control_5" type="text" class="form-control" name="admin_name" ng-model="company.user_email">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-disabled" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" ng-click="addCompany(company)">Add Company
                        <img id="spinner-company" src="images/spinner.gif" width="20"  alt="loading" style="display: none;"/>
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- END MODAL VIEWS -->
</div>
<!-- BEGIN FOOTER -->
<div data-ng-include="'includes/footer2.html'" data-ng-controller="FooterCtrl" class="page-footer"></div>
<!-- END FOOTER -->

<!-- END PAGE LEVEL SCRIPTS -->
<script>
    jQuery(document).ready(function() {
        Metronic.init(); // init metronic core componets
        Layout.init(); // init layout
        QuickSidebar.init(); // init quick sidebar
        Demo.init(); // init demo features
        TableManaged.init();
        ComponentsDropdowns.init();
    });
</script>
<!-- END JAVASCRIPTS