<!-- BEGIN HEADER -->
<div data-ng-include="'includes/header2.html'" class="page-header md-shadow-z-1-i navbar navbar-fixed-top"></div>
<!-- END HEADER -->
<div class="clearfix">
</div>
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <div data-ng-include="'includes/sidebar.html'" data-ng-controller="SidebarCtrl" class="page-sidebar-wrapper"></div>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content fade-in-up">
            <!-- BEGIN PAGE HEADER-->
            <h3 class="page-title">
                Company | Staff <!--<small>reports & statistics</small>-->
            </h3>
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <i class="fa fa-home"></i>
                        <a href="#/admin/dashboard">Home</a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <a href="#/admin/company">Companies</a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <a href="javascript:;">Staff</a>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                    <div class="portlet box red-thunderbird">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-wallet"></i>All Registered Staff in <span>{{staffs[0].company_name}}</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="row">
                                <div class="col-lg-4">
                                    <input type="text" ng-model="search" class="form-control" placeholder="Search">
                                </div>
                            </div>
                            <div class="margin-top-10"></div>
                            <table class="table table-striped table-bordered table-hover" id="editable">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>NAME</th>
                                    <th>EMAIL</th>
                                    <th>PHONE NUMBER</th>
                                    <th>ACTIONS</th>
                                </tr>
                                </thead>
                                <tbody class="table-data">
                                <tr ng-repeat="staff in staffs">
                                    <td ng-bind="$index + 1"></td>
                                    <td>{{staff.firstname || "Null"}} {{staff.lastname || "Null"}}</td>
                                    <!--<td ng-bind="staff.lastname | chkNull"></td>-->
                                    <td ng-bind="staff.email | chkNull"></td>
                                    <td ng-bind="staff.phone_number | chkNull"></td>
                                    <td>
                                        <span class="staff-actions-{{$index}}">
                                            <!--<a href="#/staff/details/{{staff.user_id}}" class="btn btn-danger btn-sm">View Details</a>-->
                                            <a href="#/admin/borrow_history/details/{{staff.user_id}}" class="btn btn-danger btn-sm">View Details</a>
                                        </span>
                                        <img class="staff-spinner-{{$index}}" width="30" src="images/spinner.gif" alt="requesting..." style="display: none;">
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="loader" style="display:none;">
                                <img src="images/loader.gif" alt="Loading">
                            </div>
                            <div class="pull-right">
                                <dir-pagination-controls max-size="10" direction-links="true" boundary-links="true"></dir-pagination-controls>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END CONTENT -->
</div>
<!-- BEGIN FOOTER -->
<div data-ng-include="'includes/footer2.html'" data-ng-controller="FooterCtrl" class="page-footer"></div>
<!-- END FOOTER -->

<!-- END PAGE LEVEL SCRIPTS -->
<script>
    jQuery(document).ready(function() {
        Metronic.init(); // init metronic core componets
        Layout.init(); // init layout
        QuickSidebar.init(); // init quick sidebar
        Demo.init(); // init demo features
        TableManaged.init();
        ComponentsDropdowns.init();
    });
</script>
<!-- END JAVASCRIPTS -->