<!--BEGIN PAGE STYLES -->
<link href="assets/admin/pages/css/tasks.css" rel="stylesheet" type="text/css"/>
<!-- END PAGE STYLES -->
<!-- BEGIN HEADER -->
<div data-ng-include="'includes/header2.html'" class="page-header md-shadow-z-1-i navbar navbar-fixed-top"></div>
<!-- END HEADER -->
<div class="clearfix">
</div>
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <div data-ng-include="'includes/sidebar.html'" data-ng-controller="SidebarCtrl" class="page-sidebar-wrapper"></div>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content fade-in-up">
            <!-- BEGIN PAGE HEADER-->
            <h3 class="page-title">
                Dashboard <!--<small>reports & statistics</small>-->
            </h3>
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <i class="fa fa-home"></i>
                        <a>Home</a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <a href="#/dashboard">Dashboard</a>
                    </li>
                </ul>
                <div class="page-toolbar">
                    <div id="dashboard-report-range" ng-if="false" class="pull-right tooltips btn btn-fit-height grey-salt" data-placement="top" data-original-title="Change dashboard date range">
                        <i class="icon-calendar"></i>&nbsp; <span class="uppercase visible-lg-inline-block"></span>&nbsp; <i class="fa fa-angle-down"></i>
                    </div>
                </div>
            </div>
            <!-- END PAGE HEADER-->
            <!-- BEGIN DASHBOARD STATS -->
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="dashboard-stat red">
                        <div class="visual">
                            <i class="fa fa-bar-chart"></i>
                        </div>
                        <div class="details">
                            <div class="number">
                                 {{total_lent+total_borrowed | currency :'&#8358; ':0}}</span>
                            </div>
                            <div class="desc">
                                Amount Processed ({{lent_count+borrowed_count}})
                            </div>
                        </div>
                        <a class="more" href="javascript:;">
                            View more <i class="m-icon-swapright m-icon-white"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="dashboard-stat blue-steel">
                        <div class="visual">
                            <i class="fa fa-forward"></i>
                        </div>
                        <div class="details">
                            <div class="number">
                                &#8358; <span ng-bind="total_borrowed | number"></span>
                            </div>
                            <div class="desc">
                                Total Amount Borrowed (<span ng-bind="borrowed_count | number"></span>)
                            </div>
                        </div>
                        <a class="more" href="javascript:;">
                            View more <i class="m-icon-swapright m-icon-white"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="dashboard-stat green">
                        <div class="visual">
                            <i class="fa fa-reply"></i>
                        </div>
                        <div class="details">
                            <div class="number">
                                &#8358; <span ng-bind="total_lent | number"></span>
                            </div>
                            <div class="desc">
                                Total Amount Lent (<span ng-bind="lent_count | number"></span>)
                            </div>
                        </div>
                        <a class="more" href="javascript:;">
                            View more <i class="m-icon-swapright m-icon-white"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="dashboard-stat red">
                        <div class="visual">
                            <i class="fa fa-bar-chart"></i>
                        </div>
                        <div class="details">
                            <div class="number">
                                 {{total_declined_amount | currency :'&#8358; ':0}}</span>
                            </div>
                            <div class="desc">
                                Total Declined ({{total_declined_number}})
                            </div>
                        </div>
                        <a class="more" href="javascript:;">
                            View more <i class="m-icon-swapright m-icon-white"></i>
                        </a>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="dashboard-stat blue-madison">
                        <div class="visual">
                            <i class="fa fa-users"></i>
                        </div>
                        <div class="details">
                            <div class="number">
                                <span ng-bind="total_staffs"></span>
                            </div>
                            <div class="desc">
                                Total Users
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="dashboard-stat green-haze">
                        <div class="visual">
                            <i class="fa fa-forward"></i>
                        </div>
                        <div class="details">
                            <div class="number">
                                <span ng-bind="total_borrowers"></span>
                            </div>
                            <div class="desc">
                                Total Borrowers
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="dashboard-stat red-intense">
                        <div class="visual">
                            <i class="fa fa-reply"></i>
                        </div>
                        <div class="details">
                            <div class="number">
                                <span ng-bind="totallends"></span>

                            </div>
                            <div class="desc">
                                Total Lenders
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="dashboard-stat blue">
                        <div class="visual">
                            <i class="fa fa-building"></i>
                        </div>
                        <div class="details">
                            <div class="number">
                                <span ng-bind="total_companies"></span>
                            </div>
                            <div class="desc">
                                Total Registered Companies
                            </div>
                        </div>
                        <!--<a class="more" href="#/admin/company">
                            View more <i class="m-icon-swapright m-icon-white"></i>
                        </a>-->
                    </div>
                </div>
                <!--<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <a href="#/admin/notification" style="width: 100%;">
                        <div class="dashboard-stat purple-plum">
                            <div class="visual">
                                <i class="fa fa-warning"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                    <span ng-bind="total_notifications"></span>
                                </div>
                                <div class="desc">
                                    Total Notifications
                                </div>
                            </div>
                        </div>
                    </a>
                </div>-->
            </div>
            <!-- END DASHBOARD STATS -->
            <div class="clearfix">
            </div>
            <div class="row">
                <div class="col-lg-5">
                    <!-- Begin: life time stats -->
                    <div class="portlet box red-thunderbird" style="max-height:533px;overflow-y:scroll;background:white;">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-building"></i><!--Registered--> Companies Overview
                            </div>
                        </div>
                        <div class="portlet-body"  style="height:494.07px">
                            <table class="table table-striped table-bordered table-hover" id="editable">
                                <thead>
                                <tr>
                                    <th>
                                        #
                                    </th>
                                    <th ng-click="sort('company_name')">
                                        NAME
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='company_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th ng-click="sort('number_of_user')">
                                        STAFF
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='number_of_user'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th>
                                        Actions
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="odd gradeX" ng-repeat="company in company_lists|orderBy:sortKey:reverse|filter:search">
                                    <td ng-bind="$index + 1"></td>
                                    <td ng-bind="company.company_name"></td>
                                    <td ng-bind="company.number_of_user"></td>
                                    <td>
                                        <a class="btn btn-sm btn-danger" ng-href="#/admin/company"> View </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div id="spinner-company-reg" class="loader" style="display:none;">
                                <img src="images/loader.gif" alt="Loading">
                            </div>
                        </div>
                    </div>
                    <!-- End: life time stats -->
                </div>
                <div class="col-lg-7">
                    <!-- Begin: life time stats -->
                    <div class="portlet box red-thunderbird">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-bar-chart-o"></i>Graph of Loan Type per month
                            </div>
                            <div class="tools">
                                <a href="javascript:;" class="reload">
                                </a>
                            </div>
                            <ul class="nav nav-tabs" style="margin-right: 10px">
                                <li class="active">
                                    <a ng-href="#portlet_tab1" data-toggle="tab" target="_self">
                                        Loan Summary </a>
                                </li>
                            </ul>
                        </div>
                        <div class="portlet-body">
                            <div id="graph-spinner" class="spinner" style="display: none;">
                                <img id="img-spinner" src="images/graph.gif" alt="Loading">
                            </div>
                            <div id="graph" class="tab-content">
                                <div class="tab-pane active" id="portlet_tab1">
                                    <div id="barchart" style="width: 100%; height: 400px;"><!-- Plotly chart will be drawn inside this DIV --></div>
                                    <script>

                                    // function getScope(ctrlName) {
                                    //     var sel = 'span[ng-controller="' + ctrlName + '"]';
                                    //     return angular.element(sel).scope();
                                    //   }
                                    //   let $scope = getScope('dashboardCtrl');
                                    //   log
                                    //   console.log('Borrow x', $scope.borrow_x);
                                        var trace1 = {
                                            x: ['January','February','March','April','May','June','July','August'
                                                ],
                                            y: [0, 0, 0, 0, 0, 6200, 420000, 205000, 0, 0, 0, 0, 0, 0, 0, 0],
                                            name: 'Lent',
                                            type: 'bar'
                                        };

                                        var trace2 = {
                                            x: ['January','February','March','April','May','June','July','August'
                                                ],
                                            y: [0, 0, 0, 0, 0, 6200, 325000, 182000, 0, 0, 0, 0, 0, 0, 0, 0],
                                            name: 'Borrowed',
                                            type: 'bar'
                                        };

                                        var data = [trace1, trace2];

                                        var layout = {barmode: 'group'};

                                        Plotly.newPlot('barchart', data, layout);
                                    </script>
                                </div>
                            </div>
                            <div class="well no-margin no-border">
                                <div class="row">
                                    <div class="col-lg-1 no-pad">
                                        <label class="control-label" style="margin-top:7px;"> Range:</label>
                                    </div>
                                    <div class="col-lg-9 no-pad">
                                        <div class="col-lg-6 no-pad">
                                            <div class="date form_meridian_datetime" data-date="2016-03-26T15:25:00Z">
                                                <input type="text" size="16" class="form-control date-set" placeholder="Start Time">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 no-pad">
                                            <div class="date form_meridian_datetime" data-date="2016-03-26T15:25:00Z">
                                                <input type="text" size="16" class="form-control date-set"placeholder="End Time">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2" style="padding-right: 0px;">
                                        <a href="javascript:;" class="btn btn-block btn-success" ng-click="filterChart(chart)">Filter</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End: life time stats -->
                </div>
            </div>
            <div class="clearfix">
            </div>
        </div>
    </div>
    <!-- END CONTENT -->
</div>
<!-- BEGIN FOOTER -->
<div data-ng-include="'includes/footer2.html'" data-ng-controller="FooterCtrl" class="page-footer"></div>
<!-- END FOOTER -->

<!-- END PAGE LEVEL SCRIPTS -->
<script>
    jQuery(document).ready(function() {
        Metronic.init(); // init metronic core componets
        Layout.init(); // init layout
        QuickSidebar.init(); // init quick sidebar
        Demo.init(); // init demo features
        UIToastr.init();
        Index.init();
        Index.initDashboardDaterange();
        ComponentsPickers.init();
        ComponentsDropdowns.init();
    });
</script>
<!-- END JAVASCRIPTS -->
