<!-- BEGIN HEADER -->
<div data-ng-include="'includes/header2.html'" class="page-header md-shadow-z-1-i navbar navbar-fixed-top"></div>
<!-- END HEADER -->
<div class="clearfix">
</div>
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <div data-ng-include="'includes/sidebar.html'" data-ng-controller="SidebarCtrl" class="page-sidebar-wrapper"></div>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content fade-in-up">
            <!-- BEGIN PAGE HEADER-->
            <h3 class="page-title">
                Awaiting Disbursement <!--<small>reports & statistics</small>-->
            </h3>
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <i class="fa fa-home"></i>
                        <a href="#/admin/dashboard">Home</a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <a href="#/disbursement">Awaiting Disbursement</a>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                    <div class="portlet box red-thunderbird">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-wallet"></i>All Approved Borrow Requests Awaiting Disbursement
                            </div>
                        </div>
                        <div class="portlet-body">
                            <!--<div class="row">-->
                                <!--<div class="col-lg-4">-->
                                    <!--<input type="text" ng-model="search" class="form-control" placeholder="Search">-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="margin-top-10"></div>-->
                            <table class="table table-striped table-bordered table-hover" id="editable">
                                <thead>
                                <tr>
                                    <th>
                                        #
                                    </th>
                                    <th >
                                        NAME
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='company_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th ng-click="sort('company_name')">
                                        COMPANY
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='company_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th ng-click="sort('loan_amount')">
                                        LOAN
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='loan_amount'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th>LOAN TENURE</th>
                                    <th ng-click="sort('status_id')">
                                        STATUS
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='status_id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th ng-hide="user.user_type_id ==5">
                                        Actions
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="odd gradeX" ng-repeat="disbursement in disbursements|orderBy:sortKey:reverse|filter:{approve_flag:'2'}">
                                    <td ng-bind="$index + 1"></td>
                                    <!--<td ng-bind="disbursement.lastname+' '+disbursement.firstname"></td>-->
                                    <td>{{disbursement.lastname || "Unknown"}} {{disbursement.firstname || "Unknown"}}</td>
                                    <td ng-bind="disbursement.company_name"></td>
                                    <td ng-bind="disbursement.loan_amount | currency : '₦'"></td>
                                    <td ng-bind="disbursement.period+' month(s)'"></td>
                                    <td style="vertical-align: middle">
                                        <label class="badge " style="background-color:{{::defineStatus.color(disbursement.status_id,disbursement.approve_flag)}}">{{::defineStatus.text(disbursement.status_id,disbursement.approve_flag)}}</label>
                                    </td>
                                    <td ng-hide="user.user_type_id ==5">
                                        <span class="staff-actions-{{$index}}">
                                            <a ng-click="disburse(disbursement.borrow_id,$index,disbursement.loan_amount,disbursement.user_login_id,disbursement.period)" class="btn btn-sm btn-success">Disburse</a>
                                            <a href="#/admin/borrow_history/details/{{disbursement.borrow_id}}" class="btn btn-info btn-sm">Details</a>
                                        </span>
                                        <img class="staff-spinner-{{$index}}" width="30" src="images/spinner.gif" alt="requesting..." style="display: none;">
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="loader" style="display:none;">
                                <img id="img-spinner" src="images/loader.gif" alt="Loading">
                            </div>
                            <div class="pull-right">
                                <dir-pagination-controls max-size="10" direction-links="true" boundary-links="true"></dir-pagination-controls>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <!-- END EXAMPLE TABLE PORTLET-->
                </div>
            </div>
        </div>
    </div>
    <!-- END CONTENT -->
    <div class="modal fade" id="disbursemodal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
                    <h5 class="text-center">MODE OF DISBURSEMENT</h5>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <!--<label for="modepay">Please Select Your Mode Of Disbursement</label>-->
                        <select class="form-control" ng-model="paymentoption" ng-options="payment.payment_option_name for payment in paymentoptions">
                            <option value="">....Please Select Your Mode Of Disbursement....</option>
                        </select>
                    </div>
                    <div class="form-group" ng-show="paymentoption.payment_option_name === 'Kegow'">
                        <select class="form-control" ng-model="kegow_transaction_type.payment" ng-options="kegow_transaction.name for kegow_transaction in KegowpaymentOption">
                            <option value="">...Please Select Kegow's Mode of Disbursement...</option>
                        </select>
                    </div>
                    <div class="form-group" ng-show="paymentoption.payment_option_name === 'Bank Deposit'">
                        <input type="text" class="form-control" ng-model="referenceid" placeholder="Please enter reference id"/>
                    </div>
                    <div class="form-group" ng-show="paymentoption.payment_option_name === 'Bank Transfer'">
                        <input type="text" class="form-control" ng-model="referenceid" placeholder="Please enter reference id"/>
                    </div>
                    <div class="form-group" ng-show="paymentoption.payment_option_name === 'Mobile money'">
                        <input type="text" class="form-control" ng-model="referenceid" placeholder="Please enter reference id"/>
                    </div>
                    <div class="form-group">
                        <label for="amdisbursed">Amount To Disburse</label>
                        <input  type="text" class="form-control" ng-model="disburseamount" readonly/>
                    </div>
                    <hr>
                    <p>ACCOUNT DETAILS</p>
                    <p>Account Name: <span class="pull-right">{{bankdetails.account_name}}</span></p>
                    <p>Bank Name: <span class="pull-right">{{bankdetails.bank_name}}</span></p>
                    <p>Account Number: <span class="pull-right">{{bankdetails.account_number}}</span></p>
                    <!--<div class="form-group">
                        <textarea class="form-control" ng-model = "others" placeholder="Please if Other Reasons Specify"></textarea>
                    </div>-->
                    <!--<p>{{paymentoption}}</p>-->
                    <!--<p>Reason for Not granting Loan is {{declineReasons}}</p>-->
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="disbursefinally(paymentoption)" data-dismiss="modal">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- BEGIN FOOTER -->
<div data-ng-include="'includes/footer2.html'" data-ng-controller="FooterCtrl" class="page-footer"></div>
<!-- END FOOTER -->

<!-- END PAGE LEVEL SCRIPTS -->
<script>
    jQuery(document).ready(function() {
        Metronic.init(); // init metronic core componets
        Layout.init(); // init layout
        QuickSidebar.init(); // init quick sidebar
        Demo.init(); // init demo features
        TableManaged.init();
        ComponentsDropdowns.init();
    });
</script>
<!-- END JAVASCRIPTS -->
