<style type="text/css">
    fieldset#title{
        border-top: 1px solid #aaa;
        border-bottom: none;
        border-left: none;
        border-right: none;
        display: block;
        text-align: center;
    }
    fieldset#title legend{
        padding: 5px 10px;
        width: 240px;
        border-bottom: none;
    }
    a:hover{
    	text-decoration: underline;
    	color: inherit;
    }
</style>
<!--BEGIN HEADER -->
<div data-ng-include="'includes/header2.html'" class="page-header md-shadow-z-1-i navbar navbar-fixed-top"></div>
<!-- END HEADER -->
<div class="clearfix">
</div>
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <div data-ng-include="'includes/sidebar.html'" data-ng-controller="SidebarCtrl" class="page-sidebar-wrapper"></div>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content fade-in-up">
            <!-- BEGIN PAGE HEADER-->
            <h3 class="page-title">
                External Transactions <!--<small>reports & statistics</small>-->
            </h3>
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <i class="fa fa-home"></i>
                        <a href="#/admin/dashboard">Home</a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <a href="#/admin/external_transactions">Transactions</a>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                    <div class="portlet box red-thunderbird">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-wallet"></i>Transactions
                            </div>
                            <div class="actions">
                              <select class="form-control" ng-show="transaction.type == 1" ng-model="transaction.repaymentType" ng-change="selectRepayType()" style="margin-buttom: 3px;">
                                <option value="">Choose Repayment Type</option>
                                <option value="1">Card Transfer</option>
                                <option value="2">Bank Transfer</option>
                              </select>
                              <select class="form-control" ng-model="transaction.type" ng-change="selectTransactionType()">
                                <option value="">Choose Transaction Type</option>
                                <option value="1">Kegow Disbursement</option>
                                <option value="2">Kegow Repayments</option>
                              </select>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="row">
                                <!--<div class="col-lg-4">
                                    <input type="text" ng-model="search" class="form-control" placeholder="Search">
                                </div>-->
                            </div>
                            <div class="margin-top-10"></div>
                            <table class="table table-striped table-bordered table-hover" id="editable">
                                <thead>
                                <tr>
                                    <th>
                                        #
                                    </th>
                                    <!--<th ng-click="sort('company_id')">
                                        ID
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='company_id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>-->
                                    <th>
                                        NAME
                                    </th>
                                    <th>
                                        KEY
                                        <!--<span class="glyphicon sort-icon" ng-show="sortKey=='company_info'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>-->
                                    </th>
                                    <th>
                                        CARD ID
                                        <!--<span class="glyphicon sort-icon" ng-show="sortKey=='company_info'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>-->
                                    </th>
                                    <th>
                                        TYPE
                                        <!--<span class="glyphicon sort-icon" ng-show="sortKey=='company_info'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>-->
                                    </th>

                                    <th>
                                        AMOUNT
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='company_info'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th>
                                        KEGOW TRANS ID
                                        <!--<span class="glyphicon sort-icon" ng-show="sortKey=='company_info'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>-->
                                    </th>
                                    <th>
                                        COMPANY
                                        <!--<span class="glyphicon sort-icon" ng-show="sortKey=='company_info'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>-->
                                    </th>
                                    <th ng-hide= "user.user_type_id == 5">
                                        ACTIONS
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="odd gradeX" ng-repeat="transaction in external_transactions">
                                    <td ng-bind="$index + 1"></td>
                                    <td>{{transaction.firstname}} {{transaction.lastname}}</td>
                                    <td ng-bind="transaction.transaction_key"></td>
                                    <td ng-bind="transaction.cardID"></td>
                                    <td ng-bind="transaction.transaction_type"></td>
                                    <td ng-bind="transaction.amount"></td>
                                    <td ng-bind="transaction.transactID"></td>
                                    <td ng-bind="transaction.company_name"></td>
                                    <td ng-hide= "user.user_type_id == 5">
                                      <div class="btn-request-access-{{$index}}">
                                        <a ng-click="auth(company.request_invite,$index,'approve')" class="btn btn-success btn-sm">REMOVE</a>
                                        <a ng-click="auth(company.request_invite,$index, 'reject')" class="btn btn-danger btn-sm">REVERSE</a>
                                      </div>
                                      <img class="btn-spinner" width="30" src="images/spinner.gif" alt="requesting..." style="display: none;">
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="loader" style="display:none;">
                                <img src="images/loader.gif" alt="Loading">
                            </div>
                            <div class="pull-right">
                                <dir-pagination-controls max-size="10" direction-links="true" boundary-links="true"></dir-pagination-controls>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <!-- END EXAMPLE TABLE PORTLET-->
                </div>
            </div>
        </div>
    </div>
    <!-- END CONTENT -->
    <!-- BEGIN MODAL VIEWS -->
    <!-- END MODAL VIEWS -->
</div>
<!-- BEGIN FOOTER -->
<div data-ng-include="'includes/footer2.html'" data-ng-controller="FooterCtrl" class="page-footer"></div>
<!-- END FOOTER -->

<!-- END PAGE LEVEL SCRIPTS -->
<!-- <script>
    jQuery(document).ready(function() {
        Metronic.init(); // init metronic core componets
        Layout.init(); // init layout
        QuickSidebar.init(); // init quick sidebar
        Demo.init(); // init demo features
        TableManaged.init();
        ComponentsDropdowns.init();
    });
</script> -->
<!-- END JAVASCRIPTS
