<!-- BEGIN HEADER -->
<div data-ng-include="'includes/header2.html'" class="page-header md-shadow-z-1-i navbar navbar-fixed-top"></div>
<!-- END HEADER -->
<div class="clearfix">
</div>
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <div data-ng-include="'includes/sidebar.html'" data-ng-controller="SidebarCtrl" class="page-sidebar-wrapper"></div>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content fade-in-up">
            <!-- BEGIN PAGE HEADER-->
            <h3 class="page-title">
                Cattle Owners <small>reports & statistics</small>
            </h3>
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <i class="fa fa-home"></i>
                        <a href="#/admin/dashboard">Home</a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <a href="#/customer">Cattle Owners</a>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                    <div class="portlet box red-thunderbird">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-wallet"></i>All Registered {{issuer.name}} Cattle Owners
                            </div>
                            <div class="actions">
                                <a href="javascript:;" class="btn btn-default btn-sm" data-toggle="modal" data-target="#assign_user"><i class="fa fa-send"></i> Assign </a>
                                <a href="javascript:;" class="btn btn-default btn-sm" ng-click="generatefromtable()">
                                    <i class="fa fa-print"></i> Print </a>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="row">
                                <div class="col-lg-4">
                                    <input type="text" ng-model="search" class="form-control" placeholder="Search">
                                </div>
                            </div>
                            <div class="margin-top-10"></div>
                            <table class="table table-striped table-bordered table-hover" id="editable">
                                <thead>
                                <tr>
                                    <th>
                                        #
                                    </th>
                                    <th ng-click="sort('serial_number')">
                                        Onwer ID
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='serial_number'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th ng-click="sort('name')">
                                        Name
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th ng-click="sort('reference_number')">
                                        <span ng-bind="reference_number"></span>
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='reference_number'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th ng-click="sort('phone_number')">
                                        Phone
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='phone_number'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th ng-click="sort('reg_date')">
                                        Reg. Date
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='reg_date'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th ng-click="sort('address')">
                                        LGA
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='address'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th>
                                        Actions
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="odd gradeX" dir-paginate="customer in customers|orderBy:sortKey:reverse|filter:search|itemsPerPage:10">
                                    <td ng-bind="$index + 1"></td>
                                    <td ng-bind="customer.serial_number"></td>
                                    <td>{{customer.profile.data.firstname}} {{customer.profile.data.lastname}}</td>
                                    <td ng-bind="customer_data(customer.profile.data, 13)"></td>
                                    <td ng-bind="customer.profile.data.phonenumber"></td>
                                    <td ng-bind="customer.profile.created_time | momentFilter"></td>
                                    <td ng-bind="customer.profile.data.lga"></td>
                                    <td>
                                        <a class="btn btn-xs btn-primary" ng-href="#/customer/details/{{customer.serial_number}}"> Details </a>
                                        <a class="btn btn-xs btn-success" ng-href="#/customer/transactions/{{customer.serial_number}}"> Transactions </a>
                                        <a href="javascript:;" class="btn btn-xs btn-warning" ng-click="modalAssign(customer.serial_number, $index)"> Assign </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div id="spinner" class="spinner" style="display:none;">
                                <img id="img-spinner" src="images/spinner.gif" alt="Loading">
                            </div>
                            <div class="pull-right">
                                <dir-pagination-controls max-size="10" direction-links="true" boundary-links="true"></dir-pagination-controls>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <!-- END EXAMPLE TABLE PORTLET-->
                </div>
            </div>
        </div>
    </div>
    <!-- END CONTENT -->
</div>
<!-- BEGIN FOOTER -->
<div data-ng-include="'includes/footer2.html'" data-ng-controller="FooterCtrl" class="page-footer"></div>
<!-- END FOOTER -->

<!-- END PAGE LEVEL SCRIPTS -->
<script>
    jQuery(document).ready(function() {
        Metronic.init(); // init metronic core componets
        Layout.init(); // init layout
        QuickSidebar.init(); // init quick sidebar
        Demo.init(); // init demo features
        TableManaged.init();
        ComponentsDropdowns.init();
    });
</script>
<!-- END JAVASCRIPTS -->