<!-- BEGIN HEADER -->
<div data-ng-include="'includes/header2.html'" class="page-header md-shadow-z-1-i navbar navbar-fixed-top"></div>
<!-- END HEADER -->
<div class="clearfix">
</div>
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <div data-ng-include="'includes/sidebar.html'" data-ng-controller="SidebarCtrl" class="page-sidebar-wrapper"></div>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content fade-in-up">
            <!-- BEGIN PAGE HEADER-->
            <h3 class="page-title">
                Lend Histories <small>reports & statistics</small>
            </h3>
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <i class="fa fa-home"></i>
                        <a href="#/admin/dashboard">Home</a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <a href="#/lend_history">Lend Histories</a>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                    <div class="portlet box red-thunderbird">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-wallet"></i>List of Lend Histories
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="row">
                                <div class="col-lg-4">
                                    <input type="text" ng-model="search" class="form-control" placeholder="Search">
                                </div>
                            </div>
                            <div class="margin-top-10"></div>
                            <table class="table table-striped table-bordered table-hover" id="editable">
                                <thead>
                                <tr>
                                    <th>
                                        #
                                    </th>
                                    <th ng-click="sort('firstname')">
                                        FULL NAME
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='firstname'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th ng-click="sort('company_name')">
                                        COMPANY NAME
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='company_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th ng-click="sort('loan_amount')">
                                        LEND AMOUNT
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='loan_amount'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th ng-click="sort('amount_to_pay')">
                                        AMOUNT TO RECEIVE
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='amount_to_pay'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th ng-click="sort('phone_number')">
                                        PHONE NUMBER
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='phone_number'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th>LOAN TENURE</th>
                                    <th ng-click="sort('approve_flag')">
                                        PROCESS
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='approve_flag'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th ng-click="sort('status_id')">
                                        STATUS
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='status_id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th>
                                        ACTION
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="odd gradeX" ng-repeat="lend_history in lend_histories|orderBy:sortKey:reverse|filter:search">
                                    <td ng-bind="$index + 1"></td>
                                    <td><span ng-bind="lend_history.firstname"></span> <span ng-bind="lend_history.middlename"></span> <span ng-bind="lend_history.lastname"></span></td>
                                    <td ng-bind="lend_history.company_name"></td>
                                    <td ng-bind="lend_history.lend_amount"></td>
                                    <td ng-bind="lend_history.amount_to_receive"></td>
                                    <td ng-bind="lend_history.phone_number"></td>
                                    <td >{{lend_history.lend_tenure}} month(s)</td>
                                    <td>
                                        <span ng-if="lend_history.approve_flag == 0">
                                            <label class="badge badge-info">Initiated</label>
                                        </span>
                                        <span ng-if="lend_history.approve_flag == 1">
                                            <label class="badge badge-success">Approved</label>
                                        </span>
                                        <span ng-if="lend_history.approve_flag == 2">
                                            <label class="badge badge-warning">Awaiting Disbursement</label>
                                        </span>
                                        <span ng-if="lend_history.approve_flag == 3">
                                            <label class="badge badge-disabled">Disbursed</label>
                                        </span>
                                    </td>
                                    <td>
                                        <span ng-if="lend_history.status_id == 1">
                                            <label class="label label-default">Inactive</label>
                                        </span>
                                        <span ng-if="lend_history.status_id == 2">
                                            <label class="label label-danger">Active</label>
                                        </span>
                                    </td>
                                    <td>
                                        <a href="#/admin/lend_history/details/{{lend_history.lend_id}}" class="btn btn-danger btn-sm">Details</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="loader" style="display:none;">
                                <img src="images/loader.gif" alt="Loading">
                            </div>
                            <div class="pull-right">
                                <dir-pagination-controls max-size="10" direction-links="true" boundary-links="true"></dir-pagination-controls>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <!-- END EXAMPLE TABLE PORTLET-->
                </div>
            </div>
        </div>
    </div>
    <!-- END CONTENT -->
</div>
<!-- BEGIN FOOTER -->
<div data-ng-include="'includes/footer2.html'" data-ng-controller="FooterCtrl" class="page-footer"></div>
<!-- END FOOTER -->

<!-- END PAGE LEVEL SCRIPTS -->
<script>
    jQuery(document).ready(function() {
        Metronic.init(); // init metronic core componets
        Layout.init(); // init layout
        QuickSidebar.init(); // init quick sidebar
        Demo.init(); // init demo features
        TableManaged.init();
        ComponentsDropdowns.init();
    });
</script>
<!-- END JAVASCRIPTS -->