<style type="text/css">
    #customer_details.flip-content td:last-child, #customer_details.flip-content th:last-child{border-bottom: none !important;}
</style>
<!-- BEGIN HEADER -->
<div data-ng-include="'includes/header2.html'" class="page-header md-shadow-z-1-i navbar navbar-fixed-top"></div>
<!-- END HEADER -->
<div class="clearfix">
</div>
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <div data-ng-include="'includes/sidebar.html'" data-ng-controller="SidebarCtrl" class="page-sidebar-wrapper"></div>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content fade-in-up">
            <!-- BEGIN PAGE HEADER-->
            <h3 class="page-title">
                Lend | Details <small>reports & statistics</small>
            </h3>
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <i class="fa fa-home"></i>
                        <a href="#/admin/dashboard">Home</a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <a href="#/admin/lend_history">Lend Histories</a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <a href="javascript:;">Lend | Details</a>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="portlet light">
                        <div class="col-lg-6">
                            <div class="row">
                                <div id="profile_info">
                                    <div id="customer_photo" class="col-sm-4 no-pad-r">
                                        <img src="images/photo.png" class="img-responsive" alt=""/>
                                    </div>
                                    <div class="portlet-body flip-scroll col-sm-8">
                                        <table  id="customer_details" class="table table-condensed flip-content">
                                            <thead class="flip-content">
                                            <tr>
                                                <th>Firstname</th>
                                                <th>Lastname</th>
                                                <th>Middlename</th>
                                                <th>Phone No</th>
                                                <th>Company</th>
                                                <th>Email</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td ng-bind="profile.firstname | chkNull"></td>
                                                <td ng-bind="profile.lastname | chkNull"></td>
                                                <td ng-bind="profile.middlename | chkNull"></td>
                                                <td ng-bind="profile.phone_number | chkNull"></td>
                                                <td ng-bind="profile.company_name | chkNull"></td>
                                                <td ng-bind="profile.email | chkNull"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div id="spinner_profile" class="profile_loader" style="display:none;">
                                    <img src="images/loading.gif" alt="Loading">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div id="payment_info">
                                <!--<div class="caption">-->
                                    <!--<i class="fa fa-shopping-cart"></i>&nbsp;Serial #A24178SD9S22SU... | <span class="hidden-480" ng-bind="loan.date_of_request"></span>-->
                                <!--</div>-->
                                <div class="row">
                                    <div class="col-lg-6 text-center">
                                        <!--<hr>-->
                                        <h3 class="font-grey-mint"><strong>AMOUNT:</strong></h3>
                                        <h2>&#8358;<span ng-bind="loan.lend_amount | number"></span> </h2>
                                    </div>
                                    <div class="col-lg-6" style="padding-left: 40px;">
                                        <span class="staff-actions">
                                            <p style="padding-top: 50px;">
                                                <a id="print-button" class="btn btn-lg btn-danger hidden-print margin-bottom-5" href="javascript:window.print();">
												Print <i class="fa fa-print"></i>
											</a>
                                            </p>
                                        </span>
                                        <img class="staff-spinner" width="100" src="images/spinner.gif" alt="requesting..." style="display: none;">
                                    </div>
                                </div>
                            </div>
                            <div id="spinner_payment" class="profile_loader" style="display:none;">
                                <img src="images/loading.gif" alt="Loading">
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="portlet box red-thunderbird">
                                <div class="portlet-title">
                                    <div class="caption">
                                        Loan Details
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div id="loan_info">
                                        <h6>Lend Amount: <span style="float: right;" ng-bind="loan.lend_amount"></span></h6>
                                        <h6>Amount To Receive: <span style="float: right;" ng-bind="loan.amount_to_receive"></span></h6>
                                        <h6>Status:
                                            <span ng-if="loan.approve_flag == 0">
                                                 <span style="float: right;">Initiated</span>
                                            </span>
                                            <span ng-if="loan.approve_flag == 1">
                                                 <span style="float: right;">Approved</span>
                                            </span>
                                            <span ng-if="loan.approve_flag == 2">
                                                 <span style="float: right;">Awaiting Disbursement</span>
                                            </span>
                                            <span ng-if="loan.approve_flag == 3">
                                                 <span style="float: right;">Disbursed</span>
                                            </span>
                                        </h6>
                                        <h6>Process:
                                            <span ng-if="loan.status_id == 1">
                                                 <span style="float: right;">Inactive</span>
                                            </span>
                                            <span ng-if="loan.status_id == 2">
                                                 <span style="float: right;">Active</span>
                                            </span>
                                        </h6>
                                        <h6>Lend Tenure: <span style="float: right;">4 months</span></h6>
                                    </div>
                                    <div id="spinner_loan" class="spinner_details" style="display:none;">
                                        <img src="images/spinner.gif" alt="Loading">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="portlet box red-thunderbird">
                                <div class="portlet-title">
                                    <div class="caption">
                                        Company Details
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div id="company_info">
                                        <h6>Company Name:<span style="float: right;" ng-bind="company.company_name"></span></h6>
                                        <h6>Company Description:<span style="float: right;" ng-bind="company.company_info | chkNull"></span></h6>
                                        <h6>Company ID:<span style="float: right;" ng-bind="company.company_id"></span></h6>
                                    </div>
                                    <div id="spinner_company" class="spinner_details" style="display:none;">
                                        <img src="images/spinner.gif" alt="Loading">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="portlet box red-thunderbird">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-basket"></i>Previous Requests | History
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="row">
                                <div class="col-lg-4">
                                    <input type="text" ng-model="search" class="form-control" placeholder="Search">
                                </div>
                            </div>
                            <div class="margin-top-10"></div>
                            <div id="request_info">
                                <table class="table table-striped table-bordered table-hover" id="editable">
                                    <thead>
                                    <tr>
                                        <th>
                                            #
                                        </th>
                                        <th ng-click="sort('firstname')">
                                            FULL NAME
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='firstname'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th ng-click="sort('company_name')">
                                            COMPANY NAME
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='company_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th ng-click="sort('lend_amount')">
                                            LOAN AMOUNT
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='lend_amount'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th ng-click="sort('amount_to_pay')">
                                            AMOUNT TO PAY
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='amount_to_pay'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th ng-click="sort('phone_number')">
                                            PHONE NUMBER
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='phone_number'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th>LOAN TENURE</th>
                                        <th ng-click="sort('approve_flag')">
                                            PROCESS
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='approve_flag'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th ng-click="sort('status_id')">
                                            STATUS
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='status_id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th>
                                            ACTION
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="odd gradeX" ng-repeat="borrow_history in borrow_histories|orderBy:sortKey:reverse|filter:search">
                                        <td ng-bind="$index + 1"></td>
                                        <td><span ng-bind="borrow_history.firstname"></span> <span ng-bind="borrow_history.middlename"></span> <span ng-bind="borrow_history.lastname"></span></td>
                                        <td ng-bind="borrow_history.company_name | chkNull"></td>
                                        <td ng-bind="borrow_history.loan_amount"></td>
                                        <td ng-bind="borrow_history.amount_to_pay"></td>
                                        <td ng-bind="borrow_history.phone_number | chkNull"></td>
                                        <td>4 months</td>
                                        <td>
                                        <span ng-if="borrow_history.approve_flag == 0">
                                            <label class="badge badge-info">Initiated</label>
                                        </span>
                                        <span ng-if="borrow_history.approve_flag == 1">
                                            <label class="badge badge-success">Approved</label>
                                        </span>
                                        <span ng-if="borrow_history.approve_flag == 2">
                                            <label class="badge badge-warning">Awaiting Disbursement</label>
                                        </span>
                                        <span ng-if="borrow_history.approve_flag == 3">
                                            <label class="badge badge-disabled">Disbursed</label>
                                        </span>
                                        </td>
                                        <td>
                                        <span ng-if="borrow_history.status_id == 1">
                                            <label class="label label-default">Inactive</label>
                                        </span>
                                        <span ng-if="borrow_history.status_id == 2">
                                            <label class="label label-success">Active</label>
                                        </span>
                                        </td>
                                        <td>
                                            <a href="#/admin/borrow_history/details/{{borrow_history.borrow_id}}" class="btn btn-danger btn-sm">Details</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div id="spinner_request" class="loader" style="display:none;">
                                <img src="images/loader.gif" alt="Loading">
                            </div>
                            <div class="pull-right">
                                <dir-pagination-controls max-size="10" direction-links="true" boundary-links="true"></dir-pagination-controls>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END CONTENT -->
</div>
<!-- BEGIN FOOTER -->
<div data-ng-include="'includes/footer2.html'" data-ng-controller="FooterCtrl" class="page-footer"></div>
<!-- END FOOTER -->

<!-- END PAGE LEVEL SCRIPTS -->
<script>
    jQuery(document).ready(function() {
        Metronic.init(); // init metronic core componets
        Layout.init(); // init layout
        QuickSidebar.init(); // init quick sidebar
        Demo.init(); // init demo features
        TableManaged.init();
    });
</script>
<!-- END JAVASCRIPTS -->