<!-- BEGIN HEADER -->
<div data-ng-include="'includes/header2.html'" class="page-header md-shadow-z-1-i navbar navbar-fixed-top"></div>
<!-- END HEADER -->
<div class="clearfix">
</div>
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <div data-ng-include="'includes/sidebar.html'" data-ng-controller="SidebarCtrl" class="page-sidebar-wrapper"></div>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content fade-in-up">
            <!-- BEGIN PAGE HEADER-->
            <h3 class="page-title">
                Latest Notifications <small>reports & statistics</small>
            </h3>
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <i class="fa fa-home"></i>
                        <a href="#/admin/dashboard">Home</a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <a href="#/notification">Notifications</a>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                    <div class="portlet box red-thunderbird">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-wallet"></i>All Recent Notification Requests
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="row">
                                <div class="col-lg-4">
                                    <input type="text" ng-model="search" class="form-control" placeholder="Search">
                                </div>
                            </div>
                            <div class="margin-top-10"></div>
                            <table class="table table-striped table-bordered table-hover" id="editable">
                                <thead>
                                <tr>
                                    <th>
                                        #
                                    </th>
                                    <th>NAME</th>
                                    <th ng-click="sort('company_name')">
                                        COMPANY NAME
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='company_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th ng-click="sort('loan_amount')">
                                        LOAN AMOUNT
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='loan_amount'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <!--<th ng-click="sort('amount_to_pay')">
                                        AMOUNT TO PAY
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='amount_to_pay'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>-->
                                    <th>
                                    	PERIOD
                                    </th>
                                    <!--<th>LOAN TENURE</th>-->
                                    <th ng-click="sort('status_id')">
                                        STATUS
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='status_id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th ng-hide="user.user_type_id ==5">
                                        Actions
                                    </th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="odd gradeX" ng-repeat="notification in notifications|orderBy:sortKey:reverse|filter:search">
                                    <td ng-bind="$index + 1"></td>
                                    <td>{{notification.firstname}} {{notification.lastname}}</td>
                                    <td ng-bind="notification.company_name"></td>
                                    <td ng-bind="notification.loan_amount"></td>
                                    <!--<td ng-bind="notification.amount_to_pay"></td>-->
                                    <td>{{notification.period}}</td>
                                    <!--<td ng-bind="tenure(notification.date_of_request,notification.date_to_pay)"></td>-->
                                    <td style="vertical-align: middle">
                                        <label class="badge " style="background-color:{{::defineStatus.color(notification.status_id,notification.approve_flag)}}">{{::defineStatus.text(notification.status_id,notification.approve_flag)}}</label>
                                    </td>
                                    <td ng-hide="user.user_type_id ==5">
                                        <span class="staff-actions-{{$index}}" ng-hide="notification.approve_flag == 5">
                                            <a ng-click="authenticate(notification.borrow_id,$index,'approve')" class="btn btn-sm btn-success">Approve</a>
                                            <a ng-click="authenticate(notification.borrow_id,$index,'reject')" class="btn btn-sm btn-danger">Decline</a>
                                            <a href="#/admin/borrow_history/details/{{notification.borrow_id}}" class="btn btn-info btn-sm">Details</a>
                                        </span>
                                        <span ng-show="notification.approve_flag == 5" class="staff-actions-{{$index}}">
                                        	<a ng-click ="confirmborrowreject(notification.borrow_id,$index)"class="btn btn-sm btn-success">Confirm</a>
                                        </span>
                                        <img class="staff-spinner-{{$index}}" width="30" src="images/spinner.gif" alt="requesting..." style="display: none;">
                                    </td>
                                    <td><span ng-if="notification.process_description || notification.process_remarks !== ' '" class="btn-danger badge" title="{{::declineArray}}" ng-click="show(notification)">?</span></td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="loader" style="display:none;">
                                <img id="img-spinner" src="images/loader.gif" alt="Loading">
                            </div>
                            <div class="pull-right">
                                <dir-pagination-controls max-size="10" direction-links="true" boundary-links="true"></dir-pagination-controls>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <!-- END EXAMPLE TABLE PORTLET-->
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                    <div class="portlet box red-thunderbird">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-wallet"></i>Latest Repayments
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="row">
                                <div class="col-lg-4">
                                    <input type="text" ng-model="search" class="form-control" placeholder="Search">
                                </div>
                            </div>
                            <div class="margin-top-10"></div>
                            <table class="table table-striped table-bordered table-hover" id="editable">
                                <thead>
                                <tr>
                                    <th>
                                        #
                                    </th>
                                    <th>HR NAME</th>
                                    <th ng-click="sort('company_name')">
                                        COMPANY NAME
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='company_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th ng-click="sort('loan_amount')">
                                        AMOUNT PAID
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='loan_amount'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <!--<th ng-click="sort('amount_to_pay')">
                                        AMOUNT TO PAY
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='amount_to_pay'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>-->
                                    <th>
                                      MONTH
                                    </th>
                                    <th>
                                      IDENTIFIER
                                    </th>

                                    <!--<th>LOAN TENURE</th>-->
                                    <th ng-click="sort('status_id')">
                                        STATUS
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='status_id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th>
                                      DATE PAID
                                    </th>
                                    <th ng-hide="user.user_type_id ==5">
                                        Actions
                                    </th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="odd gradeX" ng-repeat="repayment in repayments|orderBy:sortKey:reverse|filter:search">
                                    <td ng-bind="$index + 1"></td>
                                    <td>{{repayment.firstname}} {{repayment.lastname}}</td>
                                    <td ng-bind="repayment.company_name"></td>
                                    <td>₦{{repayment.total_amount}}</td>
                                    <td ng-bind="repayment.month"></td>
                                    <td ng-bind="repayment.transaction_identifier"></td>
                                    <td style="vertical-align: middle">
                                        <label class="badge" ng-show"repayment.status = '2'" style="background-color:green;">PAID</label>
                                    </td>
                                    <td ng-bind="repayment.date_paid"></td>
                                    <td ng-hide="user.user_type_id ==5">
                                        <span class="staff-actions-{{$index}}" ng-hide="notification.approve_flag == 5">
                                            <a ng-click="HrRepay(repayment.repayment_schedule_id,repayment.company_id,$index)" class="btn btn-sm btn-success">Complete</a>
                                        </span>
                                        <img class="staff-spinner-{{$index}}" width="30" src="images/spinner.gif" alt="requesting..." style="display: none;">
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="loader" style="display:none;">
                                <img id="img-spinner" src="images/loader.gif" alt="Loading">
                            </div>
                            <div class="pull-right">
                                <dir-pagination-controls max-size="10" direction-links="true" boundary-links="true"></dir-pagination-controls>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <!-- END EXAMPLE TABLE PORTLET-->
                </div>
            </div>

        </div>
    </div>
    <!-- END CONTENT -->
</div>
<div class="modal fade" id="reasonmodal">
    	<div class="modal-dialog" role="document">
    		<div class="modal-content">
    			<div class="modal-header">
    				<button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
    				<h6 class="text-center">Reason For Loan DECLINE by HR</h6>
    			</div>
    			<div class="modal-body">
    				<div  ng-repeat="reason in notificationArray">
    					<p class="text-center">{{reason}}</p>
	    			</div>
	    			<!--<p>Reason for Not granting Loan is {{declineReasons}}</p>-->
    			</div>

    			<div class="modal-footer">
    				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    			</div>
    		</div>
    	</div>
    </div>
<div class="modal fade" id="declinemodal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
				<h4 class="text-center">Reason For Declining Loan</h4>
			</div>
			<div class="modal-body">
				<!--<div class="checkbox" ng-repeat ="(reason,status) in declineReasons">
    				<label >
    					<input type="checkbox" ng-model="declineReasons[reason]"/>{{reason}}
    				</label>
    			</div>-->
    			<div class="checkbox" ng-repeat="reason in superAdminReasons">
    				<label>
    					<!--<input type="checkbox" ng-model="declineReasons[reason]"/>{{reason}}-->
    					<input type="checkbox" checklist-model = "declineReasonschosenn" checklist-value="reason.remark_id"/>{{reason.remark_description}}
    				</label>
	    		</div>
    			<div class="form-group">
					<textarea class="form-control" ng-model = "others" placeholder="Please if Other Reasons Specify"></textarea>
				</div>
    			<!--<p>Reason for Not granting Loan is {{declineReasonschosenn}} and the other reasons are {{others}}</p>-->
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" ng-click="declinereason()" data-dismiss="modal">Submit</button>
			</div>
		</div>
	</div>
</div>
<!-- BEGIN FOOTER -->
<div data-ng-include="'includes/footer2.html'" data-ng-controller="FooterCtrl" class="page-footer"></div>
<!-- END FOOTER -->

<!-- END PAGE LEVEL SCRIPTS -->
<script>
    jQuery(document).ready(function() {
        Metronic.init(); // init metronic core componets
        Layout.init(); // init layout
        QuickSidebar.init(); // init quick sidebar
        Demo.init(); // init demo features
        TableManaged.init();
        ComponentsDropdowns.init();
    });
</script>
<!-- END JAVASCRIPTS -->
<script src="js/checklist-model.js"></script>
