<!-- BEGIN HEADER -->
<div data-ng-include="'includes/header2.html'" class="page-header md-shadow-z-1-i navbar navbar-fixed-top"></div>
<!-- END HEADER -->
<div class="clearfix">
</div>
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <div data-ng-include="'includes/sidebar.html'" data-ng-controller="SidebarCtrl" class="page-sidebar-wrapper"></div>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content fade-in-up">
            <!-- BEGIN PAGE HEADER-->
            <h3 class="page-title">
                Repayments <small>reports & statistics</small>
            </h3>
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <i class="fa fa-home"></i>
                        <a href="#/admin/dashboard">Home</a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <a href="#/repayment">Repayments</a>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                    <div class="portlet box red-thunderbird">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-wallet"></i>All Disbursed Borrow Requests
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="row">
                                <div class="col-lg-4">
                                    <input type="text" ng-model="search" class="form-control" placeholder="Search">
                                </div>
                            </div>
                            <div class="margin-top-10"></div>
                            <table class="table table-striped table-bordered table-hover" id="editable">
                                <thead>
                                <tr>
                                    <th>
                                        #
                                    </th>
                                    <th>
                                    	NAME
                                    </th>
                                    <!--<th ng-click="sort('company_name')">
                                        COMPANY NAME
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='company_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>-->
                                    <th ng-click="sort('loan_amount')">
                                        LOAN AMOUNT
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='loan_amount'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th ng-click="sort('amount_to_pay')">
                                        AMOUNT TO PAY
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='amount_to_pay'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th ng-click="sort('company_name')">
                                        COMPANY
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='company_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th>LOAN TENURE</th>
                                    <th ng-click="sort('status_id')">
                                        STATUS
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='status_id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th ng-hide="user.user_type_id ==5">
                                        Actions
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr class="odd gradeX" ng-repeat="repayment in repayments|orderBy:sortKey:reverse| filter:disbursed">
                                    <td ng-bind="$index + 1"></td>
                                    <td>{{repayment.firstname}} {{repayment.lastname}}</td>
                                    <!--<td ng-bind="repayment.company_name"></td>-->
                                    <td ng-bind="repayment.loan_amount"></td>
                                    <td ng-bind="repayment.amount_to_pay"></td>
                                    <td ng-bind="repayment.company_name"></td>
                                    <td>{{repayment.period}}month(s)</td>
                                    <td style="vertical-align: middle">
                                        <label class="badge " style="background-color:{{::defineStatus.color(repayment.status_id,repayment.approve_flag)}}">{{::defineStatus.text(repayment.status_id,repayment.approve_flag)}}</label>
                                    </td>
                                    <td ng-hide="user.user_type_id ==5">
                                        <span class="staff-actions-{{$index}}" ng-repeat="month in repayment.repaymentdetails">
                                            <!--<a ng-click="repay(repayment.data.borrow_id,$index,repayment.data.loan_amount)" class="btn btn-sm btn-success">Month {{$index + 1}}</a>-->
                                            <label class="badge" style="background-color:blue" ng-show = "month.paid == '2'">Paid(Pending)</label>
                                            <label class="badge" style="background-color:green" ng-show = "month.paid == '1'"><i class="glyphicon glyphicon-ok"></i></label>
                                            <label><input id="chkBox" class="checkbox-{{repayment.borrow_id}}-{{$index}}"  ng-show = "month.paid == '0'" type="checkbox" ng-click="checkBox(repayment.borrow_id,month.payment_amount,$index,repayment.firstname, repayment.lastname, repayment.company_id, repayment.company_name, repayment.transaction_id)"/> {{month.month_to_pay}}</label>
                                        </span>
                                        <img class="staff-spinner-{{$index}}" width="30" src="images/spinner.gif" alt="requesting..." style="display: none;">
                                    </td>
                                </tr>
                              </div>
                                </tbody>
                            </table>
                            <img id="pay-spinner" width="30" src="images/spinner.gif" class="pull-right" alt="requesting..." style="display: none;">
                            <button id="pay-action" type="button" class="btn btn-success pull-right" ng-disabled="items.length == '0'" ng-click="repayd(items)" style="width:123.23px;height:32px;"><span class="submit" style="margin-left:0px;">Pay</span><span>
                              <!-- <img id="submit-spinner" class="spinner" src="images/spinner.gif" width="30"> -->
                            </span></button>

                            <div class="loader" style="display:none;">
                                <img id="img-spinner" src="images/loader.gif" alt="Loading">
                            </div>
                            <div class="pull-right">
                                <dir-pagination-controls max-size="10" direction-links="true" boundary-links="true"></dir-pagination-controls>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <!-- END EXAMPLE TABLE PORTLET-->
                </div>
            </div>
        </div>
    </div>
    <!-- END CONTENT -->
</div>
<div class="modal fade" id="repaymodal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" ng-click="repaymentModalClose()" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
            <h5 class="text-center">MODE OF REPAYMENT</h5>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <!--<label for="modepay">Please Select Your Mode Of Disbursement</label>-->
              <select class="form-control" ng-model="paymentoption" ng-options="payment.payment_option_name for payment in repaymentOptions">
                <option value="">....Please Select Your Mode Of Repayment....</option>
              </select>
            </div>
            <div class="form-group" ng-show="paymentoption.payment_option_name === 'Bank Deposit'">
              <input type="text" class="form-control" ng-model="referenceid" placeholder="Please enter reference id"/>
            </div>
            <div class="form-group" ng-show="paymentoption.payment_option_name === 'Bank Transfer'">
              <input type="text" class="form-control" ng-model="referenceid" placeholder="Please enter reference id"/>
            </div>
            <div class="form-group" ng-show="paymentoption.payment_option_name === 'Mobile money'">
              <input type="text" class="form-control" ng-model="referenceid" placeholder="Please enter reference id"/>
            </div>
            <div class="form-group" ng-show="paymentoption.payment_option_name === 'HR disbursement'">
              <input type="text" class="form-control" ng-model="referenceid" placeholder="Please enter reference id"/>
            </div>
            <button class="submit-btn btn-blue" style="border-radius:0px;" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                  <span id="preview-text">VIEW STAFF LIST</span>
            </button>
            <div class="collapse" id="collapseExample">
              <div class="">
                <table class="table table-striped table-bordered table-hover" id="editable">
                    <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                          NAME
                        </th>
                        <!--<th ng-click="sort('company_name')">
                            COMPANY NAME
                            <span class="glyphicon sort-icon" ng-show="sortKey=='company_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>-->
                        <th>
                            AMOUNT
                        </th>
                        <th>
                            MONTH
                        </th>
                        <th>
                            COMPANY
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr class="odd gradeX" ng-repeat="repayment in items">
                        <td ng-bind="$index + 1"></td>
                        <td>{{repayment.firstname}} {{repayment.lastname}}</td>
                        <!--<td ng-bind="repayment.company_name"></td>-->
                        <td ng-bind="repayment.payment_amount"></td>
                        <td ng-bind="repayment.company_name"></td>
                        <td>{{repayment.month}} month</td>
                    </tr>
                  </div>
                    </tbody>
                </table>
              </div>
            </div>
            <div class="well">
              <h5 class="text-primary text-center">Total Staff Selected: {{items.length}}</h4>
              <h3 class="text-muted text-center">TOTAL REPAYMENT: {{totalPay(items)}}</h1>

            </div>
            <!-- <div class="form-group">
              <label for="amdisbursed">Amount Repayed</label>
              <input  type="text" class="form-control" ng-model="payment_amount"/>
            </div> -->
            <!--<div class="form-group">
              <textarea class="form-control" ng-model = "others" placeholder="Please if Other Reasons Specify"></textarea>
            </div>-->
            <!--<p>{{paymentoption}}</p>-->
            <!--<p>Reason for Not granting Loan is {{declineReasons}}</p>-->
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" ng-click="confirmrepay(paymentoption)" data-dismiss="modal">Submit</button>
          </div>
        </div>
      </div>
    </div><!-- BEGIN FOOTER -->
<div data-ng-include="'includes/footer2.html'" data-ng-controller="FooterCtrl" class="page-footer"></div>
<!-- END FOOTER -->

<!-- END PAGE LEVEL SCRIPTS -->
<script>
    jQuery(document).ready(function() {
        Metronic.init(); // init metronic core componets
        Layout.init(); // init layout
        QuickSidebar.init(); // init quick sidebar
        Demo.init(); // init demo features
        TableManaged.init();
        ComponentsDropdowns.init();
    });
</script>
<!-- END JAVASCRIPTS -->
