<!-- BEGIN PAGE LEVEL STYLES -->
<link href="assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" type="text/css"/>
<link href="assets/admin/pages/css/profile.css" rel="stylesheet" type="text/css"/>
<link href="assets/admin/pages/css/tasks.css" rel="stylesheet" type="text/css"/>
<!-- END PAGE LEVEL STYLES -->

<!-- BEGIN HEADER -->
<div data-ng-include="'includes/header2.html'" class="page-header md-shadow-z-1-i navbar navbar-fixed-top"></div>
<!-- END HEADER -->
<div class="clearfix">
</div>
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <div data-ng-include="'includes/sidebar.html'" data-ng-controller="SidebarCtrl" class="page-sidebar-wrapper"></div>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content fade-in-up">
            <!-- BEGIN PAGE HEADER-->
            <h3 class="page-title">
                Settings <small>reports & statistics</small>
            </h3>
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <i class="fa fa-home"></i>
                        <a href="#/admin/dashboard">Home</a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <a href="#/settings">Settings</a>
                    </li>
                </ul>
                <div class="page-toolbar">
                    <div id="dashboard-report-range" class="pull-right tooltips btn btn-fit-height grey-salt" data-placement="top" data-original-title="Change dashboard date range">
                        <i class="icon-calendar"></i>&nbsp; <span class="uppercase visible-lg-inline-block">January 21, 2016 - February 19, 2016</span>&nbsp; <i class="fa fa-angle-down"></i>
                    </div>
                </div>
            </div>

            <!-- BEGIN PAGE CONTENT-->
            <div class="row margin-top-20">
                <div class="col-md-12">
                    <!-- BEGIN PROFILE SIDEBAR -->
                    <div class="profile-sidebar">
                        <!-- PORTLET MAIN -->
                        <div class="portlet light profile-sidebar-portlet">
                            <!-- SIDEBAR USERPIC -->
                            <div class="profile-userpic">
                                <img src="images/photo.png" class="img-responsive" alt="">
                            </div>
                            <!-- END SIDEBAR USERPIC -->
                            <!-- SIDEBAR USER TITLE -->
                            <div class="profile-usertitle" ng-cloak>
                                <div class="profile-usertitle-name">
                                    <span ng-bind="profile.firstname"></span> <span ng-bind="profile.middlename"></span> <span ng-bind="profile.lastname"></span>
                                </div>
                                <div class="profile-usertitle-job">
                                    <div class="margin-top-20">
                                        <div class="col-lg-12">
                                            <span><i class="fa fa-male"></i>&nbsp; <span ng-bind="profile.gender"></span></span>
                                        </div>
                                        <div class="col-lg-12 margin-top-10">
                                            <i class="fa fa-phone"></i>&nbsp; <span ng-bind="profile.phone_number"></span>
                                        </div>
                                        <div class="col-lg-12 margin-top-10">
                                            <i class="fa fa-envelope"></i>&nbsp; <span ng-bind="profile.email"></span>
                                        </div>
                                        <div class="col-lg-12 margin-top-10">
                                            <i class="fa fa-home"></i>&nbsp; <span ng-bind="profile.address | chkNull"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END SIDEBAR USER TITLE -->
                            <!-- SIDEBAR MENU -->
                            <div class="profile-usermenu">
                                <ul class="nav">
                                    <li class="active">
                                        <a href="javascript:;">
                                            <i class="icon-settings"></i>
                                            Account Settings </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- END MENU -->
                        </div>
                        <!-- END PORTLET MAIN -->
                    </div>
                    <!-- END BEGIN PROFILE SIDEBAR -->
                    <!-- BEGIN PROFILE CONTENT -->
                    <div class="profile-content">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="portlet light">
                                    <div class="portlet-title tabbable-line">
                                        <div class="caption caption-md">
                                            <i class="icon-globe theme-font hide"></i>
                                            <span class="caption-subject font-red-thunderbird bold uppercase">CONFIGURATIONS</span>
                                        </div>
                                        <ul class="nav nav-tabs">
                                            <li class="active">
                                                <a data-target="#tab_1_1" data-toggle="tab">RIBY Admin</a>
                                            </li>
                                            <li>
                                                <a data-target="#tab_1_2" data-toggle="tab" ng-hide="user.user_type_id ==5 || user.user_type_id == 4">Add Admin</a>
                                            </li>
                                            <li>
                                                <a data-target = "#tab_1_3" data-toggle="tab" ng-hide="user.user_type_id ==5 ||user.user_type_id ==4">Set Loan Purposes</a>
                                            </li>
                                            <li>
                                                <a data-target="#tab_1_4" data-toggle="tab">Change Password</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="portlet-body">
                                        <div class="tab-content">
                                            <!-- PERSONAL INFO TAB -->
                                            <div class="tab-pane active" id="tab_1_1">
                                                <div class="margin-top-20"></div>
                                                <table class="table table-striped table-bordered table-hover" id="editable">
                                                    <thead>
                                                    <tr>
                                                        <th>
                                                            #
                                                        </th>
                                                        <th ng-click="sort('identifier')">
                                                            Username
                                                            <span class="glyphicon sort-icon" ng-show="sortKey=='identifier'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                        </th>
                                                        <th ng-click="sort('user_type_id')">
                                                            Role
                                                            <span class="glyphicon sort-icon" ng-show="sortKey=='user_type_id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                        </th>
                                                        <th ng-click="sort('created_time')">
                                                            Reg. Date
                                                            <span class="glyphicon sort-icon" ng-show="sortKey=='created_time'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                        </th>
                                                        <th>
                                                            Actions
                                                        </th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr class="odd gradeX" dir-paginate="user in users|orderBy:sortKey:reverse|filter:search|itemsPerPage:10">
                                                        <td ng-bind="$index +1"></td>
                                                        <td ng-bind="user.identifier"></td>
                                                        <td>
                                                            <span ng-if="user.user_type_id == 3">Admin</span>
                                                            <span ng-if="user.user_type_id == 4">User</span>
                                                            <span ng-if="user.user_type_id == 6 || user.user_type_id == 8">Support</span>
                                                            <span ng-if="user.user_type_id == 7 || user.user_type_id == 9">Cashier</span>
                                                            <span ng-if="user.user_type_id == 10">Vendor</span>
                                                        </td>
                                                        <td ng-bind="user.created_time | momentFilter"></td>
                                                        <td>
                                                            <a href="#/{{user._id}}"><span class="btn btn-xs btn-success"> View User </span></a>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <div id="spinner" class="spinner" style="display:none;">
                                                    <img id="img-spinner" src="images/spinner.gif" alt="Loading">
                                                </div>
                                                <div class="pull-right">
                                                    <dir-pagination-controls max-size="10" direction-links="true" boundary-links="true"></dir-pagination-controls>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                            <!-- END PERSONAL INFO TAB -->
                                            <!-- CHANGE AVATAR TAB -->
                                            <div class="tab-pane" id="tab_1_2">
                                                <form id="add_user" role="form" name="adminForm">
                                                    <div id="error" class="alert alert-danger" style="display: none;">
                                                        <button class="close" data-close="alert"></button>
                                                        <span> Sorry! an error occured. Please try again. </span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label">First Name</label>
                                                        <input type="text" placeholder="First Name" required class="form-control" ng-model="adminUser.firstname"/>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label">Last Name</label>
                                                        <input type="text" placeholder="Last Name" required class="form-control" ng-model="adminUser.lastname"/>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label">User Type</label>
                                                        <select class="form-control" required ng-model="adminUser.user_type_id" ng-options="user_type.id as user_type.level for user_type in superadminlevels">
                                                        	<option value="">Select a Level</option>
                                                        </select>
                                                        <!--<select class="form-control" ng-model="user.user_type" name="user_type" ng-change="checkUserType(user)">
                                                            <option ng-repeat="option in user_types" value="{{option._id}}">{{option.name}}</option>
                                                        </select>-->
                                                    </div>
                                                    <div id="biller-list" class="form-group" style="display: none;">
                                                        <label class="control-label">Issuer Biller</label>
                                                        <select class="form-control" ng-model="user.biller" name="biller">
                                                            <option ng-repeat="option in billers" value="{{option._id}}">{{option.name}}</option>
                                                        </select>
                                                    </div>
                                                    <!--<div class="form-group">
                                                        <label class="control-label">First Name</label>
                                                        <input type="text" placeholder="firstname" class="form-control" ng-model="user.firstname"/>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label">Last Name</label>
                                                        <input type="text" placeholder="lastname" class="form-control" ng-model="user.lastname"/>
                                                    </div>-->
                                                    <div class="form-group">
                                                        <label class="control-label">Phone Number</label>
                                                        <input type="text" required placeholder="telephone" class="form-control" ng-model="adminUser.phone_number"/>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label">Email</label>
                                                        <input type="email" placeholder="Please Enter email" required class="form-control" ng-model="adminUser.user_email"/>
                                                    </div>
                                                    <!--<div class="form-group">-->
                                                        <!--<label class="control-label" style="margin-right: 50px;">Gender</label>-->
                                                        <!--<label class="radio-inline">
                                                        	<input type="radio" value="Male" ng-model="user.gender"/>Male
                                                        </label>
                                                        <label class="radio-inline">
                                                        	<input type="radio" value="Female" ng-model="user.gender"/>Female
                                                        </label>-->
                                                        <!--<label class="uniform-inline">
                                                            <input type="radio" name="gender" value="Male" checked  ng-model="user.gender"/>
                                                            Male </label>
                                                        <label class="uniform-inline">
                                                            <input type="radio" name="gender" value="Female" ng-model="user.gender"/>
                                                            Female </label>-->
                                                    <!--</div>-->
                                                    <!--<div class="form-group">
                                                        <label class="control-label">Address</label>
                                                        <input type="text" placeholder="address" class="form-control" ng-model="user.address"/>
                                                    </div>-->
                                                    <!--<div class="form-group">
                                                        <label class="control-label">Description</label>
                                                        <textarea class="form-control" rows="3" placeholder="optional" ng-model="user.description"></textarea>
                                                    </div>-->
                                                    <!--<div>{{user.user_type}}</div>-->
                                                    <div class="margin-top-10">
                                                        <a id="add-user" href="javascript:;" class="btn green-haze" ng-click="addUser(adminUser)" ng-disabled="adminForm.$invalid">
                                                            Submit User
                                                            <i id="sending" class="fa fa-spinner fa-spin"></i>
                                                        </a>
                                                        <!--<a id="add-biller-user" href="javascript:;" class="btn green-haze" ng-click="addBillerUser(user)" style="display:none;">
                                                            Submit Biller User
                                                            <i id="sending1" class="fa fa-spinner fa-spin" style="display: none;"></i>
                                                        </a>-->
                                                        <!--<a href="javascript:;" class="btn default" ng-click="clearForm()">
                                                            Clear </a>-->
                                                    </div>
                                                </form>
                                            </div>
                                            <!-- END CHANGE AVATAR TAB -->

                                            <!-- LOAN PURPOSE TAB -->
                                            <div class="tab-pane" id="tab_1_3">
                                                <form  name="setpurpose" ng-submit="addPurpose(purpose)">
                                                    <h5>Add A New Loan Purpose</h5>
                                                    <div class="form-group" name="setPurpose" role ="form">
                                                        <label>Loan Purpose</label>
                                                        <input type="text" class="form-control" required ng-model="purpose.title">
                                                    </div>
                                                    <button type="submit" class="btn btn-success" ng-disabled="setpurpose.$invalid">Submit</button>
                                                </form>
                                                <table class="table table-bordered">
                                                    <caption>Loan Purposes</caption>
                                                    <thead>
                                                        <tr>
                                                            <th>ID</th>
                                                            <th>Purpose</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="reason in reasons">
                                                            <td>{{$index+1}}</td>
                                                            <td>{{reason.title}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- END LOAN PURPOSE TAB -->
                                            <!-- PRIVACY SETTINGS TAB -->
                                            <div class="tab-pane" id="tab_1_4">
                                                <form action="#">
                                                    <div class="form-group">
                                                        <label class="control-label">Current Password</label>
                                                        <input type="password" class="form-control"/>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label">New Password</label>
                                                        <input type="password" class="form-control"/>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label">Re-type New Password</label>
                                                        <input type="password" class="form-control"/>
                                                    </div>
                                                    <div class="margin-top-10">
                                                        <a href="javascript:;" class="btn green-haze">
                                                            Change Password </a>
                                                        <a href="javascript:;" class="btn default">
                                                            Cancel </a>
                                                    </div>
                                                </form>
                                            </div>
                                            <!-- END PRIVACY SETTINGS TAB -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END PROFILE CONTENT -->
                </div>
            </div>
            <!-- END PAGE CONTENT-->
        </div>
    </div>
    <!-- END CONTENT -->
</div>
<!-- BEGIN FOOTER -->
<div data-ng-include="'includes/footer2.html'" data-ng-controller="FooterCtrl" class="page-footer"></div>
<!-- END FOOTER -->

<!-- END PAGE LEVEL SCRIPTS -->
<script src="assets/global/plugins/jquery.sparkline.min.js" type="text/javascript"></script>
<script>
    jQuery(document).ready(function() {
        Metronic.init(); // init metronic core componets
        Layout.init(); // init layout
        QuickSidebar.init(); // init quick sidebar
        Demo.init(); // init demo features
        Profile.init(); // init page demo
    });
</script>
<!-- END JAVASCRIPTS -->