<!-- BEGIN HEADER -->
<div data-ng-include="'includes/header2.html'" class="page-header md-shadow-z-1-i navbar navbar-fixed-top"></div>
<!-- END HEADER -->
<div class="clearfix">
</div>
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <div data-ng-include="'includes/sidebar.html'" data-ng-controller="SidebarCtrl" class="page-sidebar-wrapper"></div>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content fade-in-up">
            <!-- BEGIN PAGE HEADER-->
            <h3 class="page-title">
                Registered Staffs <small>reports & statistics</small>
            </h3>
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <i class="fa fa-home"></i>
                        <a href="#/admin/dashboard">Home</a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <a href="#/staff">Staffs</a>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                    <div class="portlet box red-thunderbird">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-wallet"></i>All Registered Staffs
                            </div>
                            <div class="actions">
                                <a href="javascript:;" class="btn btn-default btn-sm" data-toggle="modal" data-target="#add_staff"><i class="fa fa-plus"></i> Add Staff </a>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="row">
                                <div class="col-lg-4">
                                    <input type="text" ng-model="search" class="form-control" placeholder="Search">
                                </div>
                            </div>
                            <div class="margin-top-10"></div>
                            <table class="table table-striped table-bordered table-hover" id="editable">
                                <thead>
                                <tr>
                                    <th>
                                        #
                                    </th>
                                    <th ng-click="sort('company_id')">
                                        ID
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='company_id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th ng-click="sort('company_name')">
                                        NAME
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='company_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <!--<th>-->
                                        <!--Actions-->
                                    <!--</th>-->
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="odd gradeX" ng-repeat="staff in staffs|orderBy:sortKey:reverse|filter:search">
                                    <td ng-bind="$index + 1"></td>
                                    <td ng-bind="staff.company_id"></td>
                                    <td ng-bind="staff.company_name"></td>
                                    <!--<td>-->
                                        <!--<a class="btn btn-sm btn-danger" ng-href="#/staff/details/{{staff.staff_id}}"> Details </a>-->
                                    <!--</td>-->
                                </tr>
                                </tbody>
                            </table>
                            <div class="loader" style="display:none;">
                                <img src="images/loader.gif" alt="Loading">
                            </div>
                            <div class="pull-right">
                                <dir-pagination-controls max-size="10" direction-links="true" boundary-links="true"></dir-pagination-controls>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <!-- END EXAMPLE TABLE PORTLET-->
                </div>
            </div>
        </div>
    </div>
    <!-- END CONTENT -->
</div>
<!-- BEGIN FOOTER -->
<div data-ng-include="'includes/footer2.html'" data-ng-controller="FooterCtrl" class="page-footer"></div>
<!-- END FOOTER -->

<!-- END PAGE LEVEL SCRIPTS -->
<script>
    jQuery(document).ready(function() {
        Metronic.init(); // init metronic core componets
        Layout.init(); // init layout
        QuickSidebar.init(); // init quick sidebar
        Demo.init(); // init demo features
        TableManaged.init();
        ComponentsDropdowns.init();
    });
</script>
<!-- END JAVASCRIPTS -->