<div id="page" class="page">
    <div ng-include="'includes/header.html'"></div>
    <section id="page-title">
        <div class="container clearfix">
            <div class="row">
                <div class="col-md-12 col-sm-12 form-group">
                    <h1 class="inline-block">Mr. Adewale Balogun</h1>
                </div>
                <!--<div class="col-md-3 col-sm-3 text-center col-md-offset-3 col-sm-offset-3">
                    <span class="block" style="width:100px;height:100px;margin:auto;border:5px solid #fff;border-radius:50%;text-align:center;line-height:125px;">
                        <i class="fa fa-user fa-5x color-white"></i>
                    </span>
                </div>-->
            </div>
        </div>
    </section>
    <section id="content">
        <div class="content-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card card-outlined card-underline">
                            <div class="card-head style-custom">
                                <header>
                                    Profile
                                </header>
                            </div>
                            <div class="card-body">
                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <b>Date Joined:</b>
                                        &nbsp; 24/09/2015
                                    </div>
                                </div>
                                <hr/>
                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <b>Full Name:</b>
                                        &nbsp; Adewale Balogun
                                    </div>
                                </div>
                                <hr/>
                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <b>Company:</b>
                                        &nbsp; Venture Garden Group
                                    </div>
                                </div>
                                <hr/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card card-outlined card-underline">
                            <div class="card-head style-custom">
                                <header>
                                    Voucher Credit Applications
                                </header>
                            </div>
                            <div class="card-body">
                                <div class="row form-group">
                                    <div class="col-md-6 form-group">
                                        <b style="letter-spacing: 2px;">&#8358; 100,000.00 TO PAY &#8358; 105,400.00</b>
                                    </div>
                                    <div class="col-md-3 col-md-offset-3 form-group">
                                        <p><i class="fa fa-check" style="color:green;"></i> APPROVED</p>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-banded table-striped table-hover">
                                        <thead>
                                        <tr>
                                            <th>Month</th>
                                            <th>Monthly Payment</th>
                                            <th>Status</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>July</td>
                                            <td>&#8358; 15,000</td>
                                            <td>-----</td>
                                        </tr>
                                        <tr>
                                            <td>August</td>
                                            <td>&#8358; 15,000</td>
                                            <td>-----</td>
                                        </tr>
                                        <tr>
                                            <td>September</td>
                                            <td>&#8358; 15,000</td>
                                            <td>-----</td>
                                        </tr>
                                        <tr>
                                            <td>October</td>
                                            <td>&#8358; 15,000</td>
                                            <td>-----</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div ng-include="'includes/footer.html'"></div>
</div>
<!-- Range Slider -->
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/application.js"></script>
<script src="js/owl.carousel.js"></script>