<style>
    .page {
        font-family: Montserrat;
    }
    
    #loan_active .col-md-12 b,
    #loan_active .col-md-12 span {
        font-size: 22px;
    }
    
    .banner-form form label {
        display: inline-block;
    }
    
    #effect {
        text-align: center;
    }
</style>

<div id="page" class="page">
    <div ng-include="'includes/header.html'"></div>
    <section id="page-title">
        <div class="container clearfix">
            <div class="row">
                <div class="col-md-12 col-sm-12 form-group">
                    <h1 class="inline-block" ng-bind="user.user_email"></h1>
                </div>
            </div>
        </div>
    </section>
    <section id="content">
        <div class="content-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card card-outlined card-underline">
                            <div class="card-head style-custom">
                                <header style="width: 100%;">
                                    Profile
                                </header>
                            </div>
                            <div class="card-body profile">
                                <div class="row form-group">
                                    <div class="col-md-12 form-group">
                                        <span class="block" style="width:100px;height:100px;margin:auto;border:5px solid #adadae;border-radius:50%;text-align:center;overflow:hidden;float: none;">
                                            <a href="javascript:;" data-toggle="modal" data-target="#upload_image">
                                                <img src="images/avatar.png" style="width:90px;height:90px;" alt="avatar" />
                                            </a>
                                        </span>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <b>Full Name:</b>
                                        <span ng-bind="profile.lastname" style="margin-left: 5px;"></span>
                                        <span ng-bind="profile.middlename" style="margin-left: 5px;"></span>
                                        <span ng-bind="profile.firstname" style="margin-left: 5px;"></span>
                                    </div>
                                </div>
                                <hr/>
                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <b>Phone Number:</b> &nbsp; <span ng-bind="profile.phone_number"></span>
                                    </div>
                                </div>
                                <hr/>
                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <b>Transaction:</b> &nbsp;
                                        <a href="javascript:;" class="btn btn-success btn-sm" data-toggle="modal" data-target="#loan_transaction" style="width:161.19px;">
                                            Lend / Borrow &nbsp; <i class="fa fa-cc-mastercard"></i></a>
                                    </div>
                                </div>
                                <hr/>
                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <b>Settings:</b> &nbsp;
                                        <a href="javascript:;" class="btn btn-disabled btn-sm" data-toggle="modal" data-target="#bank_detail" style="color:#ffffff; background-color:#b62826; margin-left: 5px;width:161.19px;">
                                            Bank Details &nbsp; <i class="fa fa-bank"></i></a> &nbsp;
                                        <a href="javascript:;" class="btn btn-disabled btn-sm" data-toggle="modal" data-target="#edit_profile" style="color:#ffffff; background-color:#b62826; margin-left: 5px;margin-top:10px;width:161.19px;">
                                            Edit Profile &nbsp; <i class="fa fa-pencil" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div clas="">
                                    </div>
                                </div>
                                <hr/>
                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <b>Change Password:</b> &nbsp;
                                        <!--<a href="#/reset" class="btn btn-info btn-sm">
                                            Reset Password &nbsp; <i class="fa fa-lock"></i></a>-->
                                        <a href="javascript:;" class="btn btn-info btn-sm" data-toggle="modal" data-target="#forgot_password">
                                            Change Password &nbsp; <i class="fa fa-lock"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card card-outlined card-underline" style="min-height:595px;">
                            <div class="card-head style-custom">
                                <header style="width: 100%;">
                                    Activity Details
                                </header>
                            </div>
                            <div class="card-body profile">
                                <div class="row form-group" ng-hide="activeloanstatus">
                                    <div class="col-md-12 padding-top-50 padding-bottom-50">
                                        <h1 class="text-center text-muted">No Active Loan</h1>
                                    </div>
                                </div>
                                <div class="form-group padding-top-15" id="loan_active" ng-show="activeloanstatus">
                                    <div class="row form-group">
                                        <div class="col-md-12">
                                            <b>Transaction Type:</b>
                                            <span>Borrow &nbsp; <label class="label label-success">Active</label></span>
                                        </div>
                                    </div>
                                    <hr/>
                                    <div class="row form-group">
                                        <div class="col-md-12">
                                            <b>Transaction ID:</b>
                                            <span ng-bind="activeloan.transaction_id"></span>
                                        </div>
                                    </div>
                                    <hr/>
                                    <div class="row form-group">
                                        <div class="col-md-12">
                                            <b>Loan Amount:</b>
                                            <span>{{activeloan.loan_amount | currency: "₦"}}</span>
                                            <!--<span>&#8358; <span ng-bind="activeloan.loan_amount | number"></span></span>-->
                                        </div>
                                    </div>
                                    <hr/>
                                    <div class="row form-group">
                                        <div class="col-md-12">
                                            <b>Amount to Pay:</b>
                                            <span>{{activeloan.amount_to_pay | currency: "₦"}}</span>
                                            <!--<span>&#8358; <span ng-bind="activeloan.amount_to_pay | number"></span></span>-->
                                        </div>
                                    </div>
                                    <hr/>
                                    <div class="row form-group">
                                        <div class="col-md-12">
                                            <b>Date of Request:</b>
                                            <span> {{activeloan.date_of_r}}<!--<span ng-bind="date_of_request"></span>--></span>
                                        </div>
                                    </div>
                                    <hr/>
                                    <div class="row form-group">
                                        <div class="col-md-4">
                                            <b style="font-size: 22px;">Repayment Schedule:</b>
                                        </div>
                                        <!-- <div class="col-md-8">
                                            <div class="table-responsive">
                                                <table class="table table-banded table-striped table-hover">
                                                    <thead>
                                                    <tr>
                                                        <th>Month</th>
                                                        <th>Amount</th>
                                                        <th>Status</th>
                                                        <th>Due Date</th>
                                                        <th>Total Paid</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody class="table-data2">
                                                    <tr ng-repeat="lend in lends">
                                                        <td ng-bind="$index + 1"></td>
                                                        <td ng-bind="lend.lend_amount | number"></td>
                                                        <td><span class="badge badge-success">Verified</span></td>
                                                        <td ng-bind="lend.date_lend"></td>
                                                        <td ng-bind="lend.amount_to_receive | number"></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <div class="loader2" style="display: none;">
                                                    <img src="images/loader.gif" alt="Loading...">
                                                </div>
                                            </div>
                                        </div> -->
                                        <div class="col-md-8">
                                            <table class="table table-bordered " ng-show="repayment.length>0">
                                                <thead>
                                                    <tr>
                                                        <th ng-repeat="payment in repayment">Month {{$index+1}}</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td ng-repeat="payment in repayment">{{payment | currency : "₦"}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <h3 ng-show="repayment.length <1">No Active Loan</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="display:none;">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3>Loan Note</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="display:none;">
                    <div class="col-lg-12">
                        <div class="portlet box green">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-cogs"></i>Loan Table
                                </div>
                                <div class="tools">
                                    <a href="javascript:;" class="collapse">
                                    </a>
                                    <a href="#portlet-config" data-toggle="modal" class="config">
                                    </a>
                                    <a href="javascript:;" class="reload">
                                    </a>
                                    <a href="javascript:;" class="remove">
                                    </a>
                                </div>
                            </div>
                            <div class="portlet-body flip-scroll">
                                <table class="table table-bordered table-striped table-condensed flip-content">
                                    <thead class="flip-content">
                                        <tr>

                                            <th>
                                                Description
                                            </th>
                                            <th class="numeric">
                                                Amount/Rate %
                                            </th>

                                            <th class="numeric">
                                                Payment 1
                                            </th>
                                            <th class="numeric">
                                                Payment 2
                                            </th>
                                            <th class="numeric">
                                                Payment 3
                                            </th>
                                            <th class="numeric">
                                                Payment 4
                                            </th>
                                            <th class="numeric">
                                                Total
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>

                                            <td>
                                                Principal
                                            </td>
                                            <td class="numeric">
                                                ₦100000
                                            </td>
                                            <td class="numeric">
                                                ₦100000
                                            </td>

                                            <td class="numeric">
                                                ₦75000
                                            </td>
                                            <td class="numeric">
                                                ₦50000
                                            </td>
                                            <td class="numeric">
                                                ₦25000
                                            </td>
                                            <td class="numeric">
                                                ₦100000
                                            </td>
                                        </tr>
                                        <tr>

                                            <td>
                                                Princinpal Repayment
                                            </td>
                                            <td class="numeric">
                                                4
                                            </td>
                                            <td class="numeric">
                                                ₦25000
                                            </td>

                                            <td class="numeric">
                                                ₦25000
                                            </td>
                                            <td class="numeric">
                                                ₦25000
                                            </td>
                                            <td class="numeric">
                                                ₦25000
                                            </td>
                                            <td class="numeric">
                                                ₦100000
                                            </td>
                                        </tr>

                                        <td>
                                            Monthly Interest rate %
                                        </td>
                                        <td class="numeric">
                                            5.0%
                                        </td>
                                        <td class="numeric">
                                            ₦5000
                                        </td>

                                        <td class="numeric">
                                            ₦3750
                                        </td>
                                        <td class="numeric">
                                            ₦2500
                                        </td>
                                        <td class="numeric">
                                            ₦1250
                                        </td>
                                        <td class="numeric">
                                            ₦12500
                                        </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Charges
                                            </td>
                                            <td class="numeric">
                                                ₦3000
                                            </td>
                                            <td class="numeric">
                                                ₦3000
                                            </td>

                                            <td class="numeric">
                                                ₦0
                                            </td>
                                            <td class="numeric">
                                                ₦0
                                            </td>
                                            <td class="numeric">
                                                ₦0
                                            </td>
                                            <td class="numeric">
                                                ₦3000
                                            </td>
                                        </tr>
                                        <tr>

                                            <td>
                                                Insurance %
                                            </td>
                                            <td class="numeric">
                                                1.5%
                                            </td>
                                            <td class="numeric">
                                                ₦15000
                                            </td>

                                            <td class="numeric">
                                                ₦1125
                                            </td>
                                            <td class="numeric">
                                                ₦750
                                            </td>
                                            <td class="numeric">
                                                ₦375
                                            </td>
                                            <td class="numeric">
                                                ₦3750
                                            </td>
                                        </tr>
                                        <tr>

                                            <td>
                                                Priority Interest %
                                            </td>
                                            <td class="numeric">
                                                0.00%
                                            </td>
                                            <td class="numeric">
                                                ₦0.00
                                            </td>

                                            <td class="numeric">
                                                ₦0.00
                                            </td>
                                            <td class="numeric">
                                                ₦0.00
                                            </td>
                                            <td class="numeric">
                                                ₦0.00
                                            </td>
                                            <td class="numeric">
                                                ₦0.00
                                            </td>
                                        </tr>
                                        <tr>

                                            <td>
                                                Monthly Repayment
                                            </td>
                                            <td class="numeric">&nbsp;

                                            </td>
                                            <td class="numeric">
                                                ₦34500
                                            </td>
                                            <td class="numeric">
                                                ₦29800
                                            </td>

                                            <td class="numeric">
                                                ₦28250
                                            </td>
                                            <td class="numeric">
                                                ₦26625
                                            </td>

                                            <td class="numeric">
                                                54,567
                                            </td>
                                        </tr>
                                        <tr>



                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card card-outlined card-underline">
                            <div class="card-head style-custom">
                                <header>
                                    List Of Loan Applications
                                </header>
                            </div>
                            <div class="card-body">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation"><a href="#lend" target="_self" aria-controls="lend" role="tab" data-toggle="tab">Lend Requests</a></li>
                                    <li role="presentation" class="active"><a href="#borrow" target="_self" aria-controls="borrow" role="tab" data-toggle="tab">Borrow Requests</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="borrow">
                                        <div class="table-responsive">
                                            <table class="table table-banded table-striped table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>LOAN AMOUNT</th>
                                                        <th>AMOUNT TO PAY</th>
                                                        <th>LOAN STATUS</th>
                                                        <!--<th>LOAN PROCESS</th>-->
                                                        <th>LOAN TENURE</th>
                                                        <th>DATE OF REQUEST</th>
                                                        <th>
                                                            Actions
                                                        </th>
                                                        <!--<th>DATE TO PAY</th>-->
                                                    </tr>
                                                </thead>
                                                <tbody class="table-data">
                                                    <tr ng-repeat="borrow in borrows">
                                                        <td ng-bind="$index + 1"></td>
                                                        <td>{{borrow.loan_amount | currency: "₦"}}</td>
                                                        <td>{{borrow.amount_to_pay | currency: "₦"}}</td>
                                                        <td style="vertical-align:middle">
                                                            <label class="badge" style="background-color:{{::defineStatus.color(borrow.status_id,borrow.approve_flag)}}">{{::defineStatus.text(borrow.status_id,borrow.approve_flag)}}</label>
                                                            <!--<span ng-if="borrow.status_id == 1">
                                                            <label class="label label-default">Inactive</label>
                                                        </span>
                                                        <span ng-if="borrow.status_id == 2">
                                                            <label class="label label-danger">Active</label>
                                                        </span>-->
                                                        </td>
                                                        <!--<td>
                                                        	<span ng-if="borrow.approve_flag == 0">
                                                            	<label class="badge badge-info">Initiated</label>
                                                        	</span>
                                                        	<span ng-if="borrow.approve_flag == 1">
                                                            	<label class="badge badge-success">Approved</label>
                                                        	</span>
                                                        	<span ng-if="borrow.approve_flag == 2">
                                                            	<label class="badge badge-warning">Awaiting Disbursement</label>
                                                        	</span>
                                                       		<span ng-if="borrow.approve_flag == 3">
                                                            	<label class="badge badge-disabled">Disbursed</label>
                                                        	</span>
                                                    	</td>-->
                                                        <td>{{borrow.period}} month(s)</td>
                                                        <td>{{borrow.date_of_r}}</td>
                                                        <!--<td ng-bind="borrow.date_to_pay"></td>-->
                                                        <td>
                                                            <a ng-if="borrow.loan_note_url.length" ng-click="previewMyLoanNote(borrow.loan_note_url)" class="btn btn-sm btn-info">View Loan Note</a>
                                                            <a ng-if="!borrow.loan_note_url.length || borrow.loan_note_url === 'null'" disabled="disabled" class="btn btn-sm btn-info">No Loan Note</a>
                                                            <a ng-disabled="borrow.status_id === '0' || borrow.approve_flag !== '0'" ng-click="cancelLoan(borrow)" class="btn btn-sm btn-danger">Cancel Loan</a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class="loader" style="display: none;">
                                                <img src="images/loader.gif" alt="Loading...">
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="lend">
                                        <div class="table-responsive">
                                            <table class="table table-banded table-striped table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>AMOUNT LENT</th>
                                                        <!--<th>LEND STATUS</th>-->
                                                        <th>LEND STATUS</th>
                                                        <th>AMOUNT TO RECEIVE</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="table-data2">
                                                    <tr ng-repeat="lend in lends">
                                                        <td ng-bind="$index + 1"></td>
                                                        <td>{{lend.lend_amount | currency: "₦"}}</td>
                                                        <!--<td ng-bind="lend.amount_to_receive | number"></td>-->
                                                        <td><span class="badge badge-success">Verified</span></td>
                                                        <td>{{lend.amount_to_receive | currency: "₦"}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class="loader2" style="display: none;">
                                                <img src="images/loader.gif" alt="Loading...">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div ng-include="'includes/footer.html'"></div>
</div>
<!-- BEGIN MODAL VIEWS -->
<div class="modal fade" id="edit_profile" tabindex="-1" role="edit_profile" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Edit User Profile</h4>
            </div>
            <div class="modal-body">
                <div class="col-lg-12">
                    <form role="form">
                        <div class="form-body">
                            <div id="error" class="alert alert-danger" style="display: none;">
                                <button class="close" data-close="alert"></button>
                                <span ng-bind="profile_error"></span>
                            </div>
                            <div class="form-group">
                                <label for="form_control_1">Title</label>
                                <input type="text" class="form-control" id="form_control_1" name="title" ng-model="profile.title">
                            </div>
                            <div class="form-group">
                                <label for="form_control_2">First Name</label>
                                <input type="text" class="form-control" id="form_control_2" name="firstname" ng-model="profile.firstname">
                            </div>
                            <div class="form-group">
                                <label for="form_control_3">Last Name</label>
                                <input type="text" class="form-control" id="form_control_3" name="lastname" ng-model="profile.lastname">
                            </div>
                            <div class="form-group">
                                <label for="form_control_4">Middle Name</label>
                                <input type="text" class="form-control" id="form_control_4" name="middlename" ng-model="profile.middlename">
                            </div>
                            <div class="form-group">
                                <label for="form_control_5">Select Employee Status</label>
                                <select class="form-control" id="form_control_5" ng-model="profile.employee_status_id">
                                    <option value="" disabled selected>Employee Status</option>
                                    <option ng-repeat="option in list_employee_status" value="{{option.employee_id}}">{{option.employee_status_name}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="form_control_6">Phone Number</label>
                                <input type="tel" class="form-control" id="form_control_6" name="amount" ng-model="profile.phone_number">
                            </div>
                            <div class="form-group">
                                <label for="form_control_7">Address</label>
                                <textarea class="form-control" id="form_control_7" name="address" ng-model="profile.address"></textarea>
                            </div>
                            <!--<div class="form-group">-->
                            <!--<label for="form_control_8">Date Of Birth</label>-->
                            <!--<input type="date" class="form-control" id="form_control_8" name="birthdate" ng-model="profile.birthdate">-->
                            <!--</div>-->
                            <div class="form-group">
                                <label>Gender</label>
                                <input type="radio" name="gender" value="male" ng-model="profile.gender">Male
                                <input type="radio" name="gender" value="female" ng-model="profile.gender">Female
                            </div>
                        </div>
                    </form>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-disabled" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" ng-click="editProfile(profile)">Save Profile
                    <img id="spinner-edit-profile" src="images/spinner.gif" width="20"  alt="loading" style="display: none;"/>
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="loan_transaction" tabindex="-1" role="loan_transaction" aria-hidden="true" data-backdrop="false" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Lend / Borrow Loan</h4>
            </div>
            <div class="modal-body">
                <div class="col-lg-12">
                    <div class="banner-form animated fadeInUp" style="visibility: visible;">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a ng-href="#borrow-modal" target="_self" aria-controls="borrow" role="tab" data-toggle="tab">Borrow Money</a></li>
                            <li role="presentation"><a ng-href="#lend-modal" target="_self" aria-controls="lend" role="tab" data-toggle="tab">Lend Money</a></li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="borrow-modal">
                                <div class="row">
                                    <div class="col-sm-12">

                                        <!--<p ng-show="{{borrow_error!=''}}">{{borrow_error}}</p>-->
                                        <form id="scredit-form" class="ng-valid ng-dirty ng-valid-parse" name="applyform">
                                            <div>
                                                <div class="row">

                                                    <div class="col-md-12">
                                                        <div class="alert alert-danger alert-dismissible" role="alert" ng-show="borrow_error">
                                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="right:-4px;"><span aria-hidden="true">&times;</span></button>
                                                            <strong>Warning!</strong> {{borrow_error}}
                                                        </div>
                                                        <fieldset class="col-md-12" style="text-align:center">
                                                            <label class="col-md-12"> I need <span style="font-size: 20px;">{{loan_amount | currency : '₦ ': 2}}</span>worth of loan</label>
                                                            <div class="clearfix"></div>
                                                            <input class="col-md-12" id="loan-amount" value="{{loan_amount}}" ng-model="loan_amount" type="range" min="{{min_loan}}" max="{{max_loan}}" step="{{loan_step}}" data-rangeslider>
                                                        </fieldset>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <fieldset class="col-md-12" style="text-align:center">
                                                            <label class="col-md-12"> I will pay for it over <span style="font-size: 20px;">{{loan_duration | chkMonth}}</span></label>
                                                            <div class="clearfix"></div>
                                                            <input class="col-md-12" id="loan-duration" value ng-model="loan_duration" type="range" min="{{min_loan_duration}}" max="{{max_loan_duration}}" step="{{loan_duration_step}}" data-rangeslider>
                                                        </fieldset>
                                                    </div>
                                                </div>
                                                <div class="row" style="margin-top:20px;">
                                                    <div class="col-md-6" style="text-align:center">
                                                        <label>total payment:</label>
                                                        <label style="font-size:20px;">{{loan_total| currency : '₦ ': 2}}</span></label>
                                                    </div>
                                                    <div class="col-md-6" style="text-align:center">
                                                        <!--<label style="letter-spacing:2px">Effective Interest rate:</label>
                                                            <!--<label><span style="font-size:20px" class="ng-binding">₦<span id="loan-monthly">50,000</span>.00</span></label>-->

                                                        <!-- <label style="letter-spacing:2px">Effective Interest rate:</label>
															<label style="display:block;" id="effect"><span style="font-size:20px;text-align:center;">4.81%</label> -->
                                                        <!--<label style="letter-spacing:2px">Total Repayment Rate:</label>-->
                                                        <label style="letter-spacing:2px">Effective Interest Rate:</label>
                                                        <label style="font-size:20px;">{{effrate}} %</label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12" style="text-align:center">
                                                        <label>Total Repayment Rate:</label>
                                                        <label style="font-size:20px;">{{effective_interest_rate}} %</label>
                                                    </div>
                                                </div>
                                                <div class="row checks" style="margin-bottom:20px;">
                                                    <div class="col-md-12 one" style="text-align:center">
                                                        <!--<span style="display:inline;">Priority</span>-->
                                                        <label class="radio-inline" style="height:5px">
														  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="0.085" style="position:absolute;top:-2px" ng-model="priority"> Priority
														</label>
                                                        <label class="radio-inline" style="height:5px">
														  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="0.00"style="position:absolute;top:-2px;" ng-model="priority"> Standard
														</label>
                                                    </div>
                                                </div>
                                                <div class="row">

                                                    <!--<select class="form-control" style="margin-left:15px;width:95%;" ng-model="reason_id" ng-options="reasonn.reason_id as reasonn.title for reasonn in reasons" required>
                                                        <option value="">Please Select a Reason for applying for the Loan</option>
                                                    </select>-->
                                                    <!--<textarea class="form-control"></textarea>-->
                                                    <select ng-model="reason_id" class="form-control" style="margin-left:15px;width:95%" ng-options="reason.title for reason in reasons">
                                                        <option value="">Please Select a Reason for applying for the loan</option>
                                                    </select>
                                                </div>
                                                <div class="row">
                                                    <textarea ng-if="reason_id.title == 'Others'" class="form-control" style="margin-left:16px;width:95%;margin-top:20px;" placeholder="If Other Reasons, Please Specify..." ng-model="other_reasons" required></textarea>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <fieldset>

                                                            <!-- <button class="submit-btn btn-blue" ng-click="generateLoanNote()" style="border-radius:5px;" data-toggle="modal" data-target="#loan_note">
                                                              <span id="borrow-text">APPLY NOW</span>
                                                              <img id="spinner-borrow" src="images/spinner.gif" width="20"  alt="loading" style="display: none;"/>
                                                          </button> -->
                                                            <!-- <button class="submit-btn btn-blue" ng-click="apply()" style="border-radius:5px;" ng-disabled="applyform.$invalid"> -->
                                                            <button class="submit-btn btn-blue" style="border-radius:5px;" id="myBtn">
                                                                <span id="preview-text">PREVIEW REQUEST</span>
                                                                <img id="spinner-borrow-preview" src="images/spinner.gif" width="20"  alt="loading" style="display: none;"/>
                                                            </button>
                                                        </fieldset>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="lend-modal">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <form id="scredit-form" class="ng-valid ng-dirty ng-valid-parse">
                                            <div>
                                                <div id="error-lend" class="alert alert-danger" style="display: none;">
                                                    <button class="close" data-close="alert"></button>
                                                    <span ng-bind="lend_error"></span>
                                                </div>
                                                <div>
                                                    <div class="row">
                                                        <fieldset class="col-xs-12 col-gt-xs-10 col-centered" style="text-align:center">
                                                            <label class="col-md-12"> I have <span style="font-size: 20px;">{{lend_amount | currency : '₦ ': 2}}</span> to invest</label>
                                                            <div class="clearfix"></div>
                                                            <input class="col-md-12" id="lend-amount" value ng-model="lend_amount" type="range" min="{{min_lend}}" max="{{max_lend}}" step="{{lend_step}}" data-rangeslider>
                                                        </fieldset>
                                                        <fieldset class="col-xs-12 col-gt-xs-10 col-centered" style="text-align:center">
                                                            <label class="col-md-12"> For a period of <span style="font-size: 20px;">{{lend_duration|chkMonth}}</span></label>
                                                            <div class="clearfix"></div>
                                                            <input class="col-md-12" id="lend-duration" value ng-model="lend_duration" type="range" min="{{min_lend_duration}}" max="{{max_lend_duration}}" step="{{lend_duration_step}}" data-rangeslider>
                                                        </fieldset>
                                                    </div>
                                                    <div>
                                                        <div class="col-md-6">
                                                            <fieldset class="col-md-12" style="text-align:center">
                                                                <label style="" class="col-md-12">Total Returns:</label>
                                                                <label class="col-md-12" style="font-size:20px;padding:0px;">{{lend_returns| currency : '₦ ': 2}}</span></label>
                                                            </fieldset>
                                                        </div>
                                                        <div class="col-md-6" style="text-align:center;">
                                                            <!--<fieldset class="col-md-12" style="text-align:center">-->
                                                            <label style="letter-spacing:2px;margin-top:20px;">Interest rate:</label>
                                                            <label style="display:block;"><span style="font-size:20px">{{base_lend_interest}}%</span></label>
                                                            <!--</fieldset>-->
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <fieldset>
                                                                <button class="submit-btn btn-blue" ng-click="invest()" style="border-radius:5px;">
                                                                <span id="lend-text">INVEST NOW</span>
                                                                <img id="spinner-lend" src="images/spinner.gif" width="20"  alt="loading" style="display: none;"/>
                                                            </button>
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!-- The Modal -->
<div id="loan-note-modal-preview" class="loan-note-modal" tabindex="-1">

    <!-- Modal content -->
    <div class="loan-note-modal-content">
        <div class="loan-note-modal-header">
            <span class="loan-note-close">&times;</span>
            <h2>Loan Note</h2>
        </div>
        <div class="loan-note-modal-body">
            <table style="border-collapse:collapse;border-spacing:0;" class="table">
                <tr>
                    <th style="font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:3px 17px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal; font-family:Arial, sans-serif;font-size:14px;padding:3px 17px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;font-family:Verdana, Geneva, sans-serif !important;;background-color:#ffffff;text-align:center"
                        rowspan="2">Description</th>
                    <th style="font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:3px 17px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal; font-family:Arial, sans-serif;font-size:14px;padding:3px 17px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;font-family:Verdana, Geneva, sans-serif !important;;background-color:#ffffff;text-align:center"
                        rowspan="2">Amount / Rate</th>
                    <th style="font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:3px 17px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal; font-family:Arial, sans-serif;font-size:14px;padding:3px 17px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;font-family:Verdana, Geneva, sans-serif !important;;background-color:#ffffff;text-align:center"
                        colspan="{{loan_duration}}">Repayments</th>
                    <th style="font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:3px 17px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal; font-family:Arial, sans-serif;font-size:14px;padding:3px 17px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;font-family:Verdana, Geneva, sans-serif !important;;background-color:#ffccc9;text-align:center"
                        rowspan="3">Total</th>
                </tr>
                <tr>
                    <td ng-repeat="each_month in monthly track by $index" style="font-family:Arial, sans-serif;font-size:14px;padding:3px 17px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal; font-family:Arial, sans-serif;font-size:14px;padding:3px 17px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal; font-family:Verdana, Geneva, sans-serif !important;;text-align:right;vertical-align:top">{{$index + 1}}</td>
                </tr>
                <tr>
                    <td style="font-family:Arial, sans-serif;font-size:14px;padding:3px 17px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal; font-family:Arial, sans-serif;font-size:14px;padding:3px 17px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal; font-family:Verdana, Geneva, sans-serif !important;;background-color:#ffccc9;text-align:center">Principal (P)</td>
                    <td style="font-family:Arial, sans-serif;font-size:14px;padding:3px 17px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal; font-family:Arial, sans-serif;font-size:14px;padding:3px 17px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal; font-family:Verdana, Geneva, sans-serif !important;;text-align:right;vertical-align:top">₦{{loan_amount}}</td>
                    <td ng-repeat="prin in principal_charge track by $index" style="font-family:Arial, sans-serif;font-size:14px;padding:3px 17px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal; font-family:Arial, sans-serif;font-size:14px;padding:3px 17px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal; font-family:Verdana, Geneva, sans-serif !important;;text-align:right;vertical-align:top">₦{{prin}}</td>
                </tr>
                <tr>
                    <td style="font-family:Arial, sans-serif;font-size:14px;padding:3px 17px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal; font-family:Arial, sans-serif;font-size:14px;padding:3px 17px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal; font-family:Verdana, Geneva, sans-serif !important;;background-color:#ffffff;vertical-align:top">Principal Repayment (PR)</td>
                    <td style="font-family:Arial, sans-serif;font-size:14px;padding:3px 17px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal; font-family:Arial, sans-serif;font-size:14px;padding:3px 17px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal; font-family:Verdana, Geneva, sans-serif !important;;text-align:right;vertical-align:top">{{loan_duration}}</td>
                    <td ng-repeat="prin_payment in principal_repayment_holder track by $index" style="font-family:Arial, sans-serif;font-size:14px;padding:3px 17px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal; font-family:Arial, sans-serif;font-size:14px;padding:3px 17px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal; font-family:Verdana, Geneva, sans-serif !important;;text-align:right;vertical-align:top">₦{{prin_payment}}</td>
                    <td style="font-family:Arial, sans-serif;font-size:14px;padding:3px 17px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal; font-family:Arial, sans-serif;font-size:14px;padding:3px 17px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal; font-family:Verdana, Geneva, sans-serif !important;;background-color:#ffffff;text-align:right;vertical-align:top">₦{{loan_amount}}</td>
                </tr>
                <tr>
                    <td style="font-family:Arial, sans-serif;font-size:14px;padding:3px 17px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal; font-family:Arial, sans-serif;font-size:14px;padding:3px 17px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal; font-family:Verdana, Geneva, sans-serif !important;;background-color:#ffffff;vertical-align:top">Monthly Interest Rate (MIR)</td>
                    <td style="font-family:Arial, sans-serif;font-size:14px;padding:3px 17px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal; font-family:Arial, sans-serif;font-size:14px;padding:3px 17px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal; font-family:Verdana, Geneva, sans-serif !important;;text-align:right;vertical-align:top">{{interest_rate*100}}%</td>
                    <td ng-repeat="mir in monthly_interest_holder track by $index" style="font-family:Arial, sans-serif;font-size:14px;padding:3px 17px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal; font-family:Arial, sans-serif;font-size:14px;padding:3px 17px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal; font-family:Verdana, Geneva, sans-serif !important;;text-align:right;vertical-align:top">₦{{mir}}</td>
                    <td style="font-family:Arial, sans-serif;font-size:14px;padding:3px 17px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal; font-family:Arial, sans-serif;font-size:14px;padding:3px 17px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal; font-family:Verdana, Geneva, sans-serif !important;;background-color:#ffffff;text-align:right;vertical-align:top">₦{{monthly_interest_holder_sum}}</td>
                </tr>
                <tr>
                    <td style="font-family:Arial, sans-serif;font-size:14px;padding:3px 17px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal; font-family:Arial, sans-serif;font-size:14px;padding:3px 17px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal; font-family:Verdana, Geneva, sans-serif !important;;background-color:#ffffff;vertical-align:top">Priority Interest</td>
                    <td style="font-family:Arial, sans-serif;font-size:14px;padding:3px 17px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal; font-family:Arial, sans-serif;font-size:14px;padding:3px 17px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal; font-family:Verdana, Geneva, sans-serif !important;;text-align:right;vertical-align:top">{{priority*100}}%</td>
                    <td ng-repeat="prty in priority_charges_holder track by $index" style="font-family:Arial, sans-serif;font-size:14px;padding:3px 17px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal; font-family:Arial, sans-serif;font-size:14px;padding:3px 17px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal; font-family:Verdana, Geneva, sans-serif !important;;text-align:right;vertical-align:top">₦{{prty}}</td>
                    <td style="font-family:Arial, sans-serif;font-size:14px;padding:3px 17px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal; font-family:Arial, sans-serif;font-size:14px;padding:3px 17px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal; font-family:Verdana, Geneva, sans-serif !important;;background-color:#ffffff;text-align:right;vertical-align:top">₦{{priority_charges_holder_sum}}</td>
                </tr>
                <tr>
                    <td style="font-family:Arial, sans-serif;font-size:14px;padding:3px 17px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal; font-family:Arial, sans-serif;font-size:14px;padding:3px 17px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal; font-family:Verdana, Geneva, sans-serif !important;;background-color:#ffffff;vertical-align:top">Fines</td>
                    <td style="font-family:Arial, sans-serif;font-size:14px;padding:3px 17px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal; font-family:Arial, sans-serif;font-size:14px;padding:3px 17px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal; font-family:Verdana, Geneva, sans-serif !important;;text-align:right;vertical-align:top">{{fine*100}}%</td>
                    <td ng-repeat="fine_charges in fines_charges_holder track by $index" style="font-family:Arial, sans-serif;font-size:14px;padding:3px 17px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal; font-family:Arial, sans-serif;font-size:14px;padding:3px 17px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal; font-family:Verdana, Geneva, sans-serif !important;;text-align:right;vertical-align:top">₦{{fine_charges}}</td>
                    <td style="font-family:Arial, sans-serif;font-size:14px;padding:3px 17px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal; font-family:Arial, sans-serif;font-size:14px;padding:3px 17px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal; font-family:Verdana, Geneva, sans-serif !important;;background-color:#ffffff;text-align:right;vertical-align:top">₦{{fines_charges_holder_sum}}</td>
                </tr>
                <tr>
                    <td style="font-family:Arial, sans-serif;font-size:14px;padding:3px 17px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal; font-family:Arial, sans-serif;font-size:14px;padding:3px 17px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal; font-family:Verdana, Geneva, sans-serif !important;;background-color:#ffffff;vertical-align:top">Transaction Charges</td>
                    <td style="font-family:Arial, sans-serif;font-size:14px;padding:3px 17px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal; font-family:Arial, sans-serif;font-size:14px;padding:3px 17px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal; font-family:Verdana, Geneva, sans-serif !important;;text-align:right;vertical-align:top">₦{{transaction_charge}}</td>
                    <td ng-repeat="transaction_charges in transaction_charges_holder track by $index" style="font-family:Arial, sans-serif;font-size:14px;padding:3px 17px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal; font-family:Arial, sans-serif;font-size:14px;padding:3px 17px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal; font-family:Verdana, Geneva, sans-serif !important;;text-align:right;vertical-align:top">₦{{transaction_charges}}</td>
                    <td style="font-family:Arial, sans-serif;font-size:14px;padding:3px 17px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal; font-family:Arial, sans-serif;font-size:14px;padding:3px 17px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal; font-family:Verdana, Geneva, sans-serif !important;;background-color:#ffffff;text-align:right;vertical-align:top">₦{{transaction_charges_holder_sum}}</td>
                </tr>
                <tr>
                    <td style="font-family:Arial, sans-serif;font-size:14px;padding:3px 17px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal; font-family:Arial, sans-serif;font-size:14px;padding:3px 17px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal; font-family:Verdana, Geneva, sans-serif !important;;background-color:#ffffff;vertical-align:top">Assurance Charges</td>
                    <td style="font-family:Arial, sans-serif;font-size:14px;padding:3px 17px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal; font-family:Arial, sans-serif;font-size:14px;padding:3px 17px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal; font-family:Verdana, Geneva, sans-serif !important;;text-align:right;vertical-align:top">{{insurance*100}}%</td>
                    <td ng-repeat="insurance_charges in insurance_charges_holder track by $index" style="font-family:Arial, sans-serif;font-size:14px;padding:3px 17px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal; font-family:Arial, sans-serif;font-size:14px;padding:3px 17px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal; font-family:Verdana, Geneva, sans-serif !important;;text-align:right;vertical-align:top">₦{{insurance_charges}}</td>
                    <td style="font-family:Arial, sans-serif;font-size:14px;padding:3px 17px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal; font-family:Arial, sans-serif;font-size:14px;padding:3px 17px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal; font-family:Verdana, Geneva, sans-serif !important;;background-color:#ffffff;text-align:right;vertical-align:top">₦{{insurance_charges_holder_sum}}</td>
                </tr>
                <tr>
                    <td style="font-family:Arial, sans-serif;font-size:14px;padding:3px 17px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal; font-family:Arial, sans-serif;font-size:14px;padding:3px 17px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal; font-family:Verdana, Geneva, sans-serif !important;;vertical-align:top"
                        colspan="2">Monthly / Total Repayment</td>
                    <td ng-repeat="monthly_payment in monthly track by $index" style="font-family:Arial, sans-serif;font-size:14px;padding:3px 17px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal; font-family:Arial, sans-serif;font-size:14px;padding:3px 17px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal; font-family:Verdana, Geneva, sans-serif !important;;text-align:right;vertical-align:top">₦{{monthly_payment}}</td>
                    <td style="font-family:Arial, sans-serif;font-size:14px;padding:3px 17px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal; font-family:Arial, sans-serif;font-size:14px;padding:3px 17px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal; font-family:Verdana, Geneva, sans-serif !important;;background-color:#32cb00;text-align:right;vertical-align:top">₦{{monthly_sum}}</td>
                </tr>
            </table>
        </div>
        <div class="loan-note-modal-footer">
            <button class="submit-btn btn-blue" ng-click="apply()" style="border-radius:5px;" data-toggle="modal" data-target="#loan_note">
        <span id="borrow-text">I AGREE, APPLY NOW</span>
        <img id="spinner-borrow" src="images/spinner.gif" width="20"  alt="loading" style="display: none;"/>
    </button>

        </div>
    </div>

</div>

<div class="modal fade" id="upload_image" tabindex="-1" role="upload_image" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Edit Profile Picture</h4>
            </div>
            <div class="modal-body">
                <div class="col-lg-12">
                    <form role="form">
                        <div class="form-body">
                            <div id="error-image-upload" class="alert alert-danger" style="display: none;">
                                <button class="close" data-close="alert"></button>
                                <span ng-bind="profile_error"></span>
                            </div>
                            <div class="form-group">
                                <label for="form_control_1">Select Image</label>
                                <!-- image-preview-filename input [CUT FROM HERE]-->
                                <div class="input-group image-preview">
                                    <input type="text" class="form-control image-preview-filename" disabled="disabled">
                                    <!-- don't give a name === doesn't send on POST/GET -->
                                    <span class="input-group-btn">
                                        <!-- image-preview-clear button -->
                                        <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
                                            <span class="glyphicon glyphicon-remove"></span> Clear
                                    </button>
                                    <!-- image-preview-input -->
                                    <div class="btn btn-default image-preview-input">
                                        <span class="glyphicon glyphicon-folder-open"></span>
                                        <span class="image-preview-input-title">Browse</span>
                                        <input id="user_pics" type="file" accept="image/png, image/jpeg, image/gif" name="input-file-preview" file-model="myFile" />
                                        <!-- rename it -->
                                    </div>
                                    </span>
                                </div>
                                <!-- /input-group image-preview [TO HERE]-->
                            </div>
                        </div>
                    </form>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-disabled" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" ng-click="uploadImage()">Upload
                    <img id="spinner-image-upload" src="images/spinner.gif" width="20"  alt="loading" style="display: none;"/>
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="forgot_password" tabindex="-1" role="forgot_password" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title text-center">Change Password</h4>
            </div>
            <div class="modal-body">
                <div class="col-lg-12">
                    <form role="form" name="currentPassword">
                        <div class="form-body">
                            <div id="error-forgot-password" class="alert alert-danger" style="display: none;">
                                <button class="close" data-close="alert"></button>
                                <span ng-bind="password_error"></span>
                            </div>
                            <div class="form-group">
                                <label for="form_control_1">Please Enter Current Password:</label>
                                <input type="password" class="form-control" ng-model="forgot.user_password" required>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-disabled" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" ng-click="forgotPassword(forgot)" ng-disabled="currentPassword.$invalid">Confirm Password
                    <img id="spinner-forgot-password" src="images/spinner.gif" width="20"  alt="loading" style="display: none;"/>
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- Change Password Modal -->
<div class="modal fade" id="forgot_password" tabindex="-1" role="forgot_password" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title text-center">Confirm Current Password</h4>
            </div>
            <div class="modal-body">
                <div class="col-lg-12">
                    <form role="form">
                        <div class="form-body">
                            <div class="form-group">
                                <label for="form_control_1">Please Enter Current Password:</label>
                                <input type="password" class="form-control" ng-model="forgot.user_password">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-disabled" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" ng-click="forgotPassword(forgot)">Confirm Password
                    <img id="spinner-forgot-password" src="images/spinner.gif" width="20"  alt="loading" style="display: none;"/>
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="bank_detail" tabindex="-1" role="bank_detail" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Update Bank Details</h4>
            </div>
            <div class="modal-body">
                <div class="col-lg-12">
                    <form role="form" name="bankdetails">
                        <div class="form-body">
                            <div id="error-bank-detail" class="alert alert-danger" style="display: none;">
                                <button class="close" data-close="alert"></button>
                                <span ng-bind="bank_error"></span>
                            </div>
                            <div class="form-group">
                                <label for="form_control_2">Account Name</label>
                                <input type="text" class="form-control" name="account_name" ng-model="bank.account_name" required readonly>
                            </div>
                            <div class="form-group">
                                <label for="form_control_3">Account Number</label>
                                <input type="text" class="form-control" name="account_number" ng-model="bank.account_number" required ng-minlength="10">
                            </div>
                            <div class="form-group">
                                <label for="form_control_4">BVN</label>
                                <input type="text" class="form-control" name="account_bvn" ng-model="bank.bvn" required ng-minlength="11">
                            </div>
                            <div class="form-group">
                                <label for="form_control_5">Select Bank</label>
                                <!--<select class="form-control" ng-model="bank.bank_name" required>
                                    <option value="" disabled selected>Bank</option>
                                    <option ng-repeat="option in list_bank" value="{{option.name}}">{{option.name}}</option>
                                </select>-->
                                <!--<select class="form-control" ng-model="bank.bank_name" ng-options="bank.bank_code as bank.bank_name for bank in list_bank">
                                    <option value="" selected="selected">Please Select a Bank</option>
                                </select>-->
                                <select class="form-control" ng-model="bank.bank_details" ng-options="bank.bank_name for bank in list_bank" ng-change="callValidate()">
                                    <option value="" selected="selected">Please Select a Bank</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-disabled" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" ng-click="updateBank(bank)" ng-disabled="bankdetails.$invalid">Update
                    <img id="spinner-bank-detail" src="images/spinner.gif" width="20"  alt="loading" style="display: none;"/>
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- END MODAL VIEWS -->
<!-- Reenter Password Modal-->
<div class="modal fade" id="re_enter_password" tab-index="-1" role="dialog" aria-labelledby="#re_enter_password">
    <!-- Modal-->
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4>Change Password</h4>
            </div>
            <div class="modal-body">
                <form role="form" name="changePassword">
                    <div class="form-body">
                        <div class="form-group">
                            <label for="form_control_1">Please Enter New Password:</label>
                            <input type="password" class="form-control" ng-model="change.user_password" required>
                        </div>
                        <div class="form-group">
                            <label>Confirm New Password</label>
                            <input type="password" class="form-control" ng-model="change.confirm_password" ng-pattern="change.user_password" required/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" ng-disabled="changePassword.$invalid" ng-click="changePassword(change)">Change Password
                <img id="spinner-changepassword" src="images/spinner.gif" width="20"  alt="loading" style="display: none;"/>
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Range Slider -->
<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
<!-- Range Slider -->
<script src="js/rangeslider.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/application.js"></script>
<script src="js/owl.carousel.js"></script>
<script src="js/triger.js" type="text/javascript"></script>
<script src="js/onepagescroll.js"></script>
<script src="js/rangeSliderScript.js"></script>