
<style>
	.signup{
		margin-top: 10px;
	}
	a.signnup:hover{
		text-decoration: underline;
	}
</style>
<div id="page" class="page">
    <div ng-include="'includes/header.html'"></div>
    <div class="item header margin-top-0 padding-bottom-30 header15" id="header15">
        <div class="container padding-top-30 padding-bottom-30">
            <div class="row margin-top-30 os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0.2s">
                <div class="col-md-7 col-sm-5 col-xs-12 padding-bottom-50">
                    <div id="owl-demo" class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="header-big-text-2 os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0s">
                                <h1 class="color-white tx-left">Loans Made <strong>Easy</strong></h1>
                                <h2 class="color-white tx-left padding-top-30">
                                    <ul>
                                        <li>No Hidden Fees</li>
                                        <li>Fixed Terms</li>
                                        <li>Low Rates</li>
                                    </ul>
                                </h2>
                            </div>
                        </div>
                        <div class="item">
                            <div class="header-big-text-2 os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0s">
                                <h1 class="color-white tx-left"><strong>Diversify</strong> Your Portfolio &amp; Investment</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-sm-7 col-xs-12">
                    <div class="banner-form animated fadeInUp" style="visibility: visible;">
                        <h4 style="color: #ffffff; text-align: center;">Sign in <br> to your Account</h4>
                        <form id="signinform">
                            <div class="row">
                                <div class="col-md-12">
                                    <fieldset>
                                        <label>Email</label>
                                        <input type="email" placeholder="Enter Email Address" name="email" required ng-model="client.user_email">
                                    </fieldset>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <fieldset>
                                        <label>Password</label>
                                        <input type="password" placeholder="Enter Password"  name="password" required ng-model="client.user_password">
                                    </fieldset>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <fieldset>
                                        <button class="submit-btn btn-blue" name="signin" ng-click="login(client)">
                                            <!--<span ng-bind="signup_text"></span>-->
                                            <span id="login-text">Sign In</span>
                                            <img id="spinner-login" class="spinner" src="images/spinner.gif" width="30">
                                        </button>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="row">
                            	<div class="col-md-12">
                            		<p class="signup">Don't have an account <a href="#/" style="color:white;" class="signnup">Sign Up</a></p>
                            	</div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class=" item padding-top-30 padding-bottom-30" id="content-area-5">
        <div class="wrapper">
            <div class="container-fluid">
                <div class="row" style="margin:0;">
                    <div class="col-md-3 col-sm-3 col-xs-12 text-center os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0s" style="border-right:1px solid #e6e4e4;">
                        <div class="feature-4">
                            <div class="feature-figure-1">
                                <i class="fa fa-bolt fa-5x"></i>
                            </div>
                            <div class="">
                                <h6>Fast Application</h6>
                            </div>
                            <div class="">
                                <p>Easy online application completed in minutes.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 text-center os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0.5s" style="border-right:1px solid #e6e4e4;">
                        <div class="feature-4">
                            <div class="feature-figure-1">
                                <i class="fa fa-percent fa-5x"></i>
                            </div>
                            <div class="">
                                <h6>Better rates</h6>
                            </div>
                            <div class="">
                                <p>Low interest rates to reward good borrowers.</p>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 text-center os-animation" data-os-animation="fadeInUp" data-os-animation-delay="1s" style="border-right:1px solid #e6e4e4;">
                        <div class="feature-4">
                            <div class="feature-figure-1">
                                <i class="fa fa-check-circle-o fa-5x"></i>
                            </div>
                            <div class="">
                                <h6>Simple and flexible</h6>
                            </div>
                            <div class="">
                                <p>No early repayment fees and easy online management.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 text-center os-animation" data-os-animation="fadeInRight" data-os-animation-delay="1s">
                        <div class="feature-4">
                            <div class="feature-figure-1">
                                <i class="fa fa-cog fa-5x"></i>
                            </div>
                            <div class="">
                                <h6>FREE SUPPORT</h6>
                            </div>
                            <div class="">
                                <p>Our service team provides 24/7 customer service support.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-include="'includes/footer.html'"></div>
</div>
<!-- Range Slider -->
<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
<!-- Range Slider -->
<script src="js/rangeslider.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/application.js"></script>
<script src="js/owl.carousel.js"></script>
<script src="js/triger.js" type="text/javascript"></script>
<script src="js/onepagescroll.js"></script>
<script src="js/rangeSliderScript.js"></script>