
<style>
	.col-md-2{
		width: 20%;
	}
	img{
		margin-left: 18px;
	}
	.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:focus{
		color: white !important;
	}
	a.navbar-brand{
		padding-left: 0px;
	}
	nav#settings.navbar.navbar-default{
		margin-bottom: 0;
	}
	div.modal-body{
		padding-bottom: 0;
	}
</style>
<div id="page" class="page">
    <div ng-include="'includes/header.html'"></div>
    <nav class="navbar navbar-default" id="settings" role="navigation" style="margin-top:6px;border-radius:0;">
    	<div class="container tansnav">
	   		<div class="navbar-header">
	   			<a class="navbar-brand">{{company.company_name | uppercase}}</a>
	   		</div>
   			<ul class="nav navbar-nav">
   				<li class="navbar-brand">Transaction Summary</li>
   			</ul>
   			<ul class="nav navbar-nav navbar-right">
		        <!--<li><a href="#">Link</a></li>-->
						<li class="dropdown">
							<a href="" class="dropdown-toggle set" data-toggle="modal" data-target="#forgot_password"role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-lock"></span> Reset Password</a>
								</a>
							</li>
		        <li class="dropdown">
		          <a href="" class="dropdown-toggle set" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-cog"></span> Settings<span class="caret"></span></a>
		          <ul class="dropdown-menu">
		            <!-- <li><a href="#/reset">Reset Password</a></li> -->

		            <!--<li><a href="#">Another action</a></li>
		            <li><a href="#">Something else here</a></li>
		            <li role="separator" class="divider"></li>
		            <li><a href="#">Separated link</a></li>-->
		          </ul>
		        </li>

      		</ul>
   			<!--<ul class="nav navbar-nav navbar-right">
   				<li style="color:white !important;" class="dropdown"><a href="#" style="color:white !important;" class="dropdown-toggle"><span class="glyphicon glyphicon-cog"></span> Settings<span class="caret"></span></a>
   				<ul class="dropdown-menu">
   					<li><a href="#">Change Password</a></li>
   				</ul>
   				</li>
   			</ul>-->
	   	</div>
    </nav>
    <section id="content">
        <div style="padding:40px 0;">
            <div class="container">
            	<div class="row">
                    <div class="col-md-2 col-sm-6">
                    	<div class="card  height-2">
                        	<div class="card-body no-padding">
                            	<div class="alert alert-callout style-custom no-margin">
                                        <strong class="text-xl"><span ng-bind="total_borrowed | currency:'&#8358;':2"></span> </strong><br/>
                                    <span class="opacity-75">Total Borrowed</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6">
                        <div class="card  height-2">
                            <div class="card-body no-padding">
                                <div class="alert alert-callout style-custom no-margin">
                                    <strong class="text-xl"><span ng-bind="total_lent | currency:'&#8358;':2"></span> </strong><br/>
                                    <span class="opacity-75">Total Lent</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6">
                        <div class="card  height-2">
                            <div class="card-body no-padding">
                                <div class="alert alert-callout style-custom no-margin">
                                    <strong class="text-xl"><span ng-bind="total_requested | currency:'&#8358;':2"></span> </strong><br/>
                                    <span class="opacity-75">Total Requested</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6">
                        <div class="card  height-2">
                            <div class="card-body no-padding">
                                <div class="alert alert-callout style-custom no-margin">
                                    <strong class="text-xl"><span ng-bind="total_declined | currency:'&#8358;':2"></span> </strong><br/>
                                    <span class="opacity-75">Total Declined</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6">
                        <div class="card  height-2">
                            <div class="card-body no-padding">
                                <div class="alert alert-callout style-custom no-margin">
                                    <strong class="text-xl"> <span ng-bind="total_staff"></span> </strong><br/>
                                    <span class="opacity-75">Total Staff</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-outlined card-underline">
                            <div class="card-head style-custom">
                                <header style="width: 100%;">
                                    <span style="float:left; margin-top: 12px;">
                                        Latest Transactions <!--by <span ng-bind="company.company_name"></span> staff-->
                                    </span>
                                    <a href="javascript:;" class="btn btn-disabled btn-sm"  download="{{company.company_name}} Staff Transactions.xls" onclick="return ExcellentExport.excel(this, 'editable', 'List of Transactions');" style="float: right; color:#ffffff; font-size: 16px;">
                                        EXCEL <i class="fa fa-file-excel-o"></i></a>
                                    <a href="javascript:;" ng-click="generatefromtable(company.company_name,'Transactions','editable')" class="btn btn-disabled btn-sm" style="float: right; color:#ffffff; font-size: 16px;">
                                        PDF <i class="fa fa-file-pdf-o"></i></a>
                                    <span class="clearfix"></span>
                                </header>
                            </div>
                            <div class="card-body height-6">
                                <div class="table-responsive">
                                    <table id="editable" class="table table-banded table-striped table-hover">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>EMAIL</th>
                                            <th>NAME</th>
                                            <th>AMOUNT LENT</th>
                                            <th>LOAN TENURE</th>
                                            <th ng-hide="user.user_type_id === 7 || user.user_type_id === 6">ACTION</th>
                                        </tr>
                                        </thead>
                                        <tbody class="table-data1">
                                        <tr ng-repeat="latest in latests">
                                            <td ng-bind="$index + 1"></td>
                                            <td ng-bind="latest.email"></td>
                                            <td>{{latest.firstname}} {{latest.lastname}}</td>

                                            <!--<td ng-bind="latest.loan_amount | number"></td>-->
                                            <td class="text-right">{{latest.loan_amount | currency: " ₦ "}}</td>
                                            <!--<td ng-bind="tenure(latest.date_of_request,latest.date_to_pay)"></td>-->
                                            <td>{{latest.period}} month(s)</td>
                                            <td ng-hide="user.user_type_id === 7 || user.user_type_id === 6">
                                                <span class="staff-actions-{{$index}}">
																										<a ng-click="previewBorrowerLoanNote(latest.loan_note_url)" class="btn btn-sm btn-info">View Loan Note</a>

																										<a ng-click="authenticate(latest.borrow_id,$index,'approve')" class="btn btn-sm btn-success">Approve</a>
                                                    <a ng-click="authenticate(latest.borrow_id,$index,'reject')" class="btn btn-sm btn-danger">Decline</a>
                                                </span>
                                                <img class="staff-spinner-{{$index}}" width="30" src="images/spinner.gif" alt="requesting..." style="display: none;">
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div class="loader loader1" style="display: none;">
                                        <img src="images/loader.gif" alt="Loading...">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
                <div class="row">
					<!--<div class="col-md-5">-->
                        <!--<div class="card card-outlined card-underline">-->
                            <!--<div class="card-head style-custom">-->
                                <!--<header>-->
                                    <!--Lend History-->
                                <!--</header>-->
                            <!--</div>-->
                            <!--<div class="card-body height-6">-->
                                <!--<div class="table-responsive">-->
                                    <!--<table class="table table-banded table-striped table-hover">-->
                                        <!--<thead>-->
                                        <!--<tr>-->
                                            <!--<th>#</th>-->
                                            <!--<th>AMOUNT LENT</th>-->
                                            <!--<th>AMOUNT TO RECEIVE</th>-->
                                            <!--<th>STATUS</th>-->
                                            <!--<th>DATE LENT</th>-->
                                        <!--</tr>-->
                                        <!--</thead>-->
                                        <!--<tbody class="table-data2">-->
                                        <!--<tr ng-repeat="lender in lenders">-->
                                            <!--<td ng-bind="$index + 1"></td>-->
                                            <!--&lt;!&ndash;<td ng-bind="lender.lend_amount | number"></td>&ndash;&gt;-->
                                            <!--&lt;!&ndash;<td ng-bind="lender.amount_to_receive | number"></td>&ndash;&gt;-->
                                            <!--<td>XXXXXX</td>-->
                                            <!--<td>XXXXXX</td>-->
                                            <!--<td>-->
                                                <!--<span ng-if="lender.status_id == 1">-->
                                                    <!--<label class="label label-default">Inactive</label>-->
                                                <!--</span>-->
                                                <!--<span ng-if="lender.status_id == 2">-->
                                                    <!--<label class="label label-danger">Active</label>-->
                                                <!--</span>-->
                                            <!--</td>-->
                                            <!--<td ng-bind="lender.date_lend"></td>-->
                                        <!--</tr>-->
                                        <!--</tbody>-->
                                    <!--</table>-->
                                    <!--<div class="loader2" style="display: none;">-->
                                        <!--<img src="images/loader.gif" alt="Loading...">-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                	<div class="col-md-12">
                        <div class="card card-outlined card-underline">
                            <div class="card-head style-custom">
                                <header style="width: 100%;">
                                    <span style="float:left; margin-top: 12px;">
                                        Borrow History <!--For <span ng-bind="company.company_name"></span> staff-->
                                    </span>
                                    <a href="javascript:;" class="btn btn-disabled btn-sm"  download="{{company.company_name}} Staff Borrow History.xls" onclick="return ExcellentExport.excel(this, 'editable2', 'Borrow History');" style="float: right; color:#ffffff; font-size: 16px;">
                                        EXCEL <i class="fa fa-file-excel-o"></i></a>&nbsp;&nbsp;
                                    <!--<a href="javascript:;" ng-click="generatefromtable(company.company_name,'Borrow History','editable2')" class="btn btn-disabled btn-sm" style="float: right; color:#ffffff; font-size: 16px;">
                                        PDF <i class="fa fa-file-pdf-o"></i></a>-->
                                    <a href="javascript:;" ng-click="generate2fromtable(company.company_name,'Borrow History','editable2')" class="btn btn-disabled btn-sm" style="float: right; color:#ffffff; font-size: 16px;right:8px;">
                                        PDF <i class="fa fa-file-pdf-o"></i></a>
                                    <span class="clearfix"></span>
                                </header>
                            </div>
                            <div class="card-body height-6">
                                <div class="row">
                                    <div class="col-lg-1">
                                        <h4>Filter:</h4>
                                    </div>
                                    <div class="col-lg-2" style="padding-left: 0px;">
                                        <select class="form-control"  ng-init="borrows" id="form_control_1" ng-model="value" ng-change="filterTransactions(value)">
                                            <option value="" disabled>.... Status ....</option>
                                            <option value="3">All</option>
                                            <option value="1">Inactive</option>
                                            <option value="2">Active</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <div class="margin-top-10"></div>
                                    <table class="table table-banded table-striped table-hover" id="editable2">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>NAME</th>
                                            <th>AMOUNT LENT</th>
                                            <th>AMOUNT TO PAY</th>
                                            <th>STATUS</th>
                                            <!--<th>PROCESS</th>-->
                                            <th>PRIORITY</th>
                                            <th>DATE REQUESTED</th>
                                            <th>LOAN TENURE</th>
                                        </tr>
                                        </thead>
                                        <tbody class="table-data3">
                                        <tr ng-repeat="borrow in borrows">
                                            <td ng-bind="$index + 1"></td>
                                            <td>{{borrow.firstname}} {{borrow.lastname}}</td>
                                            <td>{{borrow.loan_amount | currency: "₦"}}</td>
                                            <td>{{borrow.amount_to_pay | currency: "₦"}}</td>
                                            <td>
                                            	<label class="badge" style="background-color:{{::defineStatus.color(borrow.status_id,borrow.approve_flag)}}">{{::defineStatus.text(borrow.status_id,borrow.approve_flag)}}</label>
                                            </td>
                                            <td>
                                                <label class="badge" ng-if="borrow.priority == 0.000">S</label>

                                                <label class="badge" style="background-color:#2D85CD" ng-if="borrow.priority == 0.010">P</label>
                                            </td>
                                            <!--<td>
                                                <span ng-if="borrow.approve_flag == 0">
                                                    <label class="badge badge-info">Initiated</label>
                                                </span>
                                                <span ng-if="borrow.approve_flag == 1">
                                                    <label class="badge badge-success">Approved</label>
                                                </span>
                                                <span ng-if="borrow.approve_flag == 2">
                                                    <label class="badge badge-warning">Awaiting Disbursement</label>
                                                </span>
                                                <span ng-if="borrow.approve_flag == 3">
                                                    <label class="badge badge-disabled">Disbursed</label>
                                                </span>
                                            </td>-->
                                            <td>{{borrow.date_of_r}}</td>
                                            <td>{{borrow.period}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div class="loader3" style="display: none;text-align:center;">
                                        <img src="images/loader.gif" alt="Loading...">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-outlined card-underline">
                            <div class="card-head style-custom">
                                <header style="width: 100%;">
                                    <span style="float:left; margin-top: 12px;">
                                        Lend History <!--For <span ng-bind="company.company_name"></span> staff-->
                                    </span>
                                    <a href="javascript:;" class="btn btn-disabled btn-sm"  download="{{company.company_name}} Staff Borrow History.xls" onclick="return ExcellentExport.excel(this, 'editable2', 'Borrow History');" style="float: right; color:#ffffff; font-size: 16px;">
                                        EXCEL <i class="fa fa-file-excel-o"></i></a>&nbsp;&nbsp;
                                    <!--<a href="javascript:;" ng-click="generatefromtable(company.company_name,'Borrow History','editable2')" class="btn btn-disabled btn-sm" style="float: right; color:#ffffff; font-size: 16px;">
                                        PDF <i class="fa fa-file-pdf-o"></i></a>-->
                                    <a href="javascript:;" ng-click="generate2fromtable(company.company_name,'Borrow History','editable2')" class="btn btn-disabled btn-sm" style="float: right; color:#ffffff; font-size: 16px;right:8px;">
                                        PDF <i class="fa fa-file-pdf-o"></i></a>
                                    <span class="clearfix"></span>
                                </header>
                            </div>
                            <div class="card-body height-6">
                                <div class="table-responsive">
                                    <table id="editable" class="table table-banded table-striped table-hover">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <!--<th>EMAIL</th>-->
                                            <th>NAME</th>
                                            <th>AMOUNT LENT</th>
                                            <th>LOAN TENURE</th>
                                            <!--<th ng-hide="user.user_type_id === 7 || user.user_type_id === 6">ACTION</th>-->
                                        </tr>
                                        </thead>
                                        <tbody class="table-data1">
                                        <tr ng-repeat="lenderss in lenderslist">
                                            <td ng-bind="$index + 1"></td>
                                            <!--<td ng-bind="latest.email"></td>-->
                                            <td>Lender {{$index+1}}</td>

                                            <!--<td ng-bind="latest.loan_amount | number"></td>-->
                                            <td class="text-right">{{lenderss.lend_amount | currency: " ₦ "}}</td>
                                            <!--<td ng-bind="tenure(latest.date_of_request,latest.date_to_pay)"></td>-->
                                            <td>{{lenderss.lend_tenure | chkMonth}} </td>
                                            <!--<td ng-hide="user.user_type_id === 7 || user.user_type_id === 6">
                                                <span class="staff-actions-{{$index}}">
                                                    <a ng-click="authenticate(latest.borrow_id,$index,'approve')" class="btn btn-sm btn-success">Approve</a>
                                                    <a ng-click="authenticate(latest.borrow_id,$index,'reject')" class="btn btn-sm btn-danger">Decline</a>
                                                </span>
                                                <img class="staff-spinner-{{$index}}" width="30" src="images/spinner.gif" alt="requesting..." style="display: none;">
                                            </td>-->
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div class="loader loader1" style="display: none;">
                                        <img src="images/loader.gif" alt="Loading...">
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

		<div class="modal fade" id="previewLoanNote-modal">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" ng-click="repaymentModalClose()" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
								<h5 class="text-center">{{current_user_name}}</h5>
							</div>
							<div class="modal-body">
								<!-- <iframe src="{{current_user_name}}" width="" height=""></iframe> -->
								<!-- <embed type="application/x-pdf" src="{{getIframeSrc(current_user_name)}}" width="300" height="300"> -->
							</div>

							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								<button type="button" class="btn btn-primary" ng-click="confirmrepay(paymentoption)" data-dismiss="modal">Submit</button>
							</div>
						</div>
					</div>
				</div>


		<div class="modal fade" id="repaymodal">
		    	<div class="modal-dialog" role="document">
		    		<div class="modal-content">
		    			<div class="modal-header">
		    				<button type="button" ng-click="repaymentModalClose()" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
		    				<h5 class="text-center">MODE OF REPAYMENT</h5>
		    			</div>
		    			<div class="modal-body">
		    				<div class="form-group">
		    					<!--<label for="modepay">Please Select Your Mode Of Disbursement</label>-->
		    					<select class="form-control" ng-model="paymentoption" ng-options="payment.payment_option_name for payment in repaymentOptions">
		    						<option value="">....Please Select Your Mode Of Repayment....</option>
		    					</select>
		    				</div>
		    				<div class="form-group" ng-show="paymentoption.payment_option_name === 'Bank Deposit'">
		    					<input type="text" class="form-control" ng-model="referenceid" placeholder="Please enter reference id"/>
		    				</div>
		    				<div class="form-group" ng-show="paymentoption.payment_option_name === 'Bank Transfer'">
		    					<input type="text" class="form-control" ng-model="referenceid" placeholder="Please enter reference id"/>
		    				</div>
		    				<div class="form-group" ng-show="paymentoption.payment_option_name === 'Mobile money'">
		    					<input type="text" class="form-control" ng-model="referenceid" placeholder="Please enter reference id"/>
		    				</div>
		    				<div class="form-group" ng-show="paymentoption.payment_option_name === 'HR disbursement'">
		    					<input type="text" class="form-control" ng-model="referenceid" placeholder="Please enter reference id"/>
		    				</div>
								<div class="well">
									<h4 class="text-primary text-center">Total Staff Selected: {{items.length}}</h4>
									<h1 class="text-muted text-center">TOTAL REPAYMENT: ₦ {{totalPay(items)}}</h1>

								</div>
		    				<!-- <div class="form-group">
		    					<label for="amdisbursed">Amount Repayed</label>
		    					<input  type="text" class="form-control" ng-model="payment_amount"/>
		    				</div> -->
			    			<!--<div class="form-group">
		    					<textarea class="form-control" ng-model = "others" placeholder="Please if Other Reasons Specify"></textarea>
		    				</div>-->
		    				<!--<p>{{paymentoption}}</p>-->
			    			<!--<p>Reason for Not granting Loan is {{declineReasons}}</p>-->
		    			</div>

		    			<div class="modal-footer">
		    				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		    				<button type="button" class="btn btn-primary" ng-click="confirmrepay(paymentoption)" data-dismiss="modal">Submit</button>
		    			</div>
		    		</div>
		    	</div>
		    </div>


				<div class="modal fade" id="forgot_password" tabindex="-1" role="forgot_password" aria-hidden="true">
				    <div class="modal-dialog">
				        <div class="modal-content">
				            <div class="modal-header">
				                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				                <h4 class="modal-title text-center">Change Password</h4>
				            </div>
				            <div class="modal-body">
				                <div class="col-lg-12">
				                    <form role="form" name= "currentPassword">
				                        <div class="form-body">
				                            <div id="error-forgot-password" class="alert alert-danger" style="display: none;">
				                                <button class="close" data-close="alert"></button>
				                                <span ng-bind="password_error"></span>
				                            </div>
				                            <div class="form-group">
				                                <label for="form_control_1">Please Enter Current Password:</label>
				                                <input type="password" class="form-control" ng-model="forgot.user_password" required>
				                            </div>
				                        </div>
				                    </form>
				                </div>
				                <div class="clearfix"></div>
				            </div>
				            <div class="modal-footer">
				                <button type="button" class="btn btn-disabled" data-dismiss="modal">Close</button>
				                <button type="button" class="btn btn-success" ng-click="forgotPassword(forgot)" ng-disabled="currentPassword.$invalid">Confirm Password
				                    <img id="spinner-forgot-password" src="images/spinner.gif" width="20"  alt="loading" style="display: none;"/>
				                </button>
				            </div>
				        </div>
				        <!-- /.modal-content -->
				    </div>
				    <!-- /.modal-dialog -->
				</div>
				<!-- Change Password Modal -->
				<div class="modal fade" id="re_enter_password" tab-index="-1" role="dialog" aria-labelledby="#re_enter_password">
				    <!-- Modal-->
				    <div class="modal-dialog" role="document">
				        <div class="modal-content">
				            <div class="modal-header">
				                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				                <h4>Change Password</h4>
				            </div>
				            <div class="modal-body">
				                <form role="form" name="changePassword">
				                    <div class="form-body">
				                        <div class="form-group">
				                            <label for="form_control_1">Please Enter New Password:</label>
				                            <input type="password" class="form-control" ng-model="change.user_password" required>
				                        </div>
				                        <div class="form-group">
				                            <label>Confirm New Password</label>
				                            <input type="password" class="form-control" ng-model="change.confirm_password" ng-pattern="change.user_password" required/>
				                        </div>
				                    </div>
				                </form>
				            </div>
				            <div class="modal-footer">
				                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				                <button type="button" class="btn btn-success" ng-disabled="changePassword.$invalid" ng-click="changePassword(change)">Change Password
				                <img id="spinner-changepassword" src="images/spinner.gif" width="20"  alt="loading" style="display: none;"/>
				                </button>
				            </div>
				        </div>
				    </div>
				</div>


    <div class="modal fade" id="changepassword">
    	<div class="modal-dialog" role="document">
    		<div class="modal-content">
    			<div class="modal-header">
    				<button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
    				<h4 class="text-center">Forgot Your Password</h4>
    			</div>
    			<div class="modal-body">
    				<p class="text-center">Enter your e-mail address and we will send you a link to reset your password</p>
    				<div class="form-group">
    					<input  type="text" class="form-control" ng-model="resetinput"/>
    				</div>
    			</div>
    			<div class="modal-footer">
    				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    				<button type="button" class="btn btn-primary" ng-click="declinereason()">Reset</button>
    			</div>
    		</div>
    	</div>
    </div>
    <div class="modal fade" id="declinemodal">
    	<div class="modal-dialog" role="document">
    		<div class="modal-content">
    			<div class="modal-header">
    				<button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
    				<h4 class="text-center">Reason For Declining Loan</h4>
    			</div>
    			<div class="modal-body">
    				<div class="checkbox" ng-repeat="reason in declineReasons">
	    				<label>
	    					<!--<input type="checkbox" ng-model="declineReasons[reason]"/>{{reason}}-->
	    					<input type="checkbox" checklist-model = "declineReasonschosenn" checklist-value="reason.remark_id"/>{{reason.remark_description}}
	    				</label>
	    			</div>
	    			<!--<p>These are the chosen {{declineReasonschosenn}}</p>-->
	    			<!--<div class="checkbox">
	    				<label ng-repeat = "reason in declineReasons">
	    					<input type="checkbox" checklist-model = "declineReasonschosenn" checklist-value="reason.id"/>{{reason.remark_id}}
	    				</label>
	    			</div>-->
	    			<div class="form-group">
    					<textarea class="form-control" ng-model = "others" placeholder="Please if Other Reasons Specify"></textarea>
    				</div>
	    			<!--<p>Reason for Not granting Loan is {{declineReasons}}</p>-->
    			</div>

    			<div class="modal-footer">

    				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    				<button type="button" class="btn btn-primary" ng-click="declinereason()">Submit</button>
    			</div>
    		</div>
    	</div>
    </div>
    <div ng-include="'includes/footer.html'"></div>
</div>
<!-- Range Slider -->
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/application.js"></script>
<script src="js/owl.carousel.js"></script>
<script src="js/checklist-model.js"></script>

<script type="text/javascript" src="js/jspdf.plugin.autotable.js"></script>
