<style type="text/css">
    p{
        font-family: "Montserrat";
    }
    a.signupp:hover{
        color: #777;
        text-decoration: underline;
    }
    button{
    	border-radius:5px;
    }
</style>
<div id="page" class="page">
    <div ng-include="'includes/header.html'"></div>
    <div class="item header margin-top-0 padding-bottom-30 header15" id="header15">
        <div class="container padding-top-30 padding-bottom-30">
            <div class="row margin-top-30 os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0.2s">
                <div class="col-md-7 col-sm-5 col-xs-12 padding-bottom-50">
                    <div id="owl-demo" class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="header-big-text-2 os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0s">
                                <h1 class="color-white tx-left">Loans Made <strong>Easy</strong></h1>
                                <h2 class="color-white tx-left padding-top-30">
                                    <ul>
                                        <li>No Hidden Fees</li>
                                        <li>Fixed Terms</li>
                                        <li>Low Rates</li>
                                    </ul>
                                </h2>
                            </div>
                        </div>
                        <div class="item">
                            <div class="header-big-text-2 os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0s">
                                <h1 class="color-white tx-left"><strong>Diversify</strong> Your Portfolio &amp; Investment</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-sm-7 col-xs-12">
                    <div class="banner-form animated fadeInUp" style="visibility: visible;">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#calculator" aria-controls="calculator" role="tab" data-toggle="tab">Loan Calculator</a></li>
                            <li id="dash-signup" role="presentation"><a href="#signup" aria-controls="signup" role="tab" data-toggle="tab" >Sign Up</a></li>
                            <li id="dash-signin" role="presentation"><a href="#signin" aria-controls="signin" role="tab" data-toggle="tab">Sign In</a></li>
                            <li id="forgot-password" role="presentation" style="width:125px;text-align:center;"><a href="#forgot" aria-controls="signin" role="tab" data-toggle="tab">Password</a></li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="calculator">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <form id="scredit-form" class="ng-valid ng-dirty ng-valid-parse">
                                            <div>
                                                <div id="error-borrow" class="alert alert-danger" style="display: none;">
                                                    <button class="close" data-close="alert"></button>
                                                    <span ng-bind="borrow_error"></span>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <fieldset class="col-md-12" style="text-align:center;">
                                                            <label class="col-md-12" style="font-size:9px;"> I need <span style="font-size: 17px;">{{loan_amount | currency : '₦ ': 2}}</span> loan</label>
                                                            <div class="clearfix"></div>
                                                            <input class="col-md-12" id="loan-amount" value ng-model="loan_amount" type="range" min="{{min_loan}}" max="{{max_loan}}" step="{{loan_step}}" data-rangeslider>
                                                        </fieldset>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <fieldset class="col-md-12" style="text-align:center;">
                                                            <label class="col-md-12" style="font-size:9px;"> I will pay for it over <span style="font-size: 17px;">{{loan_duration | chkMonth }}</span></label>
                                                            <div class="clearfix"></div>
                                                            <input class="col-md-12" id="loan-duration" value ng-model="loan_duration" type="range" min="{{min_loan_duration}}" max="{{max_loan_duration}}" step="{{loan_duration_step" data-rangeslider>
                                                        </fieldset>
                                                    </div>
                                                </div>
                                                <!-- <div class="row">
                                                    <div class="col-md-5">
                                                        <label for="" style="disply:block;">Total Payment</label>
                                                        <span for="" style="display:block;">{{loan_total| currency : '₦ ': 2}}</span>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <label for="" style="display:block;">Effective Interest rate:</label>
                                                        <span for="" style="display:block;">{{effective_interest_rate}}</span>
                                                    </div>
                                                </div> -->
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <fieldset class="col-md-12" style="text-align:center">
                                                            <label style="font-size:9.3px" class="col-md-12">total payment:</label>
                                                            <label class="col-md-12" style="padding:0px;font-size:17px;" >{{loan_total| currency : '₦ ': 2}}</span></label>
                                                        </fieldset>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <fieldset class="col-md-12" style="text-align:center font-size:9.3px">
                                                            <!--<label style="letter-spacing:2px">Effective Interest rate:</label>
                                                            <!--<label><span style="font-size:20px" class="ng-binding">₦<span id="loan-monthly">50,000</span>.00</span></label>-->
                                                            <label style="letter-spacing:2px;font-size:9.3px;margin-bottom:0;text-align:center" class="col-md-12" >Interest Rate:</label>
                                                            <label><span style="font-size:17px;text-align:center;padding-top:12px" class="col-md-12">{{effrate}} %</span></label>
                                                        </fieldset>
                                                    </div>
                                                </div>
                                                <div class="row checks">
                                                    <div class="col-md-12 one" style="text-align:center;margin-bottom:15px;">
                                                        <!--<span style="display:inline;">Priority</span>-->
                                                        <label class="radio-inline" style="height:5px;display:inline;font-size:10px;" for ="inlineRadio1">
                                                            <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="0.085" style="" ng-model="priority"> Priority
                                                        </label>
                                                        <label class="radio-inline" style="height:5px;display:inline;font-size:10px;" for ="inlineRadio2">
                                                            <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="0"style="" ng-model="priority"> Standard
                                                        </label>
                                                        <!--<label class="radio-inline" style="height:5px;display:inline;font-size:10px;" for ="inlineRadio3">-->
                                                            <!--<input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="0.00" style="" ng-model="priority"> None-->
                                                        <!--</label>-->
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <label style="display:block;text-align:center;">Total Repayment Rate:  {{effective_interest_rate}}%</label>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <fieldset>
                                                            <button class="submit-btn btn-blue" ng-click="apply()">
                                                                <span id="borrow-text">APPLY NOW</span>
                                                                <img id="spinner-borrow" src="images/spinner.gif" width="20"  alt="loading" style="display: none;"/>
                                                            </button>
                                                        </fieldset>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <fieldset>
                                                            <label style="text-align: center; font-size: 10px; text-transform: none;">* Loan calculator is a reference. This is an indicative offer.
                                                                <a href="#/terms" style="color: #ffffff; text-decoration: underline;">Terms and Conditions</a> apply.</label>
                                                        </fieldset>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="signup">
                                <form id="signupform">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <fieldset>
                                                <label>Email</label>
                                                <input type="email" placeholder="Enter Email Address" name="email" required ng-model="user.user_email">
                                            </fieldset>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <fieldset>
                                                <label>Password</label>
                                                <input type="password" placeholder="Enter Secret Password" name="password" required ng-model="user.user_password">
                                            </fieldset>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <fieldset>
                                                <label>Phone Number</label>
                                                <input type="tel" placeholder="Enter Phone Number" name="phone" required ng-model="user.phone_number">
                                            </fieldset>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <fieldset>
                                                <label>Company Name</label>
                                                <select ng-model="user.company_name">
                                                    <option value="" disabled selected>-- Select Company --</option>
                                                    <option ng-repeat="option in list_companies" value="{{option.company_name}}">{{option.company_name}}</option>
                                                </select>
                                            </fieldset>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <fieldset>
                                                <button class="submit-btn btn-blue" name="signup" ng-disabled ="true" ng-click="signUp(user)">
                                                    <!--<span ng-bind="signup_text"></span>-->
                                                    <span id="signup-text">Sign Up</span>
                                                    <img id="spinner-signup" class="spinner" src="images/spinner.gif" width="30">
                                                </button>
                                            </fieldset>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="signin">
                                <form id="signinform">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <fieldset>
                                                <label>Email</label>
                                                <input type="email" placeholder="Enter Email Address" name="email" required ng-model="client.user_email">
                                            </fieldset>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <fieldset>
                                                <label>Password</label>
                                                <input type="password" placeholder="Enter Password"  name="password" required ng-model="client.user_password">
                                            </fieldset>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">

                                            <fieldset>
                                                <button class="submit-btn btn-blue" name="signin" ng-click="login(client)">
                                                    <!--<span ng-bind="signup_text"></span>-->
                                                    <span id="login-text">Sign In</span>
                                                    <img id="spinner-login" class="spinner" src="images/spinner.gif" width="30">
                                                </button>
                                            </fieldset>
                                            <p ng-show="!loginDetails" style="margin-top:20px;"><!--Don't have an account.--> <a ng-click="opentab()" style="color:#fff;" class="signupp">Sign Up</a> | <a style="color:white;"ng-click="openReset()">Reset Password</a></p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="forgot">
                            	<form>
                            		<!--<div class="form-group">
                            			<label for ="resetemail">Email Address</label>
                            			<input type="email" class="form-control" ng-model="resetemail.email"/>
                            		</div>-->
                            		<div class="row">
                                        <div class="col-md-12">
                                            <fieldset>
                                                <label>Email</label>
                                                <input type="email" placeholder="Enter Email Address" name="email" required ng-model="user.user_email" style="border-radius:5px !important">
                                            </fieldset>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <fieldset>
                                                <button class="submit-btn btn-blue" name="resetpassword" ng-click="reset(user)" style="min-height:33px;">
                                                    <!--<span ng-bind="signup_text"></span>-->
                                                    <span id="reset-text">Reset Password</span>
                                                    <img id="reset-spinner" class="spinner" src="images/spinner.gif" width="30">
                                                </button>
                                            </fieldset>

                                        </div>
                                    </div>
                            	</form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class=" item padding-top-30 padding-bottom-30" id="content-area-5">
        <div class="wrapper">
            <div class="container-fluid">
                <div class="row" style="margin:0;">
                    <div class="col-md-3 col-sm-3 col-xs-12 text-center os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0s" style="border-right:1px solid #e6e4e4;">
                        <div class="feature-4">
                            <div class="feature-figure-1">
                                <i class="fa fa-bolt fa-5x"></i>
                            </div>
                            <div class="">
                                <h6>Fast Application</h6>
                            </div>
                            <div class="">
                                <p>Easy to make smart investment and apply for quick loans in minutes.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 text-center os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0.5s" style="border-right:1px solid #e6e4e4;">
                        <div class="feature-4">
                            <div class="feature-figure-1">
                                <i class="fa fa-percent fa-5x"></i>
                            </div>
                            <div class="">
                                <h6>Better rates</h6>
                            </div>
                            <div class="">
                                <p>Amazing interest rate to reward investors and borrowers.</p>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 text-center os-animation" data-os-animation="fadeInUp" data-os-animation-delay="1s" style="border-right:1px solid #e6e4e4;">
                        <div class="feature-4">
                            <div class="feature-figure-1">
                                <i class="fa fa-check-circle-o fa-5x"></i>
                            </div>
                            <div class="">
                                <h6>Security</h6>
                            </div>
                            <div class="">
                                <p>User's data is secure and will not be shared.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 text-center os-animation" data-os-animation="fadeInRight" data-os-animation-delay="1s">
                        <div class="feature-4">
                            <div class="feature-figure-1">
                                <i class="fa fa-cog fa-5x"></i>
                            </div>
                            <div class="">
                                <h6>FREE SUPPORT</h6>
                            </div>
                            <div class="">
                                <p>Our service team provides 24/7 customer service support.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-include="'includes/footer.html'"></div>
</div>
<!-- Range Slider -->
<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
<!-- Range Slider -->
<script src="js/rangeslider.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/application.js"></script>
<script src="js/owl.carousel.js"></script>
<script src="js/triger.js" type="text/javascript"></script>
<script src="js/onepagescroll.js"></script>
<script src="js/rangeSliderScript.js"></script>
