
<style>
	.col-md-2{
		width: 20%;
	}
	img{
		margin-left: 18px;
	}
	.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:focus{
		color: white !important;
	}
	a.navbar-brand{
		padding-left: 0px;
	}
	nav#settings.navbar.navbar-default{
		margin-bottom: 0;
	}
	div.modal-body{
		padding-bottom: 0;
	}
</style>
<div id="page" class="page">
    <div ng-include="'includes/header.html'"></div>
    <nav class="navbar navbar-default" id="settings" role="navigation" style="margin-top:6px;border-radius:0;">
    	<div class="container tansnav">
	   		<div class="navbar-header">
	   			<a class="navbar-brand">{{company.company_name | uppercase}}</a>
	   		</div>
   			<ul class="nav navbar-nav">
   				<li class="navbar-brand">Repayment Schedule</li>
   			</ul>
   			<ul class="nav navbar-nav navbar-right">
		        <!--<li><a href="#">Link</a></li>-->
						<li class="dropdown">
							<a href="" class="dropdown-toggle set" data-toggle="modal" data-target="#forgot_password"role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-lock"></span> Reset Password</a>
								</a>
							</li>
		        <li class="dropdown">
		          <a href="" class="dropdown-toggle set" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-cog"></span> Settings<span class="caret"></span></a>
		          <ul class="dropdown-menu">
		            <!-- <li><a href="#/reset">Reset Password</a></li> -->

		            <!--<li><a href="#">Another action</a></li>
		            <li><a href="#">Something else here</a></li>
		            <li role="separator" class="divider"></li>
		            <li><a href="#">Separated link</a></li>-->
		          </ul>
		        </li>

      		</ul>
   			<!--<ul class="nav navbar-nav navbar-right">
   				<li style="color:white !important;" class="dropdown"><a href="#" style="color:white !important;" class="dropdown-toggle"><span class="glyphicon glyphicon-cog"></span> Settings<span class="caret"></span></a>
   				<ul class="dropdown-menu">
   					<li><a href="#">Change Password</a></li>
   				</ul>
   				</li>
   			</ul>-->
	   	</div>
    </nav>
    <section id="content">
      <div style="padding:40px 0;">
          <div class="container">
            <div class="row">
          <div class="col-md-12">
              <!-- BEGIN EXAMPLE TABLE PORTLET-->
              <div class="portlet box red-thunderbird">
                  <div class="portlet-title">
                      <div class="caption">
                          <i class="fa fa-wallet"></i>Repayments
                      </div>
                  </div>
                  <div class="portlet-body">
                      <div class="row">
                          <div class="col-lg-4">
                              <input type="text" ng-model="search" class="form-control" placeholder="Search">
                          </div>
                      </div>
                      <div class="margin-top-10"></div>
                      <table class="table table-striped table-bordered table-hover" id="editable">
                          <thead>
                          <tr>
                              <th>
                                  #
                              </th>
                              <th>
                                REPAYMENT TITLE
                              </th>
                              <!--<th ng-click="sort('company_name')">
                                  COMPANY NAME
                                  <span class="glyphicon sort-icon" ng-show="sortKey=='company_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                              </th>-->
                              <th ng-click="sort('amount_to_pay')">
                                  TOTAL AMOUNT
                                  <span class="glyphicon sort-icon" ng-show="sortKey=='amount_to_pay'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                              </th>
                              <th ng-click="sort('amount_to_pay')">
                                  DATE SUBMITTED
                                  <span class="glyphicon sort-icon" ng-show="sortKey=='amount_to_pay'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                              </th>
                              <th>MONTH</th>
                              <th ng-click="sort('status_id')">
                                  STATUS
                                  <span class="glyphicon sort-icon" ng-show="sortKey=='status_id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                              </th>
                              <th ng-hide="user.user_type_id ==5">
                                  Actions
                              </th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr class="odd gradeX" ng-repeat="repayment in company_admin_repayments|orderBy:sortKey:reverse| filter:disbursed">
                              <td ng-bind="$index + 1"></td>
                              <td>{{company.company_name | uppercase}} Repayment for the month of {{repayment.month}}</td>
                              <!--<td ng-bind="repayment.company_name"></td>-->
                              <td>₦{{repayment.total_amount}}</td>
                              <td>{{repayment.date_submitted}}</td>
                              <td>{{repayment.month}}</td>
                              <td style="vertical-align: middle">
                                <label class="badge" style="background-color:blue" ng-show = "repayment.status == '0'">Pending</label>
                                <label class="badge" style="background-color:green" ng-show = "repayment.status == '1'"><i class="glyphicon glyphicon-ok"></i></label>
                              </td>
                              <td ng-hide="user.user_type_id ==5">
                                <img id="action-spinner" width="30" src="images/spinner.gif" class="pull-right" alt="requesting..." style="display: none;">
																<a ng-show = "repayment.payment_type != '6'" ng-click="authenticate(repayment.repayment_schedule_id,$index,'approve',repayment.total_amount)" class="btn btn-sm btn-success action">Pay</a>
																<a ng-show = "repayment.payment_type == '6'" ng-click="confirmKegowPay(repayment.repayment_schedule_id,$index,'approve',repayment.total_amount, repayment.payment_type)" class="btn btn-sm btn-success action">Confirm</a>
                                <a ng-click="authenticate(repayment.repayment_schedule_id,$index,'reject')" class="btn btn-sm btn-danger action">Decline</a>
                                <a ng-click="previewRepaymentSchedule(repayment.repayment_schedule_url)" class="btn btn-info btn-sm action">Details</a>
                                <a href="{{base_url}}api/web/loannotes/{{repayment.repayment_schedule_url}}" download class="btn btn-info btn-sm action">Save</a>
                              </td>
                          </tr>
                          </tbody>
                      </table>

                      <div class="loader" style="display:none;">
                          <img id="img-spinner" src="images/loader.gif" alt="Loading">
                      </div>
                      <div class="pull-right">
                          <dir-pagination-controls max-size="10" direction-links="true" boundary-links="true"></dir-pagination-controls>
                      </div>
                      <div class="clearfix"></div>
                  </div>
              </div>
              <!-- END EXAMPLE TABLE PORTLET-->
          </div>
      </div>
  <div class="modal fade" id="decline-repayment-modal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" ng-click="declineRepaymentModalClose()" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
              <h5 class="text-center">{{current_user_name}}</h5>
            </div>
            <div class="modal-body">
              <div class="col-lg-12">
                  <form role="form" name="bankdetails">
                      <div class="form-body">
                          <!-- <div id="error-bank-detail" class="alert alert-danger" style="display: none;">
                              <button class="close" data-close="alert"></button>
                              <span ng-bind="decline_error"></span>
                          </div> -->
                          <div class="form-group">
                              <label for="form_control_2">Decline Reason</label>
                              <textarea name="decline_reason" rows="8" cols="40" ng-model="decline.decline_reason"></textarea>
                          </div>
                          <input type="hidden" name="name" value="">
                      </div>
                  </form>
              </div>
              <div class="clearfix"></div>
            </div>

            <div class="modal-footer">
              <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
              <button id="decline-button" type="button" class="btn btn-danger" ng-click="completeDecline(decline)">Decline</button>
              <img id="spinner-decline-detail" src="images/spinner.gif" width="20"  alt="loading" style="display: none;"/>
            </div>
          </div>
        </div>
      </div>

</div>
    </section>
    <div ng-include="'includes/footer.html'"></div>
  </div>
    <!-- Range Slider -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/application.js"></script>
    <script src="js/owl.carousel.js"></script>
    <script src="js/checklist-model.js"></script>

    <script type="text/javascript" src="js/jspdf.plugin.autotable.js"></script>
