<div id="page" class="page">
	<div ng-include="'includes/header.html'"></div>
	<div class="headline-bg about-headline-bg"></div>
	<section class="story-section section section-on-bg">
		<h2 class="title container text-center">About Us</h2>
		<div class="story-container container text-center">
			<div class="story-container-inner">
				<div class="about">
					<p>Riby was born out of the need to empower the upwardly mobile African generation with technology / tools to take charge of their financial destiny whether through the salary or income they earn or the financial group they belong to. We see an opportunity to help groups, companies, employees and even kids better manage their finance, plan, save, invest proactively and collaborate through our platforms.</p>
					<p><b>Riby Peer Lending Platform</b></p>
					<p>Our Peer Lending Platform connects good-quality borrows to potential lenders in their immediate and extended networks. Lending on this platform helps reduce the cost of loan processing, while increassing borrower access to finance.</p>
					<p><b>Riby Group Finance Platform</b></p>
					<p> The Riby-Group Finance Platform helps manage financial records, loan administration, messaging and transactions for open and closed groups of individuals or organizations (Cooperatives).</p>
					

				</div>
				<div id="team" class="team row">
					<div class="member col-md-4 col-sm-6 col-xs-12">
						<div class="member-inner">
							<div class="social">
								<ul class="social-list list-inline">
									<li><a target="_blank" href="https://www.linkedin.com/company/10127429?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A10127429%2Cidx%3A1-1-1%2CtarId%3A1470839763090%2Ctas%3ARiby%20"><i class="fa fa-linkedin"></i></a></li>
									<li><a target="_blank" href="https://twitter.com/Bhuvan13"><i class="fa fa-twitter"></i></a></li>
								</ul>
								<!--//social-list-->
							</div>
							<!--//social-->
						</div>
						<!--//member-inner-->
					</div>
					<!--//member-->
					<div class="member col-md-4 col-sm-6 col-xs-12">
						<div class="member-inner">
							<div class="social">
								<ul class="social-list list-inline">
									<li><a target="_blank" href="https://www.linkedin.com/company/10127429?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A10127429%2Cidx%3A1-1-1%2CtarId%3A1470839763090%2Ctas%3ARiby%20"><i class="fa fa-linkedin"></i></a></li>
									<li><a target="_blank" href="https://twitter.com/jatinmalwal"><i class="fa fa-twitter"></i></a></li>
									<li><a target="_blank" href="https://github.com/jatinmalwal"><i class="fa fa-github-alt"></i></a></li>
								</ul>
								<!--//social-list-->
							</div>
							<!--//social-->
						</div>
						<!--//member-inner-->
					</div>
					<!--//member-->
				</div>
			</div>
		</div>
	</section>
	<div class="row">
		<div class="col-lg-12 text-center">
			<h3>Get in touch to know more</h3>
			<p>Want to know more about RibyPeerLending? We also love
				your feedback.<br> Let us know what you think or if you have any
				questions.</p><br><br>
		</div>
	</div>
	<div class="row">
		
	</div>
	<div class="row">
		<div class="col-lg-1"></div>
		<div class="col-lg-5">
			<section class="contact-other-section section">
				<div class="text-center">
					<div class="row">
						<ul class="other-info list-unstyled col-lg-12">
							<li><i class="fa fa-envelope-o"></i><a href="mailto:managers@riby.me">info@riby.me</a></li>
							<li><i class="fa fa-whatsapp"></i>08092222109</li>
							<li><i class="fa fa-phone"></i> 012914247 , 08092222109</li>
							<!-- <li><i class="fa fa-whatsapp"></i><a href="tel:2347012345678">2347012345678</a></li> -->
							<li><i class="fa fa-map-marker"></i>  70, Olonade Street Alagomeji, Yaba
								Lagos,Nigeria.</li>
						</ul>
					</div>
					<!--//row-->
				</div>
				<!--//container-->
			</section>
			<section class="map-section section" style="padding-top: 0px;">
				<div class="text-center">
					<div class="gmap-wrapper">
						<div class="gmap" id="map" style="position: relative; overflow: hidden; background-color: rgb(229, 227, 223);">
							<div style="width: 100%">
									<!--<iframe width="100%" height="250" src="http://www.maps.ie/create-google-map/map.php?width=100%&amp;height=250&amp;hl=en&amp;q=7%20Continental%20way%2C%20CMD%20road%2C%20Lagos%2C%20Nigeria+(RIBY%20Finance)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=A&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="http://www.mapsdirections.info/nl/maak-een-google-map/">Google Maps toevoegen op website</a> aan <a href="http://www.mapsdirections.info/nl/">Bereken route</a></iframe>-->
									<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3964.1741105813653!2d3.3752677141895653!3d6.499629795298384!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103b8c61bcf3ad1b%3A0xf81ee98bacebc7f9!2sOlonode+St!5e0!3m2!1sen!2sng!4v1479306717182" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
							</div><br />
						</div>
						<!--//map-->
					</div>
					<!--//gmap-wrapper-->
				</div>
				<!--//container-->
			</section>
		</div>
		<div class="col-lg-5">
					<form name="contactform">
						<input type="text" ng-model='firstname' class="form-control" placeholder="FirstName" style="height:53px;margin-bottom: 20px;"/>	
						<input type="text" ng-model='lastname' class="form-control" placeholder="LastName" style="height:53px;margin-bottom: 20px;"/>
						<input type="text"  ng-model='email' class="form-control" placeholder="Email" style="height:53px;margin-bottom: 20px;"/>
						<input type="text" ng-model='phone' class="form-control" placeholder="Phone" style="height:53px;margin-bottom: 30px;"/>
						<textarea class="form-control" style="height:220px;" ng-model="message"required></textarea>
						<button class="form-control btn btn-danger" style="height:45px;margin-top:7px;" ng-disabled="contactform.$invalid" ng-click="contact()"><i class="fa fa-paper-plane-o" aria-hidden="true"></i> SEND</button>
					</form>
		</div>
		<div class="col-lg-1"></div>
	</div>
	<div ng-include="'includes/footer.html'"></div>
</div>
<!-- Range Slider -->
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/application.js"></script>
<script src="js/owl.carousel.js"></script>