<div id="page" class="page">
  <div ng-include="'includes/header.html'"></div>
  <div class="headline-bg about-headline-bg" style="height: 0px;"></div>
  <section class="story-section section section-on-bg" >
    <h2 class="title container text-center" style="color: black;">REQUEST INVITE</h2>

    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box red-thunderbird">
          <div class="portlet-title">
            <div class="caption">
              <i class="fa fa-wallet"></i>REQUEST ACCESS

            </div>
          </div>
          <div class="portlet-body">

            <div class="row">
              <div class="col-lg-1"></div>
              <div class="col-lg-5">
                <section class="contact-other-section section">
                  <div class="text-center">
                    <div class="row">
                      <ul class="other-info list-unstyled col-lg-12">
                        <li><i class="fa fa-envelope-o"></i><a href="mailto:managers@riby.me">info@riby.me</a></li>
                        <li><i class="fa fa-whatsapp"></i>08092222109</li>
                        <li><i class="fa fa-phone"></i> 012914247 , 08092222109</li>
                        <!-- <li><i class="fa fa-whatsapp"></i><a href="tel:2347012345678">2347012345678</a></li> -->
                        <li><i class="fa fa-map-marker"></i>  70, Olonade Street Alagomeji, Yaba
                          Lagos,Nigeria.</li>
                        </ul>
                      </div>
                      <!--//row-->
                    </div>
                    <!--//container-->
                  </section>
                  <section class="map-section section" style="padding-top: 0px;">
                    <div class="text-center">
                      <div class="gmap-wrapper">
                        <div class="gmap" id="map" style="position: relative; overflow: hidden; background-color: rgb(229, 227, 223);">
                          <div style="width: 100%">
                            <!--<iframe width="100%" height="250" src="http://www.maps.ie/create-google-map/map.php?width=100%&amp;height=250&amp;hl=en&amp;q=7%20Continental%20way%2C%20CMD%20road%2C%20Lagos%2C%20Nigeria+(RIBY%20Finance)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=A&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="http://www.mapsdirections.info/nl/maak-een-google-map/">Google Maps toevoegen op website</a> aan <a href="http://www.mapsdirections.info/nl/">Bereken route</a></iframe>-->
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3964.1741105813653!2d3.3752677141895653!3d6.499629795298384!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103b8c61bcf3ad1b%3A0xf81ee98bacebc7f9!2sOlonode+St!5e0!3m2!1sen!2sng!4v1479306717182" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                          </div><br />
                        </div>
                        <!--//map-->
                      </div>
                      <!--//gmap-wrapper-->
                    </div>
                    <!--//container-->
                  </section>
                </div>
                <div class="col-lg-5">
                  <form name="request_inviteform">
                    <input type="text" ng-model='email' class="form-control" placeholder="Your Email Address" style="height:53px;margin-bottom: 20px;"/>
                    <input type="text" ng-model='phone' class="form-control" placeholder="Your Phone Number" style="height:53px;margin-bottom: 20px;"/>
                    <input type="text" ng-model='fullname' class="form-control" placeholder="Your Fullname" style="height:53px;margin-bottom: 20px;"/>
                    <input type="text" ng-model='company_name' class="form-control" placeholder="Name of your company" style="height:53px;margin-bottom: 30px;"/>
                    <input type="text" ng-model='hr_email' class="form-control" placeholder="Company HR Email" style="height:53px;margin-bottom: 30px;"/>
                    <input type="text" ng-model='hr_phone' class="form-control" placeholder="Company HR Phone" style="height:53px;margin-bottom: 30px;"/>
                    <!-- <textarea class="form-control" style="height:220px;" ng-model="message"required></textarea> -->
                    <button class="form-control btn btn-success btn-request-access" style="height:45px;margin-top:7px;" ng-disabled="request_inviteform.$invalid" ng-click="request_invite()"><i class="fa fa-paper-plane-o" aria-hidden="true"></i> SEND REQUEST</button>
                    <img class="btn-spinner" width="30" src="images/spinner.gif" alt="requesting..." style="display: none;">
                  </form>
                </div>
                <div class="col-lg-1"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div ng-include="'includes/footer.html'"></div>
  </div>
  <!-- Range Slider -->
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/application.js"></script>
  <script src="js/owl.carousel.js"></script>
