<style>
    .addform{
        text-align: center;
        margin-bottom: 20px;
    }
    input[type="file"]{
      display: inline-block;
    }
</style>
<div id="page" class="page">
    <div ng-include="'includes/header.html'"></div>
    <section id="page-title">
        <div class="container clearfix">
            <div class="row">
                <div class="col-md-12 col-sm-12 form-group">
                    <h1 class="inline-block">Register Staff</h1>
                </div>
            </div>
        </div>
    </section>
    <section id="content">
        <div class="row">
          <div class="col-xs-offset-4 csvcol">
            <form class="form-inline">
              <div class="form-group">
                <label for="fileupload" style="font-weight:normal">Upload CSV for Staff</label>
                <input type="file" id="fileupload" file-model="file" />
                <button ng-click ="uploadcsv()" class="btn btn-default" style="width:83.61px;height:32px;">
                <span id="upload-text">Upload</span>
                <img id="upload-spinner" src="images/spinner.gif" width="20"  alt="loading" style="display: none;"/>
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-md-offset-4">
            <iframe style="width:94%;" src="https://docs.google.com/spreadsheets/d/1StIDmABuYihsKslACz2svfj2uz4BCdqUUpP_lfjVkxM/pubhtml?gid=0&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
          </div>
        </div>
        <div class="row">
          <div style="width:100%;height:17px;border-bottom:1px solid black;text-align:center">
            <span style="font-size:25px;padding:0 5px;background:white;">OR</span>
          </div>
        </div>
        <div class="content-wrap">
            <div class="container padding-top-20 updateProfile">
          		<div class="row">
          			<div class="container addstaff">
          				<form class="form-inline" name="submitStaff" ng-submit="addstaff(newstaff)" >
          					<div class="form-group">
          						<!--<label for="fname">First Name</label>-->
          						<input type="text" ng-model="newstaff.firstname"class="form-control" ng-required="true" placeholder="FirstName" id="fname"/>
          					</div>
          					<div class="form-group">
          						<!--<label for="lname">Last Name</label>-->
          						<input type="text" ng-model="newstaff.lastname"class="form-control" ng-required="true" placeholder="LastName" id="lname"/>
          					</div>
          					<div class="form-group">
          						<!--<label for="mail">Email</label>-->
          						<input type="email" ng-model="newstaff.user_email"class="form-control" ng-required="true" placeholder="Email" id="mail"/>
          					</div>
          					<div class="form-group">
          						<!--<label for="numbe">Phone Number</label>-->
          						<input type="text" ng-model="newstaff.phone_number"class="form-control" ng-required="true" placeholder="Tel (2348030338205)" id="numbe" ng-pattern="matchPattern" ng-maxlength="13"/>
          					</div>
          					<div class="form-group">
          						<select class="form-control" ng-model="newstaff.user_type" ng-options="item.user_type_name as item.user_type_name for item in stafflevels" ng-required="true">
          							<option value="">.... Staff Role ....</option>
          						</select>
          					</div>
          					<button type="submit" class="btn btn-default" ng-disabled = "submitStaff.$invalid"><i class="fa fa-plus" aria-hidden="true"></i></button>
                    		
          					<button type="button" class="btn btn-success" ng-hide="staffs.length==0" ng-click="signUpStaffs()" style="width:123.23px;height:32px;"><span class="submit" style="margin-left:0px;">Submit Staff</span><span><img id="submit-spinner" class="spinner" src="images/spinner.gif" width="30"></span></button>
          				</form>
          				<!--<input type="button" class="btn btn-success" ng-hide="staffs.length==0" ng-click="signUpStaffs()" value="Submit Staff" style="width:123px;"/>-->
                    	<!--<img id="spinner-login" class="spinner" src="images/spinner.gif" width="30">-->
          			</div>
          		</div>
                <!--<div class="row">
                    <form method="post" class="form-inline col-xs-12 col-gt-xs-12"  id="addstaff">
                        <table class="addform">
                            <tr>
                                <td>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="First Name" value="" ng-model ="staff.firstname">
                            </div>
                                </td>
                                <td>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Last Name" ng-model ="staff.lastname">
                            </div>
                                </td>
                                <td>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder ="Email Address *" ng-model ="staff.user_email" ng-required="true">
                            </div>
                                </td>
                                <td>
                            <div class="form-group">
                                <input type="tel" class="form-control" placeholder ="Phone Number *" value="" ng-model ="staff.phone_number" ng-required="true">
                            </div>
                                </td>
                            </tr>
                        </table>
                    </form>
                    <div class="col-xs-12 col-gt-xs-6 col-centered">
                            <button type="submit" class="btn btn-default" style="padding:11px;" form="addstaff" >Add Staff</button>
                            <button type="button" class="btn btn-success" ng-disabled="staffs.length<1" style="padding:11px;" ng-click="signUpStaffs()">Submit Staffs <img id="spinner-signup" class="spinner" src="images/spinner.gif" width="30"></button>
                        </div>
                    </div>-->

                <div class="row padding-top-30">
                    <div class="col-md-12">
                            <table class ="table table-bordered table-hover col-md-12" ng-if="staffs.length>0" >
                                <thead>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Email Address</th>
                                    <th>Phone Number</th>
                                    <th>Staff Role</th>
                                    <th style="width:11%;">Actions</th>
                                    <th></th>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="staff in staffs">
                                        <td><span ng-hide="staff.edit">{{staff.firstname}}</span><input ng-show="staff.edit" class="form-control" ng-model="staff.firstname"/></td>
                                        <td><span ng-hide="staff.edit">{{staff.lastname}}</span><input ng-show="staff.edit" class="form-control" ng-model="staff.lastname"/></td>
                                        <td><span ng-hide="staff.edit">{{staff.user_email}}</span><input ng-show="staff.edit" class="form-control" ng-model="staff.user_email"/></td>
                                        <td><span ng-hide="staff.edit">{{staff.phone_number}}</span><input ng-show="staff.edit" class="form-control" ng-model="staff.phone_number"/></td>
                                        <td><span ng-hide="staff.edit">{{staff.user_type}}</span><select class="form-control" ng-model ="staff.user_type" ng-show="staff.edit" ng-options="items.user_type_name as items.user_type_name for items in stafflevels"><option value="">Staff Role</option></select>
                                        <!--<input class="form-control" ng-model="staff.user_type"/>--></td>
                                        <td><button class="btn btn-danger" ng-click="deletestaff(staff)"><i class="fa fa-trash-o" aria-hidden="true"></i></button><button class="btn btn-primary" ng-click="edit(staff)">edit</button></td>
                                        <td style="vertical-align: middle;"><span ng-if="user_errors[staff.user_email]" class="btn-danger badge" title="{{::user_errors[staff.user_email]}}">?</span></td>
                                    </tr>
                                </tbody>
                            </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div ng-include="'includes/footer.html'"></div>
</div>
<!-- Range Slider -->
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/application.js"></script>
<script src="js/owl.carousel.js"></script>