<div id="page" class="page">
  <div ng-include="'includes/header.html'"></div>
  <div class="headline-bg about-headline-bg" style="height: 0px;"></div>
  <section class="story-section section section-on-bg" >
    <h2 class="title container text-center" style="color: #c82620;">Terms and Conditions</h2>

    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box red-thunderbird">
          <div class="portlet-title">
            <div class="caption">
              <i class="fa fa-wallet"></i>GENERAL TERMS AND CONDITIONS FOR RIBYFINANCE WEBSITE

            </div>
          </div>
          <div class="portlet-body">
            <p>
              Welcome to the RIBYFinance web site. This web site is owned and operated by Finance Life Technologies Limited,
              a limited liability company registered in The under Part A of the Companies and Allied Matters Act, Cap C4,
              Laws of the Federation of Nigeria 2004
              with incorporation number 1214343 and having its registered office at 70, Olonade Street Alagomeji, Yaba
                Lagos,Nigeria.
            </p>
            <br><br>
            <div class="clear-fix">

            </div>
            <p>
              Visitors to this web site are bound by the following terms and conditions so please read these carefully
              before going on. For the purposes of these terms and conditions, "this web site" means the RIBYFinance web site.
            </p>
            <br><br>
            <div class="clear-fix">

            </div>
            <p>
              Other affiliated web sites may contain terms and conditions which are different from these terms and
              conditions. On your journey around the RIBYFinance web site, please check the terms and conditions of
              the web site which you visit and do not assume that the terms and conditions have not been reviewed
              since your last visit.

            </p>
            <br><br>
            <ul>
              <li><p style="font-weight:bold; font-size: 20px;">Disclaimer</p>
                <ul>
                  <li><p>
                    This web site may include links to external web sites. When you follow such links, the external web site may
                    appear as a full screen in which case you will need to use the back button on your browser to return to this web site or in some cases, it may appear within the frame of this web site in which case you will be able to return to this web site by using the navigation buttons within the frame. Where an external web site appears within the frame of this web site, this is purely for ease of navigation back to this web site and does not indicate any
                    responsibility on our part for the external web site concerned, even if it is a web site affiliated with RIBYFinance company.
                  </p></li>
                  <br>
                  <li><p>
                    These links are provided in order to help you find relevant web sites, services and/or products which may be of
                    interest to you quickly and easily. It is your responsibility to decide whether any services and/or products
                    available through any of these web sites are suitable for your purposes. RIBYFinance  is not responsible for the
                    owners or operators of these web sites or for any goods and/or services they supply or for the content of their web
                    sites and does not give or enter into any conditions, warranties or other terms or representations in relation to
                    any of these or accept any liability in relation to any of these including any liability arising out of any claim
                    that the content of any external
                    web site to which this web site includes a link infringes the intellectual property rights of any third party.
                  </p></li>
                  <br>
                  <li><p>
                    All information or advice provided as part of this web site is intended to be general in nature
                    and you should not rely on it in connection with the making of any decision. RIBYFinance tries to
                    ensure that all information provided as part of this web site is correct at the time of inclusion on
                    the web site but does not guarantee the accuracy of such information. RIBYFinance is not liable for
                    any action you may take as a result of relying on such
                    information or advice or for any loss or damage suffered by you as a result of you taking this action.
                  </p></li>
                  <br>
                  <li><p>
                    RIBYFinance reserves the right to monitor any information transmitted or received through any Forum provided.
                    RIBYFinance, at its sole
                    discretion and without prior notice, may at any time review, remove or otherwise block any material posted.
                  </p></li>
                  <br>
                  <li><p>
                    Should any part of this site offer you the opportunity to join in or read from a forum, please be aware that
                    any communications posted on the forum represent the views of the individual who posted such communication and
                    are not to be taken as the views of RIBYFinance. RIBYFinance accepts no responsibility or liability for anything
                    posted on the forum by any user of the forum and you must not use the forum to post, upload, or otherwise transmit
                    information or pictures that are defamatory, a breach of privacy or otherwise unlawful.

                  </p></li>
                </ul>
              </li>
              <br><br>
              <li>
                <li><p style="font-weight:bold; font-size: 20px;">Terms and Conditions</p>
                  <ul>
                    <li><p>
                      This web site contains material including text, photographs and other images and sound, which is
                      protected by copyright and/or other intellectual property rights. All copyright and other intellectual
                      property rights in this material are either owned by RIBYFinance or
                      have been licensed to it by the owner(s) of those rights so that it can use this material as part of this web site.
                    </p></li>
                    <br>
                    <li><p>
                      This web site also contains trademarks, including the mark "RIBYFinance" and the RIBYFinance
                      emblem. All trademarks included on this web site belong to RIBYFinance or have been licensed
                      to it by the owner(s) of those trade marks for use on this web site.

                    </p></li>
                    <br>
                    <li><p>
                      You may -</p>
                      <ul>
                        <li>
                          <p>Access any part of the web site.</p></li>
                          <li><p>Print off one copy of any or all of the pages for your own personal reference.</p>
                          </li>
                        </ul>


                      </p></li>
                      <li>
                        <p>You may not, without our express written consent -</p>
                        <ul>
                          <li><p>Copy whether by printing off onto paper, storing on disk, downloading or in any other way, distribute
                          (including distributing copies), broadcast, alter or tamper with in any way or otherwise use any material
                          contained in the web site except as set out under "You may". These restrictions apply in relation to all
                          or part of the material on the web site;</p></li>
                          <li><p>Remove any copyright, trade mark or other intellectual property notices contained in the
                            original material from any material copied or printed off from the web site;</p></li>
                          <li><p>Link to this web site;</p></li>
                        </ul>
                        </li>
                    </ul>

                  </li>
                  <br><br>
                  <li><p style="font-weight:bold; font-size: 20px;">Changes to Terms and Conditions</p>
                    <ul>
                      <li><p>
                        RIBYFinance may change the terms and conditions and disclaimer set out above from time to time.
                        By browsing this web site, you are accepting that you are bound by the
                        current terms and conditions and disclaimer and so you should check these each time you revisit the site.
                      </p></li>
                    </ul>
                  </li>
                  <br><br>
                  <li><p style="font-weight:bold; font-size: 20px;">Changes to/Operation of Web Site</p>
                    <ul>
                      <li><p>
                        RIBYFinance may change the format and content of this web site at any time.
                      </p></li>
                      <li><p>
                        RIBYFinance may suspend the operation of this web site for support or maintenance work,
                        in order to update the content or for any other reason.
                      </p></li>
                      <li><p>
                        RIBYFinance International reserves the right to terminate access to this web site at any time and without notice.
                      </p></li>
                    </ul>
                  </li>
                  <br><br>
                  <li><p style="font-weight:bold; font-size: 20px;">Data Protection</p>
                    <ul>
                      <li><p>
                        Personal details provided to RIBYFinance or other RIBYFinance companies through this web site
                        will only be used in accordance with our privacy policy. Please read this carefully before going on.
                      </p></li>
                      <li><p>
                        By providing your personal details to us, you are consenting to its use in accordance with our company privacy policy.
                      </p></li>
                    </ul>
                  </li>
                  <br><br>
                  <li><p style="font-weight:bold; font-size: 20px;">Complaints Procedure</p>
                    <ul>
                      <li><p>
                        If you have a question or complaint about this web site, please contact us on email….

                      </p></li>
                    </ul>
                  </li>
                  <br><br>
                  <li><p style="font-weight:bold; font-size: 20px;">Jurisdiction</p>
                    <ul>
                      <li><p>
                        These terms and conditions are governed by and to be interpreted in accordance with Nigerian law and in the event of any dispute arising in relation to these terms and conditions or any dispute arising in relation to the web site whether in contract or tort or otherwise the Nigerian courts will have non-exclusive jurisdiction over such dispute.


                      </p></li>
                    </ul>
                  </li>

                </ul>
                <div class="margin-top-10"></div>
                <div class="clearfix"></div>
              </div>
            </div>
            <!-- END EXAMPLE TABLE PORTLET-->
          </div>
        </div>
        <!-- <div class="row">
        <div class="col-md-offset-1 col-md-10">
        <div class="portlet box red-thunderbird">
        <div class="portlet-title">
        <div class="caption">
        <i class="fa fa-wallet"></i>Latest Repayments
      </div>
    </div>
    <div class="portlet-body">

    <div class="margin-top-10"></div>
    <div class="clearfix"></div>
  </div>
</div>
</div>
</div> -->

</section>
<div ng-include="'includes/footer.html'"></div>
</div>
<!-- Range Slider -->
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/application.js"></script>
<script src="js/owl.carousel.js"></script>
