<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="index.html" class="site_title"><i class="fa fa-money"></i> <span> RIBY</span></a>
        </div>
        <div class="clearfix"></div>
        <!-- menu prile quick info -->
        <!-- /menu prile quick info -->
        <br />
        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">

                <ul class="nav side-menu">
                    <li>
                        <a><i class="fa fa-user"></i> User Management <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu" style="display: none">
                            <li></li>

                        </ul>
                    </li>
                    <li>
                        <a><i class="fa fa-file-archive-o"></i> Payroll <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu" style="display: none">
                            <li></li>
                            <li></li>
                            <li></li>

                        </ul>
                    </li>
                    <li>
                        <a><i class="fa fa-file-o"></i> Reports <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu" style="display: none">


                            <li></li>
                        </ul>
                    </li>


                </ul>
            </div>

        </div>
        <!-- /sidebar menu -->
        <!-- /menu footer buttons -->
        <!-- /menu footer buttons -->
    </div>
</div>