<footer class="item footer  footer-4" id="footer-4">
    <div class="row">
        <div class="container">
            <div class="footer-social-2 tx-center">
                <ul>
                    <li><a href="https://www.linkedin.com/company/riby-finance" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://twitter.com/Ribyfinance" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.facebook.com/profile.php?id=100009508510846" target="_blank"><i class="fa fa-facebook"></i></a></li>
                </ul>
            </div>
            <div class="copyright-text-1 tx-center">
                <p>© 2016 Riby Peer Lending. All Rights Reserved.</p>
                <p>Finance Life Technologies Limited</p>
                <!--<p><a href="#/terms"> TERMS & CONDITIONS | PRIVACY POLICY</a> </p>-->
            </div>
        </div>
    </div>
</footer>