<div class="page-footer-inner">
    2016 &copy; &nbsp; <span class="footer-name">Riby Peer Lending</span> || RIBY Finance || <span><a href="#/terms" target="_blank"> TERMS & CONDITIONS | PRIVACY POLICY</a> </span>
</div>
<div class="scroll-to-top">
    <strong style="color: #98a6ba;">RIBY-HQ</strong>
    <i class="icon-arrow-up"></i>
</div>