<style type="text/css">
    @font-face:Montserrat;
    src:url('../fonts/Montserrat-Regular.otf');
    body{
        font-family: Montserrat;
    }
    ul li{
        font-family: Montserrat;
    }
</style>
<header class="nav-header9 nav-app1" id="nav-header9" ng-controller="HeaderCtrl">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <a class="brand navbar-left" href="#"><img src="images/logo.png" alt="logo"></a>
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs" aria-expanded="false">
                    <!--<span class="sr-only">Toggle navigation</span>-->
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs">
                <!--<a class="brand navbar-left" href="#"><img src="images/logo.jpg" alt="logo"></a>-->
                <ul class="nav navbar-nav navbar-right">
                    <li id="home" ng-class="{ active: isActive('/home')}" style="display: none;"><a class="scroll" ng-href="#/home" target="_self">home</a></li>
                    <li id="about" ng-class="{ active: isActive('/about-us')}"><a class="scroll" ng-href="#/about-us" target="_self">about us</a></li>
                    <li id="superadmindashboard" ng-class="{ active: isActive('/dashboard')}" style="display: none;"><a ng-href="#/admin/dashboard" target="_self">dashboard</a></li>
                    <li id="staff" ng-class="{ active: isActive('/staff')}" style="display: none;"><a ng-href="#/staff" style="color:black !important;">staff</a></li>
                    <li id="dashboard" ng-class="{ active: isActive('/dashboard')}" style="display: none;"><a ng-href="#/dashboard" target="_self">dashboard</a></li>
                    <li id="repayments" ng-class="{ active: isActive('/repayments')}" style="display: none;"><a ng-href="#/repayments" style="color:black !important;">repayments<span class="label label-danger" ng-if="total_company_admin_notifications>0"><span ng-bind="total_company_admin_notifications"></span> new</span></a></li>
                    <li id="transaction" ng-class="{ active: isActive('/transaction')}" style="display: none;"><a ng-href="#/transaction" style="color:black !important;">transactions</a></li>
                    <li id="logout" style="display: none;"><a href="javascript:;" ng-click="logout()" style="color:black !important;">logout</a></li>
                    <li id="login" ng-class="{ active: isActive('/login')}"><a ng-href="#/login" style="color:black !important;">login</a></li>
                    <li id="request_invite"><a ng-href="#/request-invite" style="color:black !important;" >REQUEST INVITE</a></li>
                    <li id="terms"><a ng-href="#/terms" style="color:black !important;" >Terms and Conditions</a></li>
                    <li><a ng-href="http://riby.me" target="_blank" style="color:black !important;" >Go To Riby &rarr;</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!--<nav class="navbar navbar-inverse" ng-controller="HeaderCtrl" style="border-radius:0; border-radius:0;background:white;height:100px;border-color:white;">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand" class="img-responsive" style="padding-left:0px;"><img src="images/logo.jpg" alt="logo" style="width:15% !important;"></a>
        </div>
    </div>
</nav>-->
