<div class="page-sidebar navbar-collapse collapse" data-ng-controller="navCtrl">
    <!-- BEGIN SIDEBAR MENU -->
    <ul class="page-sidebar-menu page-sidebar-menu-hover-submenu page-sidebar-menu-light " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" ng-class="{'page-sidebar-menu-closed': settings.layout.pageSidebarClosed}">
        <!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->
        <li class="sidebar-search-wrapper">
            <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
            <form class="sidebar-search sidebar-search-bordered">
                <a href="javascript:;" class="remove">
                    <i class="icon-close"></i>
                </a>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search...">
					<span class="input-group-btn">
					<a href="javascript:;" class="btn submit"><i class="icon-magnifier"></i></a>
					</span>
                </div>
            </form>
            <!-- END RESPONSIVE QUICK SEARCH FORM -->
        </li>
        <li ng-class="start">
            <a href="#/admin/dashboard">
                <i class="fa fa-home"></i>
                <span class="title">Dashboard</span>
            </a>
        </li>
        <li>
            <a href="#/admin/company">
                <i class="fa fa-building"></i>
                <span class="title">Companies</span>
            </a>
        </li>
        <li>
            <a href="#/admin/request-invite">
                <i class="fa fa-building"></i>
                <span class="title">Request Invites <span class="badge badge-warning" ng-if="total_reqiest_invites>0"><span ng-bind="total_reqiest_invites"></span> new</span></span>
            </a>
        </li>
        <!--<li>-->
            <!--<a href="#/admin/staff">-->
                <!--<i class="fa fa-users"></i>-->
                <!--<span class="title">Staffs</span>-->
            <!--</a>-->
        <!--</li>-->
        <li>
            <a href="#/admin/notification">
                <i class="fa fa-comment"></i>
                <span class="title">Notifications <span class="badge badge-warning" ng-if="total_notifications>0"><span ng-bind="total_notifications"></span> new</span></span>
            </a>
        </li>
        <li>
            <a href="#/admin/disbursement">
                <i class="fa fa-thumbs-up"></i>
                <span class="title">Disbursements</span>
            </a>
        </li>
        <li>
            <a href="#/admin/repayment">
                <i class="fa fa-forward"></i>
                <span class="title">Repayments<span class="badge badge-warning" ng-if="total_repayment_due>0"><span ng-bind="total_repayment_due"></span> new</span></span>
            </a>
        </li>
        <li>
            <a href="#/admin/lend_history">
                <i class="fa fa-reply"></i>
                <span class="title">Lend History</span>
            </a>
        </li>
        <li>
            <a href="#/admin/borrow_history">
                <i class="fa fa-inbox"></i>
                <span class="title">Borrow History</span>
            </a>
        </li>
        <li>
            <a href="#/admin/external_transactions">
                <i class="fa fa-inbox"></i>
                <span class="title">External Transactions</span>
            </a>
        </li>
         <li>
            <a href="#/admin/openloans">
                <i class="fa fa-book"></i>
                <span class="title">Misc</span>
            </a>
        </li>
           <li>
            <a href="#/admin/settings">
                <i class="fa fa-cog"></i>
                <span class="title">Settings</span>
            </a>
        </li>
     
    </ul>
    <!-- END SIDEBAR MENU -->
</div>
