<div id="page" class="page">
    <div ng-include="'includes/header.html'"></div>
    <section id="page-title">
        <div class="container clearfix">
            <div class="row">
                <div class="col-md-12 col-sm-12 form-group">
                    <h1 class="inline-block"> <span ng-bind="staff.user_email"></span> | Staff Profile</h1>
                </div>
            </div>
        </div>
    </section>
    <section id="content">
        <div class="content-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card card-outlined card-underline">
                            <div class="card-head style-custom">
                                <header>
                                   Staff Profile
                                </header>
                            </div>
                            <div class="card-body profile">
                                <div class="row form-group">
                                    <div class="col-md-12 form-group">
                                        <span class="block" style="float:none; width:100px;height:100px;margin:auto;border:5px solid #adadae;border-radius:50%;text-align:center;overflow:hidden;">
                                            <img src="images/avatar.png" style="width:90px;height:90px;" alt="avatar" />
                                        </span>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <b>Full Name:</b>
                                        &nbsp; <span ng-bind="staff.firstname | chkNull"></span> <span ng-bind="staff.lastname"></span> <span ng-bind="staff.middlename"></span>
                                    </div>
                                </div>
                                <hr/>
                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <b>Phone Number:</b>
                                        &nbsp; <span ng-bind="staff.phone_number | chkNull"></span>
                                    </div>
                                </div>
                                <hr/>
                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <b>Email:</b>
                                        &nbsp; <span ng-bind="staff.user_email | chkNull"></span>
                                    </div>
                                </div>
                                <hr/>
                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <b>Gender:</b>
                                        &nbsp; <span ng-bind="staff.gender | chkNull"></span>
                                    </div>
                                </div>
                                <hr/>
                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <b>Address:</b>
                                        &nbsp; <span ng-bind="staff.address | chkNull"></span>
                                    </div>
                                </div>
                                <hr/>
                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <b>Date Of Birth:</b>
                                        &nbsp; <span ng-bind="staff.birthdate | chkNull"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card card-outlined card-underline">
                            <div class="card-head style-custom">
                                <header>
                                    List Of Loan Applications
                                </header>
                            </div>
                            <div class="card-body">
                                <ul class="nav nav-tabs" role="tablist">
                                    <!--<li role="presentation"><a href="#lend" target="_self" aria-controls="lend" role="tab" data-toggle="tab">Lend Requests</a></li>-->
                                    <li role="presentation" class="active"><a href="#borrow" target="_self" aria-controls="borrow" role="tab" data-toggle="tab">Borrow Requests</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="borrow">
                                        <div class="table-responsive">
                                            <table class="table table-banded table-striped table-hover">
                                                <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>LOAN AMOUNT</th>
                                                    <th>AMOUNT TO PAY</th>
                                                    <th>LOAN STATUS</th>
                                                    <th>LOAN PROCESS</th>
                                                    <th>LOAN TENURE</th>
                                                    <th>DATE OF REQUEST</th>
                                                    <th>DATE TO PAY</th>
                                                </tr>
                                                </thead>
                                                <tbody class="table-data1">
                                                <tr ng-repeat="borrow in borrows">
                                                    <td ng-bind="$index + 1"></td>
                                                    <td ng-bind="borrow.loan_amount | number"></td>
                                                    <td ng-bind="borrow.amount_to_pay | number"></td>
                                                    <td>
                                                        <span ng-if="borrow.status_id == 1">
                                                            <label class="label label-default">Inactive</label>
                                                        </span>
                                                        <span ng-if="borrow.status_id == 2">
                                                            <label class="label label-danger">Active</label>
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span ng-if="borrow.approve_flag == 0">
                                                            <label class="badge badge-info">Initiated</label>
                                                        </span>
                                                        <span ng-if="borrow.approve_flag == 1">
                                                            <label class="badge badge-success">Approved</label>
                                                        </span>
                                                        <span ng-if="borrow.approve_flag == 2">
                                                            <label class="badge badge-warning">Awaiting Disbursement</label>
                                                        </span>
                                                        <span ng-if="borrow.approve_flag == 3">
                                                            <label class="badge badge-disabled">Disbursed</label>
                                                        </span>
                                                    </td>
                                                    <td>4 months</td>
                                                    <td ng-bind="borrow.date_of_request | date"></td>
                                                    <td ng-bind="borrow.date_to_pay"></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <div class="loader1" style="display: none;">
                                                <img src="images/loader.gif" alt="Loading...">
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="lend">
                                        <div class="table-responsive">
                                            <table class="table table-banded table-striped table-hover">
                                                <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>AMOUNT LENT</th>
                                                    <th>LEND STATUS</th>
                                                    <th>AMOUNT TO RECEIVE</th>
                                                    <th>DATE LENT</th>
                                                </tr>
                                                </thead>
                                                <tbody class="table-data2">
                                                <tr ng-repeat="lend in lends">
                                                    <td ng-bind="$index + 1"></td>
                                                    <td>XXXXXXXX</td>
                                                    <td>
                                                        <span ng-if="lend.status_id == 1">
                                                            <label class="label label-default">Inactive</label>
                                                        </span>
                                                        <span ng-if="lend.status_id == 2">
                                                            <label class="label label-danger">Active</label>
                                                        </span>
                                                    </td>
                                                    <td>XXXXXXXX</td>
                                                    <td ng-bind="lend.date_lend"></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <div class="loader2" style="display: none;">
                                                <img src="images/loader.gif" alt="Loading...">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div ng-include="'includes/footer.html'"></div>
</div>
<!-- END MODAL VIEWS -->
<!-- Range Slider -->
<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
<!-- Range Slider -->
<script src="js/rangeslider.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/application.js"></script>
<script src="js/owl.carousel.js"></script>
<script src="js/triger.js" type="text/javascript"></script>
<script src="js/onepagescroll.js"></script>
<script src="js/rangeSliderScript.js"></script>