

<div id="page" class="page">
    <div ng-include="'includes/header.html'"></div>
    <section id="page-title">
        <div class="container clearfix">
            <div class="row">
                <div class="col-md-12 col-sm-12 form-group">
                    <h1 class="inline-block">Staff List</h1>
                </div>
            </div>
        </div>
    </section>
    <section id="content">
        <div style="padding:10px 0;">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-outlined card-underline" style="max-height:200px;overflow-y:200px;overflow-x:hidden;">
                            <div class="card-head style-custom">
                                <header style="width: 100%;">
                                    <span style="float:left; margin-top: 12px;">Administrators</span>
                                    <a href="#/update-profile" class="btn btn-disabled btn-sm" style="float: right; color:#ffffff; font-size: 16px;" ng-hide= "{{user.user_type_id === 7}}">
                                      Add Staff  <i class="fa fa-plus-circle"></i></a>
                                    <!--<a href="#/update-profile" class="btn btn-disabled btn-sm" style="float: right; color:#ffffff; font-size: 16px;" ng-hide= "{{user.user_type_id === 7}}">
                                      Add Staff  <i class="fa fa-plus-circle"></i></a>
                                    <span class="clearfix"></span>-->
                                </header>
                            </div>
                            <div class="card-body height-6">
                                <div class="table-responsive">
                                    <table class="table table-banded table-striped table-hover">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>FIRST NAME</th>
                                            <th>LAST NAME</th>
                                            <th>EMAIL</th>
                                            <th>PHONE NUMBER</th>
                                            <th>ROLE</th>
                                            <th>ACTIONS</th>
                                        </tr>
                                        </thead>
                                        <tbody class="table-data">
                                        <tr ng-repeat="admin in adminstrators">
                                            <td ng-bind="$index + 1"></td>
                                            <td ng-bind="admin.firstname"></td>
                                            <td ng-bind="admin.lastname"></td>
                                            <td ng-bind="admin.email"></td>
                                            <td ng-bind="admin.phone_number"></td>
                                            <td><span ng-if ="admin.user_type_id ==2">Company Admin</span><span ng-if ="admin.user_type_id ==6">Staff Admin</span><span ng-if ="admin.user_type_id ==7">Staff Viewer</span></td>
                                            <td>
                                                <span class="staff-actions-{{$index}}">
                                                    <a href="#/staff/details/{{staff.user_login_id}}" class="btn btn-success">View Details</a>
                                                    <a ng-click="deleteStaff(staff.user_login_id,$index)" ng-hide= "{{user.user_type_id === 6 || user.user_type_id === 7}}"class="btn btn-danger">Delete</a>
                                                </span>
                                                <img class="staff-spinner-{{$index}}" width="30" src="images/spinner.gif" alt="requesting..." style="display: none;">
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div class="loader" style="display: none;">
                                        <img src="images/loader.gif" alt="Loading...">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card card-outlined card-underline">
                            <div class="card-head style-custom">
                                <header style="width: 100%;">
                                    <span style="float:left; margin-top: 12px;">Staff</span>
                                    <!--<a href="#/update-profile" class="btn btn-disabled btn-sm" style="float: right; color:#ffffff; font-size: 16px;" ng-hide= "{{user.user_type_id === 7}}">
                                      Add Staff  <i class="fa fa-plus-circle"></i></a>-->
                                    <span class="clearfix"></span>
                                </header>
                            </div>
                            <div class="card-body height-6">
                                <div class="table-responsive">
                                    <table class="table table-banded table-striped table-hover">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>FIRST NAME</th>
                                            <th>LAST NAME</th>
                                            <th>EMAIL</th>
                                            <th>PHONE NUMBER</th>
                                            <th>ACTIONS</th>
                                        </tr>
                                        </thead>
                                        <tbody class="table-data">
                                        <tr ng-repeat="staff in staffs">
                                            <td ng-bind="$index + 1"></td>
                                            <td ng-bind="staff.firstname"></td>
                                            <td ng-bind="staff.lastname"></td>
                                            <td ng-bind="staff.email"></td>
                                            <td ng-bind="staff.phone_number"></td>
                                            <td>
                                                <span class="staff-actions-{{$index}}">
                                                    <a href="#/staff/details/{{staff.user_login_id}}" class="btn btn-success">View Details</a>
                                                    <a ng-click="deleteStaff(staff.user_login_id,$index)" ng-hide= "{{user.user_type_id === 6 || user.user_type_id === 7}}"class="btn btn-danger">Delete</a>
                                                </span>
                                                <img class="staff-spinner-{{$index}}" width="30" src="images/spinner.gif" alt="requesting..." style="display: none;">
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div class="loader" style="display: none;">
                                        <img src="images/loader.gif" alt="Loading...">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
    <div ng-include="'includes/footer.html'"></div>
</div>
<!-- Range Slider -->
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/application.js"></script>
<script src="js/owl.carousel.js"></script>